<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Cargo Contracts</h3>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["Page Name", "Actions"] %>
                  <% columns.each do |col| %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                   <%@pages.each do |p|%>
                    <tr>
                      <td> <%=p.page_type.humanize.split.map(&:capitalize).join(' ')%></td>
                      <td> <%= link_to "Edit", edit_admin_page_path(p.id), class: "btn btn-block btn-info" %> </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

