<div class="content-wrapper">
  <%= form_for @driver, url: fleet_driver_path(@driver.id)  do |f|%>
      <%= render partial: "form_fields" , locals: {f: f , action: "Edit", submit_button_text: "Update Driver"}%>
  <%end%>

</div>