<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1>Drivers Listing</h1>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <table id="shipments_listing" class="table table-bordered table-striped" data-page-length='10'>
                <thead>
                <tr>
                  <th>Name</th>
                  <th>ID No.</th>
                  <th>Mobile No.</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <%@drivers.each do |driver|%>
                    <tr>
                      <td><%= driver.full_name %></td>
                      <td><%=driver.driver_information.national_id %></td>
                      <td><%=driver.mobile %></td>
                      <td>
                        <div class = "btn-group">
                          <%# link_to "Chat Now","/", class: "btn  btn-secondary btn-flat"  %>
                          <%= link_to "Edit",edit_fleet_driver_path(driver) , class: "btn btn-success btn-flat" %>
                          <%if driver.vehicle.present? %>
                            <div title="Driver is Assigned to Vehicle" rel="tooltip">
                              <%= link_to "Delete" ,"#", format: :html,class: " disabled btn  btn-primary btn-flat " %>
                            </div>
                          <%else%>
                            <%= link_to "Delete" ,fleet_driver_path(driver.id ),  method: :delete, format: :html,class: "btn  btn-primary btn-flat "  %>
                          <%end%>
                        </div>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
