<div class="content-wrapper">
  <%= form_for @driver, url: fleet_drivers_path  do |f|%>
    <%= render partial: "form_fields" , locals: {f: f , action: "Add", submit_button_text: "Add Driver"}%>
  <%end%>

</div>
