<div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lorryz Shipment </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@vehicle, url: initial_shipments_dashboard_index_path(:amount=> @amount  ,:pickup_building_name=>@origin,:drop_building_name=>@destination ,:vehicle_types =>  @vehicle,:country => @country,:contact => @contact_no,:name=>@name,:pickup_country => @pickup_country ,:drop_country => @drop_country,:pickup_city => @pickup_city ,:drop_city => @drop_city,:shipment_type => @shipment_type ),method:"get" , remote: true) do |f| %>
        <div class="modal-body">
          <div class="container">
           <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :otp ,"Verification Code"%>
                <%=f.text_field :otp ,value:'', autocomplete: :off, placeholder: "Enter Verification Code*", class: "form-control", required: true %>
              </div>
<p> Please enter 4 digit verification code sent on your number to calculate rates. </p>

              
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Request</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>

<script>

function setcookies()
{
  alert("asd")
}
</script>


