<!-- banner begins -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
$(document).ready(function(){
    $("#testimonial-slider").owlCarousel({
        items:3,
        itemsDesktop:[1000,1],
        itemsDesktopSmall:[979,1],
        itemsTablet:[768,1],
        pagination:true,
        navigation:false,
        navigationText:["",""],
        slideSpeed:1000,
        autoPlay:true
    });
});
</script>
<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="banner-holder" id="home">
    <div class="banner-inner" style="min-height: 400px;">
        <div class="banner-heading">
         <h1>Connecting Cargo and Trucks Innovatively</h1>
         <div class="playstore-btns">
                  <div class="container">
                    <div class="row">
                    <div class="col-md-12">
                      <div class="download-btns">
                        <span> <a href="https://itunes.apple.com/pk/app/lorryz/id1451176427?mt=8&ign-mpt=uo%3D4" target="_blank"><%= image_tag "download-lorryz-app-store.png" , alt: ""%></a> </span>
                        <span data-toggle="modal" data-target="#iphone-link">Share URL</span>
                      </div>
                      <div class="download-btns">
                        <span><a href="https://play.google.com/store/apps/details?id=com.LORRYZ" target="_blank"><%= image_tag 'download-lorryz-google-play.png' , alt: ""%></a> </span>
                        <span data-toggle="modal" data-target="#android-link">Share URL</span>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
        </div>
        
    </div>
</div>


<!-- banner ends -->
<div class="banner-form">
            
            <div class="form-visual">
                 <h3>New Shipment</h3>
                <div class="form-holder">
                  <%= form_tag(home_shipment_dashboard_index_path) do %>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-5">

                                    



                            <div class="form-row">
                              <label for="">From</label>
                              <%= text_field_tag :pickup_location,'',class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate , onchange: "setTimeout(populate_data, 1500)", required: true %>
                            
                                <%= text_field_tag "pickup_building_name", "pickup_building_name", class: "pickup_building_name"  ,style: "display:none;"%>
                               <%= text_field_tag "pickup_lat", "pickup_lat", class: "pickup_lat"  ,style: "display:none;"%>
                                <%= text_field_tag "pickup_lng", "pickup_lng", class: "pickup_lng"  ,style: "display:none;"%>
                                <%= text_field_tag "pickup_city", "pickup_city", class: "pickup_city"  ,style: "display:none;"%>
                                <%= text_field_tag "pickup_country", "pickup_country", class: "pickup_country"  ,style: "display:none;"%>

                            </div>

                              <div class="form-row">
                              <label for="">Shipment Type</label>
                              <div class="selectCity">
                            
                               <%= select_tag :shipment_type, options_for_select(["Domestic","Cross_Border"]),{include_blank: "Specify Shipment Type?", class: "shipment_type", onchange: "populate_data()", required: true} %>
                              </div>


                            </div>
                          
                        </div>

                        
                        <div class="col-12 col-sm-6 col-md-5">
                          <div class="form-row">
                            <label for="">To</label>
                            <%= text_field_tag :drop_location,'',class: "banner-text-field google_auto_complete",placeholder: "Enter a location",onFocus: call_geolocate, required: true %>
                               <%= text_field_tag "drop_building_name", "drop_building_name", class: "drop_building_name"  ,style: "display:none;"%>
                             <%= text_field_tag "drop_lat", "drop_lat", class: "drop_lat"  ,style: "display:none;"%>
                                <%= text_field_tag "drop_lng", "drop_lng", class: "drop_lng"  ,style: "display:none;"%>
                                <%= text_field_tag "drop_city", "drop_city", class: "drop_city"  ,style: "display:none;"%>
                                <%= text_field_tag "drop_country", "drop_country", class: "drop_country"  ,style: "display:none;"%>

                          </div>
                            
                            <div class="form-row">
                              <label for="">Truck Type</label>
                              <div class="selectCity">
                                <%= select_tag :vehicle_type_id, options_for_select([]),{include_blank: "Specify Type of Truck Required?", class: "vehicle_type" , required: true} %>
                              </div>


                            </div>
                      </div>
                        <div class=" form-row col-12 col-sm-12 col-md-2">
                        <%= link_to "Let's go", email_dashboard_index_path() , class: "submit-btn gobtn do_it_link " , remote: true%>

                        </div>



                        
                    </div>
                  <% end %>
                </div>
                
            </div>
        </div>

<script>
  $(".do_it_link").click(function() {
    $(this).attr("href", function() {
      return "/dashboard/email/?pickup_building_name=" + $('.pickup_building_name').val()+"&pickup_lat=" + $('.pickup_lat').val()+"&pickup_lng=" + $('.pickup_lng').val()+"&pickup_city=" + $('.pickup_city').val() +"&pickup_country=" + $('.pickup_country').val()  +"&drop_building_name=" + $('.drop_building_name').val() +"&drop_lat=" + $('.drop_lat').val()+"&drop_lng=" + $('.drop_lng').val()+"&drop_city=" + $('.drop_city').val()+"&drop_country=" + $('.drop_country').val()+"&vehicle_type=" + $('.vehicle_type').val()+"&shipment_type=" + $('.shipment_type').val();
    });
  });
</script>
<!-- why choose us section begins
<div class="success-stories-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">9000 +</span>
          <span>Vehicles on the road</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">15000 +</span>
          <span>Skilled drivers</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="counter">
          <span class="count">1 Million</span>
          <span>Miles driven per day</span>
        </div>
      </div>
    </div>
  </div>
</div>
why choose us section ends -->

<!-- how it works begins -->
<div class="how-it-works-holder" id="how-it-works">
    <h2>How it works</h2>
    <div class="container">
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-holder center create-shipment">
                        <div class="circle">1</div>
                        <%= image_tag 'create-shipment-request-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lorryz-copy create-shipment">
                        <h3>Create Shipment Request</h3>
                        <p>
                          Input details like pick-up and drop-off location,
                          type of vehicle, etc. using your mobile app or through the website.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <div class="image-holder confirm-booking">
                        <div class="circle">2</div>
                        <%= image_tag 'confirm-your-booking-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="lorryz-copy confirm-booking">
                        <h3>Confirm your booking</h3>
                        <p>Receive best rates from various pre-screened transporters with their ratings and confirm your booking.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-holder visibility">
                        <div class="circle">3</div>
                        <%= image_tag 'shipment-visibility-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lorryz-copy visibility">
                        <h3>Visibility</h3>
                        <p>Track all your shipments real time and receive shipment alerts for better visibility.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lorryz-steps-row">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <div class="image-holder delivery-notice">
                        <div class="circle">4</div>
                        <%= image_tag 'delivery-notification-lorryz.png' , alt: ""%>
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="lorryz-copy delivery-notice">
                        <h3>Delivery Notification</h3>
                        <p>Receive delivery notification and make the payment for the shipment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- how it works ends -->

<!-- about us section begins -->
<div class="about-us-holder clearfix" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-copy">
                    <h2>About Us</h2>
                    <p>
                      An innovative online market place / digital platform through web and smart phone app that connects cargo owners and truckers to provide cost & time efficiency,  transparency and control through hassle free bookings, real-time tracking, more business generation and 2 way feedback within the entire delivery process.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us section ends -->

<!-- our vision begins -->
<div class="our-vision-holder">
    <div class="our-vision">
        <div class="vision-row">
            <h2>Our Vision</h2>
            <p>To be the largest technology driven logistics platform in the world to provide services through revolutionary change in traditional methods of cargo booking and assets optimisation.</p>
        </div>
    </div>
    <div class="mission-holder">
        <div class="vision-row">
            <h2>Our Mission</h2>
            <p>
              By thinking ahead and foreseeing change we aim to offer an innovative online platform for land transportation globally to provide cost &time efficiency, control to customers & more business generation to transporters through effective asset optimization thereby reducing carbon footprint.
            </p>
        </div>
    </div>
</div>
<div class="lorryz-expertise-holder">
    <div class="vision-row">
        <h2>Expertise</h2>
        <p>Management of team Lorryz possesses vast experience of more than 25 years in Marine transportation, intermodal logistics, land transportation integrated with technology, project and business development in complex and high growth markets.  </p>
        <!-- <ul class="priorities">
            <li> 1. Proposed, executed and launched several multi million dollars marine and technology driven intermodal transportation projects.</li>
            <li> 2. Ability to target niche markets such as Africa and Iraq.</li>
            <li> 3. Valuable contacts with Container shipping lines, Freight Forwarders, Custom Clearing agents, Logistics companies, shipper, Consignees and cargo owner.</li>
        </ul> -->
    </div>
</div>
<div class="strategy-holder">
    <div class="strategy-inner">
        <div class="vision-row">
            <h2>Strategy</h2>
            <p>Our four strategic priorities not only explain our strategy but also defines core values with a clear guidance on the achievement of our Vision and Mission.</p>
        </div>
    </div>
</div>
<div class="support-section strategic-priorities">
    <div class="container">
        <h2>Strategic Priorities</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'validate-learning.png' , alt: ""%></span>
                    <span>Validate Learning</span>
                    <p>Build - Measure - Learn to build a sustainable business is the core of our strategy.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'customer-priorites.png' , alt: ""%></span>
                    <span>Customer Priorities</span>
                    <p>Value addition and customer satisfaction.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'flexibility-to-change.png' , alt: ""%></span>
                    <span>Flexibility to Change</span>
                    <p>Adapt to changing technology and customer needs.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'sustaining-innovation.png' , alt: ""%></span>
                    <span>Sustaining Innovation</span>
                    <p>Create new sustainable sources of growth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="support-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag '24-hours-support-lorryz.png' , alt: ""%></span>
                    <span>24 hours support</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'lorryz-fast-and-reliable.png' , alt: ""%></span>
                    <span>Fast and reliable</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="support-logo">
                    <span class="image-holder"><%= image_tag 'lorryz-tracking-services.png' , alt: ""%></span>
                    <span>Tracking Service</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- suppor section ends -->

<!-- Testimonals-->
<div class="support-section strategic-priorities" style="padding-left: 10px ">
    <div class="container" style="max-width: 1400px;">
    <h2>CUSTOMER TESTIMONIALS </h2>
                <div id="testimonial-slider" class="owl-carousel" style="width: 1300px; padding-right: 5px">

                <div class="testimonial" style="width:430px; height: 300px">
                      <div class="testimonial-content">
                            <div class="pic">
                            <%= image_tag 'Shafeeq_Ahamad.jpg' , alt: ""%>
                            </div>
                            <div class="content">
                                <h4 class="name">Shafeek Ahamad</h4>
                                <span class="post">Group Head - Projects <br> (Saacom Group)</span>
                                <br>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                </ul>
                            </div>
                        </div> 
                        <p class="description">
                       <br>I got the best price with very good service through LORRYZ  app. The best part is that we will get multiple quotes and we can choose based on the price and rating of the driver. I could track my vehicle on the map which was one of the best part and I got timely notification as well. All my logistics issues are solved by LORRYZ app and I have complete peace of mind now. I will always use LORRYZ for all my transport requirements. I strongly recommend this LORRYZ app to all.
                        </p>
                     
                    </div>
 
                    <div class="testimonial" style="width:430px; height: 300px">
                        <div class="testimonial-content">
                            <div class="pic">
                                <%= image_tag 'Olga_Golubeva.jpg' , alt: ""%>
                            </div>
                            <div class="content">
                                <h4 class="name">Olga Golubeva</h4>
                                <span class="post">CEO <br>(PHOTOROOM - Dubai)</span>
                                <br>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                </ul>
                            </div>
                        </div>
                        <p class="description">
                           <br>We have used the LORRYZ service by means of Mobile Application and I would recommend the company firstly because of its really easy to use Mobile Application. We solved our logistics problem in one click without spending hours for communication. As a manager I highly appreciate quality of service without being involved in a process more than it's required. LORRYZ is the best choice if you are looking for qualified service, ease of usability and 24h support.
                            <br>
                        </p>
                     
                    </div>

                    <div class="testimonial" style="width:430px; height: 300px">
                          <div class="testimonial-content">
                            <div class="pic">
                                  <%= image_tag 'Sanjeev_Kumar.jpg' , alt: ""%>
                            </div>
                            <div class="content">
                                <h4 class="name">Sanjeev Kumar</h4>
                                <span class="post">Business Development Manager <br>(SAGA ORIENT SHIPPING & LOGISTICS)</span>
                                <br>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                </ul>
                            </div>
                        </div>
                        <p class="description">
                           <br>I recommend this app since I love the concept and its well designed and easy to use with a lot of unique features. You don't need to be a tech person to use it, as it works simple and straight. Best part is that everything can be handled without as much as a call or email. Rates are the best in the market that I have searched so far, less hassle than dealing with a broker on the phone is a plus. It’s a, 1 stop shop, no more factoring, and they have a great supporting team as well.
                        
                        </p>
                    </div>
                 </div>
    </div>
</div>
<!-- END of Testimonals-->
<%= render partial: "share_iphone_link" %>
<%= render partial: "share_android_link" %>

<script>

  function populate_data()
  {
 var vehicle_type =  document.getElementById("shipment_type").value
 var country_name =  document.getElementById("pickup_country").value
   $.ajax({
                type: "get",
                url:  "/countries/get_vehicles_by_country?filter_by=" + country_name + '&type=' + vehicle_type,
                dataType: 'json',
                success: function (resp) {
                    if (resp.vehicle_types.length > 0) {
                        $("#vehicle_type_id").removeAttr("disabled").removeClass("disabled");
                        var $el = $("#vehicle_type_id");
                        $el.empty(); // remove old options
                        $el.append($("<option> Specify Type of Truck Required? </option>"));
                        $.each(resp.vehicle_types, function(index,obj) {
                            $el.append($("<option></option>")
                                .attr("value", obj.id).text(obj.name));
                        });
                    }else{
                        $("#vehicle_type_id").empty().append($("<option> Specify Type of Truck Required? </option>"));
                        $("#vehicle_type_id").attr("disabled","true").addClass("disabled");
                    }


                },
                error: function (resp) {
                    console.log("Error getting Location")
                    $("#vehicle_type_id").empty().append($("<option> Specify Type of Truck Required? </option>"));
                    $("#vehicle_type_id").attr("disabled","true").addClass("disabled");
                }
            });
}

        

</script>