var modalName = "#discount_modal";
$(modalName).remove();
$("body").append("<%= j render "otp_shipments" %>");
$(modalName).modal("show");
$(modalName).on('hidden.bs.modal', function (e) {
  $(modalName).remove();
       window.location = window.location + '#loaded';
        window.location.reload();
});