<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="static-content-page">
        <h1><%="#{@page.title}".html_safe %> </h1>
        
        <%="#{@page.body}".html_safe %>
      </div>
    </div>
  </div>
</div>
