<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "From" %>
 <%= f.text_field :pickup_location,class: "banner-text-field google_auto_complete from-location",value:@instant_rate.pickup_city,placeholder: "Enter a location", onFocus: call_geolocate, required: true if @instant_rate.pickup_city.present? %>
  <%= f.text_field :pickup_location,class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate, required: true if @instant_rate.pickup_city.blank?%>
  <%= f.text_field :pickup_city , class: "pickup_city"  ,style: "display:none;", id:"pickup_city"%>
  <%= f.text_field :pickup_country , class: "pickup_country"  ,style: "display:none;", id:"pickup_country" %>

</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "To" %>
  <%= f.text_field :dropoff_location,class: "banner-text-field google_auto_complete from-location",value:@instant_rate.to_city,placeholder: "Enter a location", onFocus: call_geolocate, required: true if @instant_rate.to_city.present?%>
   <%= f.text_field :dropoff_location,class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate, required: true if @instant_rate.to_city.blank?%>
  <%= f.text_field :to_city , class: "to_city"  ,style: "display:none;"%>
  <%= f.text_field :to_country , class: "to_country"  ,style: "display:none;" %>

</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :vehicle_type_id,"Select Vehicle Type" %>
  <%= f.collection_select :vehicle_type_id, current_user.country.vehicle_types, :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control" , required: true} %>
  
</div>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :amount %>
  <%= f.text_field :amount , class: "form-control", placeholder: "* Enter Amount" , required: :true%>
</div>
<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>
<script>
  function populatePickupLocation(){
    console.log("dasdasdasdada");
  }
  $(".do_it_link").click(function() {
    $(this).attr("href", function() {
      return "/dashboard/email/?pickup_building_name=" + $('.pickup_building_name').val()+"&pickup_lat=" + $('.pickup_lat').val()+"&pickup_lng=" + $('.pickup_lng').val()+"&pickup_city=" + $('.pickup_city').val() +"&pickup_country=" + $('.pickup_country').val()  +"&drop_building_name=" + $('.drop_building_name').val() +"&drop_lat=" + $('.drop_lat').val()+"&drop_lng=" + $('.drop_lng').val()+"&drop_city=" + $('.drop_city').val()+"&drop_country=" + $('.drop_country').val()+"&vehicle_type=" + $('.vehicle_type').val();
    });
  });
</script>
