<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Instant Rates</h3>
              <br>
              <%= link_to "Add New Instant Rate" , new_moderator_instant_rate_path , class: "btn btn-flat btn-success pull-right add_new_blog"%>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["From", "TO","Vehicle Type","Amount", "Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @instant_rates.sort_by {|b| b.id}.each do |instant_rate|%>
                  <tr>
                    <td><%= instant_rate.try(:pickup_city) %>, <%= instant_rate.try(:pickup_country) %></td>
                    <td><%= instant_rate.try(:to_city) %>, <%= instant_rate.try(:to_country) %></td>
                     <td><%= instant_rate.try(:vehicle_type).try(:name) %></td>
                    <td><%= instant_rate.try(:amount) %></td>
                    <td>
                      <%= link_to "Edit", edit_moderator_instant_rate_path(instant_rate), class: "btn btn-info btn-flat block-btn" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>