<div class="receipt-modal-inner">
 <br>
  <hr style="height:3px;border-width:0;color:#0094b9;background-color:#0094b9 ; margin-top :151%"> 

  <b><p style = "text-align:center ; font-size :30px; margin-top :21%">Statement of Account</p></b>

  




 <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
      <tr>
        <% columns = ["Customer Name","Amount","Account Balance"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
      <%if @customer.length != 0 %>
          <%@sum =0%>
          <%  @customer.each do |customer_cargo| %>
             <%@sum =@sum + Shipment.cargo_pending_payments(customer_cargo) if  Shipment.cargo_pending_payments(customer_cargo) != 0 %>

          <%if Shipment.cargo_pending_payments(customer_cargo) != 0 %>
          <tr>
          <td>
           <%=customer_cargo.full_name    if customer_cargo.company.company_type == "individual"%>
          <%=customer_cargo.company.company_name  if customer_cargo.company.company_type != "individual" %> 
 
           
           </td>
          <td> <%=Shipment.cargo_pending_payments(customer_cargo).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> </td>
      
          <td> <%=@sum.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> </td>
          </td>
          
        </tr>  
        <tr>
         <% end %> <% end %> <% end %>
              <tr>
          <td></td>
     
            <td> 
             <%= @sum.humanize.to_s.try(:camelcase)  if @sum.present? %>.
          </td>
            <td> 
         <%= @country.currency%>   <%= @sum.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse if @sum.present? %>
          </td>
        </tr>  
        
          

      </tbody>
    </table>


 <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
        <tr>
  <b><p style = "text-align:center ; font-size :20px;">AGEING REPORT</p></b>
        </tr>
      <tr>
        <% columns = ["Total Amount Due","1-15 Days Past Due","15-30 Days Past Due","30-45 Days Past Due","45-60 Days Past Due","60-90 Days Past Due","90+ Days Past Due"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
       <tr>
         <td> <%=Shipment.country_pending_payments(@country.id).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>   
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today(),Date.today()- 15.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today()- 15.day,Date.today()- 30.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today()- 30.day,Date.today()- 45.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today()- 45.day,Date.today()- 60.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today()- 60.day,Date.today()- 90.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
          <td> <%=Shipment.country_pending_payments_ageing(@country.id,Date.today()- 90.day,Date.today()- 3000.day).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>

         
        </tr>         
      </tbody>
    </table>

