<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Statement of Account</h3>
              <%#= render partial: "/shared/download_excel" %>
                 <%= link_to "SOA w.r.t Customers", admin_soa_index_path(:paramater_category => "customer"), class: "btn btn-flat btn-success pull-right" %>
              <%= link_to "SOA w.r.t Country" , admin_soa_index_path(:paramater_category => "country") , class: "btn btn-flat btn-success pull-right  add_country"%> 
            
              <br>
                 </div>
         
    <form action="">
          <% if @category == "customer"%>
       
            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["Customer ID","Full Name","Action"]
                   columns.each do |col|
                %>
                  <th style="text-align: left;"><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% @listing.each do |customer|%>
                  <tr>
                    <td><%= customer.try(:company_id) %></td>
                    <td><%= customer.try(:company).try(:company_name) %></td>
                  <td> <%= link_to "View SOA", customer_accounts_admin_soa_index_path(:id =>  customer.try(:company_id), format: :pdf),target: :_blank, class: "block-btn btn btn-info btn-flat" %>    </td>
                  </tr>
              <%end%>
              </tbody>
            </table>
            <%end%>

            

                     <% if @category == "country"%>
            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["Country ID","Country Name","Action"]
                   columns.each do |col|
                %>
                  <th style="text-align: left;"><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% @countries.each do |country|%>
                  <tr>
                    <td><%= country.try(:id) %></td>
                    <td><%= country.try(:name) %></td>
                 
                   <td> <%= link_to "View SOA", country_accounts_admin_soa_index_path(:id =>country.try(:id), format: :pdf),target: :_blank, class: "block-btn btn btn-info btn-flat" %>    </td>
                  </tr>
              <%end%>
              </tbody>
            </table>
            <%end%>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>