  <div class="content-wrapper" style="min-height: 539px;background-color: #eee">
    <section class = "content">
    <div >
      <!--<img src="/assets/blog-headerImage.png" style="width:100%;height:400; align:middle;">-->
      <%#= image_tag 'lorryz-banner.jpg' , alt: "", :style => "width:100%;height:400; align:middle;" %>
    </div>
      <div>
    <div class = "container-fluid">
      <br>
      <%@blogs.sort_by {|b| b.created_at}.reverse!.each_with_index do |blog, index|%>
        <div class="blog-index-view">
          <ul>
            <li>
              <!--<img src="<%=url_for(blog.avatar)%>)" style="width:20px;height:20px; align:middle;">-->
              <img src="<%=url_for(blog.avatar)%>)">
              <h3><%= link_to blog.try(:title),blog_path(blog.id , blog.slug), style: "color: black;"%></h3>
              <p><%= blog.try(:initial_summary) %>..<%= link_to " Readmore", blog_path(blog.id , blog.slug)%></p>
            </li>
          </ul>
        </div>
      <%end%>
      </div>
      </div>
    </section>
  </div>

