    <div class="col-md-12  " style ="padding: 10%;" >
        <h1 ><%= @blog.try(:title) %></h1>
        <div>
            <div>
                <p>Published: <%= @blog.updated_at.strftime("%d %B %Y") %> | By <%= link_to "Lorryz.com", root_path%></p>        
            </div>
            <div>    
                <h6><i><%= @blog.try(:initial_summary) %></i></h6>
            </div>
            <div>
                <img  class="col-md-12 "src="<%=url_for(@blog.avatar)%>)" style=" max-width: 100%;
  height: auto; align:center;">     
            </div>
            <div >
                <div >
                    <div class = "summernote-bs4" >
                        <%= raw @blog.try(:description) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
