<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Financial Report</h3>
              <%#= render partial: "/shared/download_excel" %>
              <br>
              <%# <%= link_to "Download in Excel", url_for(format: :xlsx), class: "btn btn-flat btn-success pull-right" %> 
            </div>


           
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_financial_report_index_path, method: :get do |f|%>
                   <div class="row ship">
                
                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :country_id , "Country" %>
                    <div class="selectHolder">
                      <%= f.collection_select :country_id ,Country.all, :id,:name,{include_blank: true, :selected => @country_id},{class: "form-control" } %>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :from_date %>
                    <div class="selectHolder">
                      <%= f.text_field :from_date , value:@end_date, class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  %>
                    </div>

                  </div>

                         <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :to_date %>
                    <div class="selectHolder">
                      <%= f.text_field :to_date , value: @start_date, class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  %>
                    </div>

                  </div>






                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
            
                </div>
                <% end %>
              </div>




<div class = "table-responsive1">

 <table class="table table-bordered  " >
      <thead>
      <tr>
        <% columns = ["Total Driver","Repeated Drivers","Drivers Repeatibility % ","Repeated Trips"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
       <tr>
                   <td><%=@total_indi%> </td>
                   <td><%=@total_indi_active%> </td>
                   <td><%=number_with_precision (@total_indi_active.to_f/@total_indi.to_f)*100 , :precision => 2 %> </td>
                   <td><%=@repeated_trip.count%> </td>


              </tr> 


      </tbody>
    </table>
        </div>
















            <div class = "card-body">
            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["Customer", "Total Revenue", "Total Expense","Total Profit","No. of Shipmeents","No. of Trips","Intercity Trips","Intracity Trips","Cross Border Trips"]
                   columns.each do |col|
                %>
                  <th><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
               <tr>
                <td><b>Total</b></td>
                <td><b><%=  @shipment.total_payments %></b></td>
                <td><b><%=  @shipment.total_payments_fleet %></b></td>
                  <td><b><%=  @shipment.total_payments -  @shipment.total_payments_fleet %></b></td>
                <td><b><%= @shipment.count %></b></td>
                <td><b><%= @shipment.sum_no_of_vehicles %></b></td>
                <td><b><%= @shipment.where(category:'Inter_City').count%></b></td>
                <td><b><%= @shipment.where(category:'Intra_City').count%></b></td>
                <td><b><%= @shipment.where(category:'Cross_Border').count%></b></td>

              <% @customers.each do |customers|%>
                  <tr>
                     <td><%= Company.find_by_id(customers.try(:company_id)).company_name %></td>
                <td><b><%=  @shipment.cargo_payments(customers) %></b></td>
                <td><b><%=  @shipment.fleet_payments(customers) %></b></td>
                  <td><b><%=  @shipment.cargo_payments(customers) -  @shipment.fleet_payments(customers) %></b></td>
                <td><b><%= @shipment.where(company_id: customers.company_id).count %></b></td>
                <td><b><%= @shipment.where(company_id: customers.company_id).sum_no_of_vehicles  %></b></td>
                <td><b><%= @shipment.where(category:'Inter_City',company_id: customers.company_id).count%></b></td>
                <td><b><%= @shipment.where(category:'Intra_City',company_id: customers.company_id).count%></b></td>
                <td><b><%= @shipment.where(category:'Cross_Border',company_id: customers.company_id).count%></b></td>
 

                  </tr>
              <%end%>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>