<div style="padding: 15px">
  <p>Hello SuperAdmin,</p>
  <p>
    New admin has been created successsfully.
    <br>
    <br>
    His login credentials are follwoing: <br><br><br>
    Email: <%= @admin.email %> <br>
    Mobile Number: <%= @admin.mobile %> <br>
    Password: <%= @password %>
    <br>
  </p>
</div>