<script>
 var x=1;

  if (<%= @pickup_time.inspect.html_safe !=nil %>){
    x  = 0}
      
      console.log("x is " +x)
      
       </script>


 

<%
       puts "\n\n\n\t\t lat is #{@shipment.no_of_vehicles} \n\n"

if !@shipment.id 

                 puts "\n\n\n\t\t lat is if \n\n"

   @pickup_time = params[:pickup_time]
   @pickup_building_name = params[:pickup_building_name]
   @drop_location = params[:drop_location]
   @drop_building_name = params[:drop_building_name]
   @pickup_date = params[:pickup_date]
   @loading_time = params[:loading_time]
   @unloading_time = params[:unloading_time]
   @vehicle_type_id = params[:vehicle]
   @no_of_vehicles = params[:no_of_vehicles]
   @cargo_description = params[:cargo_description]
   @cargo_packing_type = params[:cargo_packing_type]
   @payment_option = params[:payment_option]
   @address =params[:address]
   @latitude = params[:latitude]
   @longitude = params[:longitude]
   @drop_building_name = params[:drop_building_name]
   @drop_address =params[:drop_address]
   @dropoff_lat= params[:dropoff_lat]
   @dropoff_long= params[:dropoff_long]
   @city=params[:city]
   @dcity=params[:dcity]


        if  (@address==nil )
        @address= cookies[:address] 
        end 
           if ( @latitude == nil )
        @latitude= cookies[:latitude] 
        end 
           if ( @longitude == nil )
        @longitude= cookies[:longitude] 
        end  
          if ( @city == nil )
        @city= cookies[:city] 
        end  
        
        if  (@pickup_building_name == nil )
        @pickup_building_name= cookies[:pickup_building_name]
         end 
            if ( @drop_address == nil )
        @drop_address= cookies[:drop_address]
         end  
           if ( @dropoff_lat == nil )
        @dropoff_lat= cookies[:dropoff_lat] 
        end  
          if  (@dropoff_long == nil )
        @dropoff_long= cookies[:dropoff_long] 
        end  
          if  (@dcity == nil )
        @dcity= cookies[:dcity] 
        end 
           if  (@drop_building_name == nil )
        @drop_building_name = cookies[:drop_building_name]
         end    


      end
  %>

  <script>
 
if (x) {

  
 var pickup_time =""
 var pickup_building_name=""
 var loading_time =""
 var drop_address=""
 var pickup_date=""
 var drop_building_name=""
 var unloading_time =""
 var vehicle_type_id =''
 var address =''
 var payment_option =''
 var cargo_packing_type=''
 var cargo_description=''
 var no_of_vehicles =''
 var latitude =''
 var longitude =''
 var dropoff_lat =''
 var dropoff_long =''
 var city =''
 var dcity =''
  

 

  if (<%= @pickup_time.inspect.html_safe !=nil %>){
     pickup_time = <%= @pickup_time.inspect.html_safe %>;
  //  console.log(pickup_time)
    }
    
  if (<%= @pickup_time.inspect.html_safe !=nil %>){
     pickup_time = <%= @pickup_time.inspect.html_safe %>;
  //  console.log(pickup_time)
    }
  


  if (<%= @pickup_building_name.inspect.html_safe !=nil %>){
 
     pickup_building_name = <%= @pickup_building_name.inspect.html_safe %>;
   // console.log(pickup_building_name)
    }

  if (<%= @drop_address.inspect.html_safe !=nil %>){
       drop_address = <%= @drop_address.inspect.html_safe %>;
   //   console.log(drop_address)
      }

  if (<%= @drop_building_name.inspect.html_safe !=nil %>){  
     drop_building_name = <%= @drop_building_name.inspect.html_safe %>;
  //  console.log(drop_building_name)
    }
  
  if (<%= @pickup_date.inspect.html_safe !=nil %>){
     pickup_date = <%= @pickup_date.inspect.html_safe %>;
  //  console.log(pickup_date)
    }

  if (<%= @loading_time.inspect.html_safe !=nil %>){
     loading_time = <%= @loading_time.inspect.html_safe %>;
   // console.log(loading_time)
    }

  if (<%= @unloading_time.inspect.html_safe !=nil %>){
     unloading_time = <%= @unloading_time.inspect.html_safe %>;
  //  console.log(unloading_time)
    }

  if (<%= @vehicle_type_id.inspect.html_safe !=nil %>){
     vehicle_type_id = <%= @vehicle_type_id.inspect.html_safe %>;
  //  console.log(vehicle_type_id)
    }

  if (<%= @no_of_vehicles.inspect.html_safe !=nil %>){
     no_of_vehicles = <%= @no_of_vehicles.inspect.html_safe %>;
   // console.log(no_of_vehicles)
    }

  if (<%= @cargo_description.inspect.html_safe !=nil %>){
     cargo_description = <%= @cargo_description.inspect.html_safe %>;
   // console.log(cargo_description)
    }

  if (<%= @cargo_packing_type.inspect.html_safe !=nil %>){
     cargo_packing_type = <%= @cargo_packing_type.inspect.html_safe %>;
   // console.log(cargo_packing_type)
    }

  if (<%= @payment_option.inspect.html_safe !=nil %>){
    payment_option = <%= @payment_option.inspect.html_safe %>;
   // console.log(payment_option)
    }

  if (<%= @address.inspect.html_safe !=nil %>){
     address = <%= @address.inspect.html_safe %>;
   // console.log(address)
    }

  if (<%= @latitude.inspect.html_safe !=nil %>){
     latitude = <%= @latitude.inspect.html_safe %>;
    console.log(latitude)
    }

  if (<%= @longitude.inspect.html_safe !=nil %>){
     longitude = <%= @longitude.inspect.html_safe %>;
   // console.log(longitude)
    }  

  if (<%= @dropoff_lat.inspect.html_safe !=nil %>){
     dropoff_lat = <%= @dropoff_lat.inspect.html_safe %>;
   // console.log(dropoff_lat)
    }

  if (<%= @dropoff_long.inspect.html_safe !=nil %>){
     dropoff_long = <%= @dropoff_long.inspect.html_safe %>;
  //  console.log(dropoff_long)
    }   

  if (<%= @city.inspect.html_safe !=nil %>){
     city = <%= @city.inspect.html_safe %>;
   // console.log(city)
    } 

  if (<%= @dcity.inspect.html_safe !=nil %>){
     dcity = <%= @dcity.inspect.html_safe %>;
   // console.log(dcity)
    }

}
  </script>

<%
  
if !@shipment.id 
%>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%=action%> Shipment</h3>
          </div>
          <form role="form">
            <div class="card-body">
              <% unless action == "Edit" %>
                <%=f.hidden_field :state_event ,value:  "posted" %>
              <%end %>
              <%=f.hidden_field :company_id ,value:  current_user.company.id %>
              <%if current_user.company.is_contractual? %>
                <div class="form-group">
                  <%= f.label "Select a contract"%>
                  <%= f.collection_select :location_id ,current_user.company.locations, :id,:contractual_locations ,{include_blank: "New Destination without Contract"},{class: "form-control" , onchange: "populate_data()"} %>
                </div>
                <%= f.hidden_field :amount%>
                
              <%end%>

                  <div class="form-group">
           
                <%= f.label "*" , class: "label_required"%>
                
                <%= f.label :pickup_location, "Pickup Location Address" %> 
                <%# <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=pickup_location()> Select Pickup Location</button>  %>
        
                <%=f.text_field :pickup_location , value: @address, class: "form-control" , placeholder: "Pickup Location Address*" , onchange: "setTimeout(setcookies, 2000)",required: true , onFocus: call_geolocate%>
                <%=f.hidden_field :pickup_lat  , value: @latitude%>
                <%=f.hidden_field :pickup_lng ,value: @longitude%>
                <%=f.hidden_field :pickup_city ,value:@city %>
              
              </div>



              <% if @individual %>
              <div class="form-group">
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name ,value: @pickup_building_name , class: "form-control" , autocomplete: "Pickup Location", onchange: "setTimeout(setcookies, 2000)",placeholder: "Pickup Location Name" %>
              </div>
                 <% else %>
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name , value: @pickup_building_name, class: "form-control", autocomplete: "Pickup Location" , placeholder: "Pickup Location Name", required: true %>
              </div>
               <% end %>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_location, "Dropoff Location Address"%>
               <%# <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=dropoff_location()> Select DropOff Location</button>  %>
                <%=f.text_field :drop_location , value: @drop_address, class: "form-control google_auto_complete", autocomplete: "Drop Location" , placeholder: "Dropoff Location  Address*" , onchange: "setTimeout(setcookies, 2000)", required: true, onFocus: call_geolocate  %>
                <%=f.hidden_field :drop_lat , value: @dropoff_lat %>
                <%=f.hidden_field :drop_lng , value: @dropoff_long %>
                <%=f.hidden_field :drop_city ,value: @dcity %>
              </div>
                <% if @individual %>
              <div class="form-group">
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , value: @drop_building_name, class: "form-control", onchange: "setTimeout(setcookies, 2000)" , placeholder: "DropOff Location Name"%>
              </div>
                <% else %>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , value: @drop_building_name, class: "form-control" , placeholder: "DropOff Location Name", required: true %>
              </div>
                 <% end %>

              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date , value: "null", class: "form-control datepicker" , autocomplete: :off ,placeholder: "Pick up Date*" , required: false%>
              </div>
              <% else %>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date , value: @pickup_date, class: "form-control datepicker" , autocomplete: :off ,placeholder: "Pick up Date*" , required: true%>
              </div>
              <% end %>

              <div class="bootstrap-timepicker">

              <% if @individual %>
                <div class="form-group" style="display:none">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , value: @pickup_time, class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: false %>
                  </div>
                  <% else %>
                  <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , value: @pickup_time, class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: true %>
                  </div>
              <% end %>

                </div>
            
              </div>
              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control",  value: "null", required: false%>
              </div>
              <% else %>
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control",  value: @loading_time, required: true%>
              </div>
              <% end %>
              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :unloading_time, "Unloading Time at Dropoff (Hours)" %>
                <%=f.text_field :unloading_time , placeholder: "Unloading Time*", class: "form-control" ,  value: "null", required: false%>
              </div>
              <% else %>
              
              <% end %>
                <%# <% if @individual %>
              <%# <div class="form-group" > %>
                <%# <%= f.label "*" , class: "label_required"%> 
                <%# <%= f.label :vehicle_type_id, "Specify Type of Vehicgle Required?" %> 
                <%# <%=f.hidden_field :vehicle_type_id , value:@vehicle_type_id%>            
<%#  %>
              <%# <%= link_to "Specify Type of Truck Required?"
               ,vehicle_type_cargo_shipments_path(:pickup_building
               _name => @pickup_building_name,:drop_building_name 
               => @drop_building_name,:pickup_date => @pickup_date
               ,:loading_time => @loading_time,:unloading_time => @unl
               oading_time,:no_of_vehicles => @no_of_vehicles,:cargo_desc
               ription => @cargo_description,:cargo_packing_type => @cargo_
               packing_type,:payment_option => @payment_option,:address => 
               @address,:drop_address => @drop_address,:latitude => @latitude,:longitude => @longitude,:dropoff_lat => @dropoff_lat,:dropoff_long => @dropoff_long ,:city => @city,:dcity => @dcity),remote: :true,class: "form-control" , onchange: "setcookies()" , required: true %> 
                <%# <%  if(@vehicle_type_id) %>
    <%# /                @vehicle_types.each do |vehicle| %>
                      <%# if vehicle.id.to_s == @vehicle_type_id.to_s %>
                          <%# <%= image_tag(vehicle.image_url.first, :size => 
                          "100x80") %> 
               <%# <%  end end end   %> 
                  <%# </div>  %>
                 <%# <% else %> 

         


                    <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, "Specify Type of Vehicle Required?" %>
                <%= f.collection_select :vehicle_type_id, @vehicle_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :no_of_vehicles, "Number of Vehicles Required" %>
                <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com"></i>
                <div class = "input-group">
                  <%=f.select :no_of_vehicles,Shipment::NO_OF_VEHICLES,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com", required: true}%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_description %>
                <%=f.text_area :cargo_description , value: @cargo_description, class: "form-control", placeholder: "Cargo Description*", required: true%>
                
              </div>

               <% if @shipment.cargo_description_url.present? %>
                    <div class="form-group" id="player">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                    <audio controls="controls" autobuffer="autobuffer" >
                    <source src="data:audio/wav;base64,<%= @shipment.cargo_description_url%>" />
                    </audio>
                    <br>
                    
        
                    </div>
                    <div class="form-group">

                    <button id="delete" type="button" onclick="deleteAudio()"> Delete </button>

                     <button id="update" type="button" onclick="updateAudio()">Update</button>
                    </div>
                  <div class="form-group" id="addR" style="visibility:hidden;">
                   <%= f.label :cargo_description, "Attach Audio Description"   %>
                  <button id="record" type="button">Record</button>
                  <button id="stop" type="button" disabled>Stop</button>
                  <button id="play" type="button" disabled>Play</button>
                  <span id='timeleft'></span>
                  <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
                  </div>
                 <%elsif @shipment.cargo_description_url.blank?%>
                     <div class="form-group">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                       <button id="record" type="button">Record</button>
                      <button id="stop" type="button" disabled>Stop</button>
                      <button id="play" type="button" disabled>Play</button>
                      <span id='timeleft'></span>
                      <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
            
                    </div>
                  <%end%>


               <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: false}%>
              </div>


              <% else %>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
              </div>
              <% end %>
                 

              <div class = "row prorate hide">
                <div class="col-md-12 col-sm-6 col-12">
                  <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Estimated Approx. Fare</span>
                      <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> /Per Vehicle)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "form-row">
                <label class = "assistance">
                <%if current_user.country.name !="Pakistan"%> For any assistance, Please call us at <a href = "#">+971 56 5466088</a>
                  <%else%> 
                   For any assistance, Please call us at <a href = "#">+92 337 7131317</a>
                   <%end%>                  <a href="mailto:contact@lorryz.com">contact@lorryz.com</a>
                  <a ></a>
                </label>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  
</section>

<% if current_user.country.process == "prorate"%>
    <script type="text/javascript" charset="utf-8">
        $(document).on('turbolinks:load', function() {
            get_prorate_calculation();
        })
    </script>
<%end%>















<% end 
if @shipment.id
     puts "\n\n\n\t\t lat is else \n\n"


%>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%=action%> Shipment</h3>
          </div>
          <form role="form">
            <div class="card-body">
              <% unless action == "Edit" %>
                <%=f.hidden_field :state_event ,value:  "posted" %>
              <%end %>
              <%=f.hidden_field :company_id ,value:  current_user.company.id %>
              <%if current_user.company.is_contractual? %>
                <div class="form-group">
                  <%= f.label "Select a contract"%>
                  <%= f.collection_select :location_id ,current_user.company.locations, :id,:contractual_locations ,{include_blank: "New Destination without Contract"},{class: "form-control" , onchange: "populate_data()"} %>
                </div>
                <%= f.hidden_field :amount%>
                
              <%end%>
                
                  <div class="form-group">
           
                <%= f.label "*" , class: "label_required"%>
                
                <%= f.label :pickup_location, "Pickup Location Address" %> 
                <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=pickup_location()> Select Pickup Location</button> 
        
                <%=f.text_field :pickup_location , class: "form-control" , placeholder: "Pickup Location Address*" , onchange: "setTimeout(setcookies, 2000)",required: true , onFocus: call_geolocate%>
                <%=f.hidden_field :pickup_lat %>
                <%=f.hidden_field :pickup_lng %>
                <%=f.hidden_field :pickup_city  %>
              
              </div>



              <% if @individual %>
              <div class="form-group">
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name, class: "form-control" , onchange: "setTimeout(setcookies, 2000)",placeholder: "Pickup Location Name" %>
              </div>
                 <% else %>
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_building_name, "Pickup Location Name" %>
                <%=f.text_field :pickup_building_name , class: "form-control" , placeholder: "Pickup Location Name", required: true %>
              </div>
               <% end %>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_location, "Dropoff Location Address" %>
               <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=dropoff_location()> Select DropOff Location</button> 
                <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "Dropoff Location  Address*" , onchange: "setTimeout(setcookies, 2000)", required: true, onFocus: call_geolocate  %>
                <%=f.hidden_field :drop_lat  %>
                <%=f.hidden_field :drop_lng  %>
                <%=f.hidden_field :drop_city  %>
              </div>
                <% if @individual %>
              <div class="form-group">
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name , class: "form-control", onchange: "setTimeout(setcookies, 2000)" , placeholder: "DropOff Location Name"%>
              </div>
                <% else %>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :drop_building_name, "DropOff Location Name" %>
                <%=f.text_field :drop_building_name, class: "form-control" , placeholder: "DropOff Location Name", required: true %>
              </div>
                 <% end %>

              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date , value: "null", class: "form-control datepicker" , autocomplete: :off ,placeholder: "Pick up Date*" , required: false%>
              </div>
              <% else %>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :pickup_date , "Pickup Date" %>
                <%=f.text_field :pickup_date, class: "form-control datepicker" , autocomplete: :off ,placeholder: "Pick up Date*" , required: true%>
              </div>
              <% end %>

              <div class="bootstrap-timepicker">

              <% if @individual %>
                <div class="form-group" style="display:none">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: false %>
                  </div>
                  <% else %>
                  <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :pickup_time , "Pickup Time"%>
                  <div class="input-group">
                    <%= f.text_field :pickup_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", required: true %>
                  </div>
              <% end %>

                </div>
            
              </div>
              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control",  value: "null", required: false%>
              </div>
              <% else %>
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :loading_time ,"Loading Time at Pickup (Hours)"%>
                <%=f.text_field :loading_time , placeholder: "Loading Time*", class: "form-control", required: true%>
              </div>
              <% end %>
              <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :unloading_time, "Unloading Time at Dropoff (Hours)" %>
                <%=f.text_field :unloading_time , placeholder: "Unloading Time*", class: "form-control" ,  value: "null", required: false%>
              </div>
              <% else %>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :unloading_time, "Unloading Time at Dropoff (Hours)" %>
                <%=f.text_field :unloading_time , placeholder: "Unloading Time*", class: "form-control" , required: true%>
              </div>
              <% end %>


          
                     <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, "Specify Type of Vehicle Required?" %>
                <%= f.collection_select :vehicle_type_id, @vehicle_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
              </div>

              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :no_of_vehicles, "Number of Vehicles Required" %>
                <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com"></i>
                <div class = "input-group">
                  <%=f.select :no_of_vehicles,Shipment::NO_OF_VEHICLES,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com", required: true}%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_description %>
                <%=f.text_area :cargo_description , class: "form-control", placeholder: "Cargo Description*", required: true%>
              </div>
              <% if @shipment.cargo_description_url.present? %>
                    <div class="form-group" id="player">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                    <audio controls="controls" autobuffer="autobuffer" >
                    <source src="data:audio/wav;base64,<%= @shipment.cargo_description_url%>" />
                    </audio>
                    <br>
                    
        
                    </div>
                    <div class="form-group">

                    <button id="delete" type="button" onclick="deleteAudio()"> Delete </button>

                     <button id="update" type="button" onclick="updateAudio()">Update</button>
                    </div>
                  <div class="form-group" id="addR" style="visibility:hidden;">
                   <%= f.label :cargo_description, "Attach Audio Description"   %>
                  <button id="record" type="button">Record</button>
                  <button id="stop" type="button" disabled>Stop</button>
                  <button id="play" type="button" disabled>Play</button>
                  <span id='timeleft'></span>
                  <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
                  </div>
                 <%elsif @shipment.cargo_description_url.blank?%>
                     <div class="form-group">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                       <button id="record" type="button">Record</button>
                      <button id="stop" type="button" disabled>Stop</button>
                      <button id="play" type="button" disabled>Play</button>
                      <span id='timeleft'></span>
                      <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
            
                    </div>
                  <%end%>


               <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: false}%>
              </div>


              <% else %>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cargo_packing_type , "Cargo Packaging Type"%>
                <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
              </div>
              <% end %>
                   <% if @individual %>
              <div class="form-group" style="display:none">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :payment_option, "Choose the payment option" %>
                 <%=f.select :payment_option ,  current_user.company.get_payment_options ,{include_blank: "Choose Payment Options*"}, {class: "form-control", required: false}%>
              </div>
              <% else %>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :payment_option, "Choose the payment option" %>
                 <%=f.select :payment_option ,  current_user.company.get_payment_options ,{include_blank: "Choose Payment Options*"}, {class: "form-control", required: true}%>
              </div>
              <% end %>

              <div class = "row prorate hide">
                <div class="col-md-12 col-sm-6 col-12">
                  <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Estimated Approx. Fare</span>
                      <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> /Per Vehicle)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "form-row">
                <label class = "assistance">
                  For any assistance, Please call us at <a href = "#">+971 56 5466088</a> Or send us email at
                  <a href="mailto:contact@lorryz.com">contact@lorryz.com</a>
                  <a ></a>
                </label>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  
</section>

<% if current_user.country.process == "prorate"%>
    <script type="text/javascript" charset="utf-8">
        $(document).on('turbolinks:load', function() {
            get_prorate_calculation();
        })
    </script>
<%end%>





<%end%>









<script>

function pickup_location(){

 var cookies = document.cookie.split(";");
 console.log("cookies are");
 
console.log(cookies);



    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }

var address=document.getElementById("shipment_pickup_location").value;
 var pickup_time=document.getElementById("shipment_pickup_time").value;
 var pickup_building_name=document.getElementById("shipment_pickup_building_name").value;
 var drop_address=document.getElementById("shipment_drop_location").value;
 var drop_building_name=document.getElementById("shipment_drop_building_name").value;
 var pickup_date=document.getElementById("shipment_pickup_date").value;
 var loading_time=document.getElementById("shipment_loading_time").value;
 var unloading_time=document.getElementById("shipment_unloading_time").value;
 var vehicle_type_id=document.getElementById("shipment_vehicle_type_id").value;
 var no_of_vehicles=document.getElementById("shipment_no_of_vehicles").value;
 var cargo_description=document.getElementById("shipment_cargo_description").value;
 var cargo_packing_type=document.getElementById("shipment_cargo_packing_type").value;
 var payment_option=document.getElementById("shipment_payment_option").value;
 var latitude=document.getElementById("shipment_pickup_lat").value;
 var longitude=document.getElementById("shipment_pickup_lng").value;
 var dropoff_lat=document.getElementById("shipment_drop_lat").value;
 var dropoff_long=document.getElementById("shipment_drop_lng").value;
 var city=document.getElementById("shipment_pickup_city").value;
 var dcity=document.getElementById("shipment_drop_city").value;

 location.replace("/cargo/shipments/pickup_location?pickup_time="+pickup_time+"&pickup_building_name="+pickup_building_name+"&address="+address+"&latitude="+latitude+"&longitude="+longitude+"&dropoff_lat="+dropoff_lat+"&dropoff_long="+dropoff_long+"&drop_address="+drop_address+"&drop_building_name="+drop_building_name+"&pickup_date="+pickup_date+"&loading_time="+loading_time+"&unloading_time="+unloading_time+"&vehicle_type_id="+vehicle_type_id+"&no_of_vehicles="+no_of_vehicles+"&cargo_description="+cargo_description+"&cargo_packing_type="+cargo_packing_type+"&payment_option="+payment_option+"&city="+city+"&dcity="+dcity)

}



 </script>


<script>

 function dropoff_location(){


 var cookies = document.cookie.split(";");
 console.log("cookies are");
 
console.log(cookies);



    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }

var address=document.getElementById("shipment_pickup_location").value;
 var pickup_time=document.getElementById("shipment_pickup_time").value;
 var pickup_building_name=document.getElementById("shipment_pickup_building_name").value;
 var drop_address=document.getElementById("shipment_drop_location").value;
 var drop_building_name=document.getElementById("shipment_drop_building_name").value;
 var pickup_date=document.getElementById("shipment_pickup_date").value;
 var loading_time=document.getElementById("shipment_loading_time").value;
 var unloading_time=document.getElementById("shipment_unloading_time").value;
 var vehicle_type_id=document.getElementById("shipment_vehicle_type_id").value;
 var no_of_vehicles=document.getElementById("shipment_no_of_vehicles").value;
 var cargo_description=document.getElementById("shipment_cargo_description").value;
 var cargo_packing_type=document.getElementById("shipment_cargo_packing_type").value;
 var payment_option=document.getElementById("shipment_payment_option").value;
 var latitude=document.getElementById("shipment_pickup_lat").value;
 var longitude=document.getElementById("shipment_pickup_lng").value;
 var dropoff_lat=document.getElementById("shipment_drop_lat").value;
 var dropoff_long=document.getElementById("shipment_drop_lng").value;
 var city=document.getElementById("shipment_pickup_city").value;
 var dcity=document.getElementById("shipment_drop_city").value;

 location.replace("/cargo/shipments/dropoff_location?pickup_time="+pickup_time+"&pickup_building_name="+pickup_building_name+"&address="+address+"&drop_address="+drop_address+"&latitude="+latitude+"&longitude="+longitude+"&dropoff_lat="+dropoff_lat+"&dropoff_long="+dropoff_long+"&drop_building_name="+drop_building_name+"&pickup_date="+pickup_date+"&loading_time="+loading_time+"&unloading_time="+unloading_time+"&vehicle_type_id="+vehicle_type_id+"&no_of_vehicles="+no_of_vehicles+"&cargo_description="+cargo_description+"&cargo_packing_type="+cargo_packing_type+"&payment_option="+payment_option+"&city="+city+"&dcity="+dcity)

}

function setcookies()
{
   var cookies = document.cookie.split(";");

  
    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }

  
 var address=document.getElementById("shipment_pickup_location").value;
 var pickup_time=document.getElementById("shipment_pickup_time").value;
 var pickup_building_name=document.getElementById("shipment_pickup_building_name").value;
 var drop_address=document.getElementById("shipment_drop_location").value;
 var drop_building_name=document.getElementById("shipment_drop_building_name").value;
 var pickup_date=document.getElementById("shipment_pickup_date").value;
 var loading_time=document.getElementById("shipment_loading_time").value;
 var unloading_time=document.getElementById("shipment_unloading_time").value;
 var vehicle_type_id=document.getElementById("shipment_vehicle_type_id").value;
 var no_of_vehicles=document.getElementById("shipment_no_of_vehicles").value;
 var cargo_description=document.getElementById("shipment_cargo_description").value;
 var cargo_packing_type=document.getElementById("shipment_cargo_packing_type").value;
 var payment_option=document.getElementById("shipment_payment_option").value;
 var latitude=document.getElementById("shipment_pickup_lat").value;
 var longitude=document.getElementById("shipment_pickup_lng").value;
 var dropoff_lat=document.getElementById("shipment_drop_lat").value;
 var dropoff_long=document.getElementById("shipment_drop_lng").value;
 var city=document.getElementById("shipment_pickup_city").value;
 var dcity=document.getElementById("shipment_drop_city").value;

    document.cookie = "address" + "=" + address;
    document.cookie = "latitude" + "=" + latitude;
    document.cookie = "longitude" + "=" + longitude;
    document.cookie = "city" + "=" + city;
    document.cookie = "pickup_building_name" + "=" + pickup_building_name;
    document.cookie = "drop_address" + "=" + drop_address;
    document.cookie = "dropoff_lat" + "=" + dropoff_lat;
    document.cookie = "dropoff_long" + "=" + dropoff_long;
    document.cookie = "dcity" + "=" + dcity;
    document.cookie = "drop_building_name" + "=" + drop_building_name;
   
    
 var cookies = document.cookie.split(";");
 console.log("cookies are");
 
console.log(cookies);








}


  </script> 
  <script>

  function populate_data()
  {
         document.getElementById("individual").style.visibility="visible";

                 
  }

  function updateAudio(){
     document.getElementById("cargo1").value = null;
    document.getElementById("player").style.visibility = "hidden";
    document.getElementById("addR").style.visibility = "visible";
    const deleteButton = document.querySelector('#delete');
    deleteButton.setAttribute('disabled', false);

    const updateButton = document.querySelector('#update');
    deleteButton.setAttribute('disabled', false);

  }
  function deleteAudio(){
    document.getElementById("cargo1").value = null;
    document.getElementById("player").style.visibility = "hidden";
    document.getElementById("addR").style.visibility = "hidden";
    const deleteButton = document.querySelector('#delete');
    deleteButton.setAttribute('disabled', true);

  }

</script>
<script>
      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
          const mediaRecorder = new MediaRecorder(stream);
          let audioChunks = [];

          mediaRecorder.addEventListener('dataavailable', event => {
            audioChunks.push(event.data);
          });

          const start = () => {
            audioChunks = [];
            mediaRecorder.start();
          };

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener('stop', () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioChunks, audioBlob, audioUrl, play });
              });

              mediaRecorder.stop();
            });

          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      const recordButton = document.querySelector('#record');
      const stopButton = document.querySelector('#stop');
      const playButton = document.querySelector('#play');
      
      let recorder;
      let audio;
      var interval, timeLeft,timeOut;

      recordButton.addEventListener('click', async () => {
               timeLeft = 20;
                timeOut = setTimeout(() => {
               document.getElementById("stop").click();

              }, 1000 * timeLeft);
             interval = setInterval(function(){
              if (timeLeft > 0){
                 timeLeft--;
                 $("#timeleft").html(timeLeft + " seconds left");
              }
              else{
                $("#timeleft").html("");
                 clearInterval(interval);
              }            
                 }, 1000); 

              

        recordButton.setAttribute('disabled', true);
        stopButton.removeAttribute('disabled');
        playButton.setAttribute('disabled', true);
        if (!recorder) {
          recorder = await recordAudio();
        }
          recorder.start();
      });

      stopButton.addEventListener('click', async () => {
        clearInterval(interval);
        clearTimeout(timeOut);
        timeLeft = 20;
        $("#timeleft").html("");
        recordButton.removeAttribute('disabled');
        stopButton.setAttribute('disabled', true);
        playButton.removeAttribute('disabled');
        audio = await recorder.stop();

         const reader = new FileReader();
        reader.readAsDataURL(audio.audioBlob);
        reader.onload = () => {
          const base64AudioMessage = reader.result.split(',')[1];
          document.getElementById("cargo1").value = base64AudioMessage
       
        };
      });

      playButton.addEventListener('click', () => {
        audio.play();
      });

     

    
      
</script>
