<%= form_for @shipment, url: pod_cargo_shipment_path(@shipment) do |f|%>
    <div class="modal-dialog driver-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-holder" id="<%#@shipment.id%>">
            <div class="close-modal" data-dismiss="modal">
              <%= image_tag("close-modal.png")%>
            </div>
            <h1 class = "red">Shipment POD Documents</h1>
            <div class="shipment-number">
              Shipment No. <%= @shipment.id%>
            </div>
            <%s = @shipment%>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-7">
                <div class="address-one">
                  <%= s.pickup_full_address %>
                </div>
                <div class="address-two">
                  <%= s.drop_full_address%>
                </div>
              </div>
            </div>
            
                 <div class="form-group has-feedback">
                <div class = "form-group has-feedback attachment" >
                  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload"  multiple data-presign-url="<%=  presign_upload_cargo_shipments_url %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @shipment.documents.present? %>
                        <ul class = "documents_list">
                          <%@shipment.documents.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="PDF document" class = "document_thumbnail">  
                              </a>
                              
                            </li>
                          <%end %>
                        </ul>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>









              </div>
           
            </div>

          <div class="buttons-holder clearfix">
            <%= f.submit "Submit Documents" , class: "submit-btn bidnow"%>
            <button class = "btn btn-outline-secondary btn-flat" data-dismiss = "modal">BACK</button>
          </div>
          </div>
        </div>

      </div>
    </div>
<%end%>


<script>


direct_upload_to_s3(function () {
    window.file_urls = []
    var upload, uploadHandler, uploadWithUrl;
    uploadWithUrl = function(form, file, presignedUrl, publicUrl, field) {
        var submit, xhr;
        submit = form.find("button[type='submit'], input[type='submit']").attr('disabled', true);
        //
        $(field).parents(".form-group ").find('.js-signed-upload-status').text('Uploading...');
        xhr = new XMLHttpRequest();
        xhr.open('PUT', presignedUrl);
        xhr.setRequestHeader('Content-Type', file.type);
        xhr.onload = function() {
            //
            submit.removeAttr('disabled');
            if (xhr.status === 200) {
                // $('.js-signed-upload-value').val(publicUrl);
                //  $(field).parents(".form-group ").find(".attached_files.container").text("");
                return $(field).parents(".form-group ").find('.js-signed-upload-status').text("");

            }
        };
        xhr.onerror = function() {
            submit.removeAttr('disabled');
            return $('.js-signed-upload-status').text('Failed to upload. Try uploading a smaller file.');
        };
        xhr.send(file);
    };

    upload = function(form, file, url, field) {
        return $.ajax({
            url: url + '?filename=' + file.name + '&filetype=' + file.type,
            method: 'PUT',
            accept: 'json'
        }).success(function(data) {
            window.file_urls.push(data.public_url)
            return uploadWithUrl(form, file, data.presigned_url, data.public_url,field);
        });
    };

    uploadHandler = function(field) {

        var file, form;
        file = field.files[0];
            if (file === null) {
            return;
        }
        if(!validate_file(file, field)){
            alert("Invalid File Format!")
            $(field).val("")
            return;
        }
        form = $(field).parents("form").eq(0);
        $.each(field.files, function (index, file) {
            upload(form, file, field.dataset.presignUrl, field);
        })
    };
    var validate_file = function (file, field) {
        filetype = file.type
        if ($(field).parents("div").first().find("#company_information_avatar , #individual_information_avatar ").length == 1)
        {
            return filetype.includes("jpg") || filetype.includes("jpeg") || filetype.includes("png")
        }
        else {
            return filetype.includes("jpg") || filetype.includes("jpeg") || filetype.includes("png")
                || filetype.includes("xls") ||   filetype.includes("xlsx") || filetype.includes("docx") ||
                filetype.includes("pdf") || filetype.includes("doc") || filetype.includes("vnd.ms-excel")
            || filetype.includes("vnd.openxmlformats-officedocument.spreadsheetml.sheet")
        }
    }
    return $('.js-signed-upload').change(function() {
        uploadHandler(this);
        var self = this
        setTimeout(function () {
            old_values = ""
            if($(self).prev().val() != "")
            {
                try {
                    old_values = eval($(self).prev().val())
                } catch (e) {
                    old_values = $(self).prev().val().split(" ")
                }
            }
            window.file_urls  = $.merge(window.file_urls , old_values).filter(function(e){return e});
            $(self).prev().val( JSON.stringify(window.file_urls));
            window.file_urls = []
        },1000)
    });
}) 
</script>
