<script>

 var cookies = document.cookie.split(";");


    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }</script>



<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1><%= @title %> Shipments</h1>
            </div>


<% if @title == "Posted"
@url = posted_cargo_shipments_path
elsif  @title == "Ongoing"
@url = ongoing_cargo_shipments_path
elsif  @title == "Completed"
@url = completed_cargo_shipments_path
elsif  @title == "Upcoming"
@url = upcoming_cargo_shipments_path
end



%>


 
 
 <div class = "card-body">
    <div class = "row">
                <div class  =" col-md-4"></div>
                <div class  =" col-md-3">
                  <%= text_field_tag :start_date, nil, class: "search-datepicker datepick form-control" ,placeholder:  "Start Date"  %>
                </div>
                <div class  =" col-md-3">
                  <%= text_field_tag :end_date ,nil, class: "search-datepicker datepick form-control" ,placeholder:  "End Date"  %>
                </div>
               <% if @title.to_s == "Posted" %>
                <%= link_to "Download in Excel" , posted_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Ongoing" %>
                              <%= link_to "Download in Excel" , ongoing_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right", onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Completed" %>
                              <%= link_to "Download in Excel" , completed_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , onclick: "append_date_range_params(this);"%>

              <%elsif  @title.to_s == "Upcoming" %>
                              <%= link_to "Download in Excel" , upcoming_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , onclick: "append_date_range_params(this);"%>
              <%end%>     
                                     
           
              <br>

              </div>
        </div>
        
 
 
 <div class = "card-body">



 
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:@url, method: :get do |f|%>
             
                <div class="row ship">



                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no, style: 'font-size:12px' %>
                    <div class="selectHolder">
                    <% if params[:query].present?%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?",:selected => params[:query][:shipment_no] }, style: 'font-size:12px'if params[:query][:shipment_no].present?%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?"}, style: 'font-size:12px'if params[:query][:shipment_no].blank?  %>

                      <%else%>
                   <%= f.collection_select :shipment_no,@shipments1.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?"} , style: 'font-size:12px' %>
                      <%end%>
                    </div>

                  </div>

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :vehicle_type, style: 'font-size:12px'%>
                    <div class="selectHolder">
                        <% if params[:query].present?%>
                   <%= f.collection_select :vehicle_type_id, VehicleType.all.order(code: :desc).where(:country_id => current_user.country.try(:id)).order(code: :desc), :id, :name,{include_blank: "*Vehicle Type",:selected => params[:query][:vehicle_type_id]},{class: "form-control" , style: 'font-size:12px' } if params[:query][:vehicle_type_id].present?%>
                   <%=f.collection_select :vehicle_type_id, VehicleType.all.order(code: :desc).where(:country_id => current_user.country.try(:id)).order(code: :desc), :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control" , style: 'font-size:12px' }if params[:query][:vehicle_type_id].blank?  %>

                      <%else%>
                   <%=f.collection_select :vehicle_type_id, VehicleType.all.order(code: :desc).where(:country_id => current_user.country.try(:id)).order(code: :desc), :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control"  , style: 'font-size:12px'} %>
                      <%end%>
                   
                    </div>

                  </div>


                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :Movement_Type, style: 'font-size:12px' %>
                    <div class="selectHolder">
                        <% if params[:query].present?%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"],params[:query][:category]), {:prompt => "* Specify Movement Type" }, style: 'font-size:12px' , class: "form-control" if params[:query][:category].present?%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Movement Type" } , style: 'font-size:12px', class: "form-control" if params[:query][:category].blank?%>


                      <%else%>
                   <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Movement Type" } , style: 'font-size:12px', class: "form-control"%>
                      <%end%>
                   
                    </div>

                  </div>

                      

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date_from , style: 'font-size:12px'%>
                    <div class="selectHolder">
                  <% if params[:query].present?%>
                   <%= f.text_field :pickup_date_from , style: 'font-size:12px', value: params[:query][:pickup_date_from] ,class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  if params[:query][:pickup_date_from].present?%>
                   <%=f.text_field :pickup_date_from, style: 'font-size:12px' , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  if params[:query][:pickup_date_from].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_date_from, style: 'font-size:12px' , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  %>
                      <%end%>
                   

                    </div>

                  </div>
                       <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date_to, style: 'font-size:12px' %>
                    <div class="selectHolder">
                   <% if params[:query].present?%>
                   <%= f.text_field :pickup_date_to , style: 'font-size:12px', value: params[:query][:pickup_date_to] ,class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  if params[:query][:pickup_date_to].present?%>
                   <%=f.text_field :pickup_date_to , style: 'font-size:12px', class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  if params[:query][:pickup_date_to].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_date_to , style: 'font-size:12px', class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  %>
                      <%end%>
                                       </div>

                  </div>







                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_location , style: 'font-size:12px'%>
                    <div class="selectHolder">
                  <% if params[:query].present?%>
                   <%= f.text_field :pickup_location , style: 'font-size:12px', value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location, style: 'font-size:12px' , class: " form-control" ,placeholder:  "Pickup_location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location, style: 'font-size:12px' , class: " form-control" ,placeholder:  "Pickup_location"  %>
                      <%end%>
                   

                    </div>

                  </div>
                       <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :drop_location , style: 'font-size:12px'%>
                    <div class="selectHolder">
                   <% if params[:query].present?%>
                   <%= f.text_field :drop_location , style: 'font-size:12px', value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location, style: 'font-size:12px' , class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location , style: 'font-size:12px', class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
                                       </div>

                  </div>












                       <div class="col-md-4 col-sm-4 pad-2">

    <%= f.label :count , style: 'font-size:12px' %>
                    <div class="selectHolder">

                            <%= f.text_field :count , style: 'font-size:12px', value:@shipments.count ,class: " form-control" ,readonly:true%>

 </div>

                                       </div>




                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
</div>                <% end %>
              </div>





















            <!-- /.card-header -->
            <div  class="card-body">
              <table  class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th style="font-size :14px">Shipment Number</th>
               
                  <th style="font-size :14px" >Pickup Date</th>
                  <th style="font-size :14px">From </th>
                  <th style="font-size :14px">To </th>
                  <th style="font-size :14px">Driver </th>
                  <th style="font-size :14px">Mobile </th>
                  <th style="font-size :14px">Movement Type </th>
                  <th style="font-size :14px">Vehicle No </th>
                  <th style="font-size :14px">Status </th>
                  <th style="font-size :14px">Fleet Details </th>
                  <th style="font-size :14px">Actions </th>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                  <tr>
                    <td style="font-size :13px"><%= s.id%></td>
                  
                    <td style="font-size :13px"><%= local_time_format(s.pickup_time) rescue "" %>  <%=s.pickup_date.strftime(display_date_format) rescue ""%></td>
                    <td style="font-size :13px"><%= s.pickup_full_address %></td>
                    <td style="font-size :13px"><%= s.drop_full_address %></td>
                     <td style="font-size :13px">
                     
                     
                     
                       <%  s.shipment_fleets.each do |fleet| %>
                       <%=  User.find_by_company_id(fleet.company_id).formatted_cargo_name%>,
                           <%end%></td>
                    <td style="font-size :13px">
                    
                       <%  s.shipment_fleets.each do |fleet| %>
                        <%=  User.find_by_company_id(fleet.company_id).mobile%>, <%end%>
                   
                    </td>
                     <td style="font-size :13px"><%= s.category %></td>

                    <td style="font-size :13px">
                    
                       <%  s.shipment_fleets.each do |fleet| %>
                       <%= fleet.company.vehicles.first.try(:registration_number)%>,<%end%>
                    
                    
                    </td>
                    <td style="font-size :13px"><%= s.status %></td>


                    <td style="font-size :13px">
                    <%=s.no_of_vehicles.to_s + "  X  "+ s.try(:vehicle_type).try(:name) if s.vehicle_type.present? %>
                   <%=s.no_of_vehicles.to_s  if s.vehicle_type.blank? %>
                      </td>
                    <td style="font-size :13px">
                      <%= link_to "View",cargo_shipment_path(s), 'data-no-turbolink' => true , class: "btn btn-success btn-flat block-btn btn-sm" %>
                      <% if ["accepted", "vehicle_assigned"].include?  s.state %>
                        <%= link_to "Cancel Shipment" ,cancel_cargo_shipment_path(s.id),remote: :true, class: "btn  btn-warning btn-flat btn-sm block-btn"  %>
                      <%end%>
                      <% if ["posted"].include?  s.state %>
                        <%= link_to 'Edit', edit_cargo_shipment_path(s) ,data: {confirm: "All currently received bids will be cancelled."}, class: "btn btn-info btn-flat btn-sm  block-btn" %>
                      <%end%>
                      <%# if ["cancel", "completed"].include? s.state %>
                          <%#= link_to "Download Invoice", invoice_path(id: s.id, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat block-btn btn-sm" %>
                      <%#end%>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
              
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @shipments %>
    </div>
    <%= will_paginate @shipments, :container => false %>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>