  
  <%
   @pickup_time = params[:pickup_time]
   @pickup_building_name = params[:pickup_building_name]
   @drop_address = params[:drop_address]
   @drop_building_name = params[:drop_building_name]
   @pickup_date = params[:pickup_date]
   @loading_time = params[:loading_time]
   @unloading_time = params[:unloading_time]
   @vehicle_type_id = params[:vehicle_type_id]
   @no_of_vehicles = params[:no_of_vehicles]
   @cargo_description = params[:cargo_description]
   @cargo_packing_type = params[:cargo_packing_type]
   @payment_option = params[:payment_option]
   @address =params[:address]
   @latitude = params[:latitude]
   @longitude = params[:longitude]
   @dropoff_lat= params[:dropoff_lat]
   @dropoff_long= params[:dropoff_long]
   @city=params[:city]
   @dcity=params[:dcity]
 

  %>

  <script>
  if (<%= @pickup_time.inspect.html_safe !=nil %>){
    var pickup_time = <%= @pickup_time.inspect.html_safe %>;
    console.log(pickup_time)
    }
 

  if (<%= @pickup_building_name.inspect.html_safe !=nil %>){
    var pickup_building_name = <%= @pickup_building_name.inspect.html_safe %>;
    console.log(pickup_building_name)
    }

  if (<%= @drop_address.inspect.html_safe !=nil %>){
      var drop_address = <%= @drop_address.inspect.html_safe %>;
      console.log(drop_address)
      }

  if (<%= @drop_building_name.inspect.html_safe !=nil %>){  
    var drop_building_name = <%= @drop_building_name.inspect.html_safe %>;
    console.log(drop_building_name)
    }
  
  if (<%= @pickup_date.inspect.html_safe !=nil %>){
    var pickup_date = <%= @pickup_date.inspect.html_safe %>;
    console.log(pickup_date)
    }

  if (<%= @loading_time.inspect.html_safe !=nil %>){
    var loading_time = <%= @loading_time.inspect.html_safe %>;
    console.log(loading_time)
    }

  if (<%= @unloading_time.inspect.html_safe !=nil %>){
    var unloading_time = <%= @unloading_time.inspect.html_safe %>;
    console.log(unloading_time)
    }

  if (<%= @vehicle_type_id.inspect.html_safe !=nil %>){
    var vehicle_type_id = <%= @vehicle_type_id.inspect.html_safe %>;
    console.log(vehicle_type_id)
    }

  if (<%= @no_of_vehicles.inspect.html_safe !=nil %>){
    var no_of_vehicles = <%= @no_of_vehicles.inspect.html_safe %>;
    console.log(no_of_vehicles)
    }

  if (<%= @cargo_description.inspect.html_safe !=nil %>){
    var cargo_description = <%= @cargo_description.inspect.html_safe %>;
    console.log(cargo_description)
    }

  if (<%= @cargo_packing_type.inspect.html_safe !=nil %>){
    var cargo_packing_type = <%= @cargo_packing_type.inspect.html_safe %>;
    console.log(cargo_packing_type)
    }

  if (<%= @payment_option.inspect.html_safe !=nil %>){
    var payment_option = <%= @payment_option.inspect.html_safe %>;
    console.log(payment_option)
    }


  if (<%= @address.inspect.html_safe !=nil %>){
    var address = <%= @address.inspect.html_safe %>;
    console.log(address)
    }

  if (<%= @latitude.inspect.html_safe !=nil %>){
    var latitude = <%= @latitude.inspect.html_safe %>;
    console.log(latitude)
    }

  if (<%= @longitude.inspect.html_safe !=nil %>){
    var longitude = <%= @longitude.inspect.html_safe %>;
    console.log(longitude)
    }    

  if (<%= @dropoff_lat.inspect.html_safe !=nil %>){
    var dropoff_lat = <%= @dropoff_lat.inspect.html_safe %>;
    console.log(dropoff_lat)
    }

  if (<%= @dropoff_long.inspect.html_safe !=nil %>){
    var dropoff_long = <%= @dropoff_long.inspect.html_safe %>;
    console.log(dropoff_long)
    }  

  if (<%= @city.inspect.html_safe !=nil %>){
    var city = <%= @city.inspect.html_safe %>;
    console.log(city)
    } 

  if (<%= @dcity.inspect.html_safe !=nil %>){
    var dcity = <%= @dcity.inspect.html_safe %>;
    console.log(dcity)
    }      




  </script> 
  <script>
    if(!window.location.hash) {
        window.location = window.location + '#load';
        window.location.reload();
    
}
</script>

  <input style=" margin-top:62px;margin-left:19% ;width:78%" id="searchTextField" type="text" size="50" onchange=getname()><span>
  <img  style="width:2.5%;"  src="/assets/tooglecurrent.png"  style="color:black" onclick =do_x() />   </span>
   <%# <%= image_tag("tooglecurrent.png", {:style => "float:right ;margin-top:-33px;margin-left:19% ;height:40px;width:4%"})%>
<div id="map" class="bulk_geocode" style ="height: 490px"> 

</div>

<div>


<script data-turbolinks-eval="true">
var address =''
    var city=''
 var pickup_building_name =''
 var url=''
 var latitude ;
 var longitude;
window.onload = function() {
    if(!window.location.hash) {
       
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}


  if(navigator.geolocation)
              {
       
              navigator.geolocation.getCurrentPosition(function(position) {
              latitude= position.coords.latitude;
              longitude =position.coords.longitude 
              console.log(position.latLng)
              console.log(position);
              
                       
            loadmap(latitude,longitude)
           
               },function (err) {
               
                         latitude =24.926294;
                         longitude=67.022095  ;
                            loadmap(latitude,longitude)      
                    })}
               
  function loadmap(latitude,longitude)    
  {    
                   map = new google.maps.Map(document.getElementById('map'), {
                                  center: {lat: latitude, lng:longitude },
                                  zoom: 17
                      });
   
    markers = new google.maps.Marker({
    position: {lat: latitude, lng: longitude},
    map: map,
    title: "sa",
    draggable: true,
    animation: google.maps.Animation.DROP
  });


   google.maps.event.addListener(map, 'click', function(event) {

  markers.setMap(null);
  marker.setVisible(false);

 markers = new google.maps.Marker({
    position:event.latLng ,
    map: map,
    title: "sa",
    draggable: true,
    animation: google.maps.Animation.DROP
  });
        var geocoder = new google.maps.Geocoder;

          latitude= markers.getPosition().lat();

          longitude= markers.getPosition().lng();
      
  geocoder.geocode({'location': event.latLng }, function(results, status) {
      if (status === 'OK') {
      if (results[0]) {
        map.setZoom(17);
         address =results[0].formatted_address;
         
                    var  value=address.split(",");

                    count=value.length;
                    city=value[count-3];
            
      } else {
        address=""
        window.alert('No results found');
      }
      if (event.placeId && event.placeId !== '') {
          var request = {
            placeId: event.placeId,
            fields: ['name', 'formatted_address', 'place_id', 'geometry']
          };
     
             var service = new google.maps.places.PlacesService(map);
          service.getDetails(request, function (place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                pickup_building_name = place.name;
                makeurl(latitude,longitude)
             
            }
          });                        
          }
          else
          {
               pickup_building_name =""          
                makeurl(latitude,longitude)        
          }
               } 
          else {                          
              window.alert('Geocoder failed due to: ' + status);
            }
          });
          });
        var input = document.getElementById('searchTextField');
        var options = {
          
        };
          var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.bindTo('bounds', map);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {

          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          console.log(place)
            var cities =place.address_components[5].long_name;
               var  value=cities.split(",");
                    city=value[0];
       
          if (!place.geometry) {
         
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          markers.setMap(null);

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
          latitude= marker.getPosition().lat();
          longitude= marker.getPosition().lng();          
          address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');

           console.log(marker.getPosition())
          if (place && place !== '') {      
                pickup_building_name = place.name;
                makeurl(latitude,longitude)
            }

          else
           {
               pickup_building_name ==''
                makeurl(latitude,longitude)
                } }
             else
           {
                makeurl(latitude,longitude)
           }
            infowindowContent.children['place-icon'].src = place.icon;
            infowindowContent.children['place-name'].textContent = place.name;
            infowindowContent.children['place-address'].textContent = address;
            infowindow.open(map, marker);
        });
} 
function makeurl(latitude,longitude)

{
  var  pickupcity=city.split(" ");               
  city=pickupcity[1];
  console.log(address);
  console.log(pickup_building_name);  
  console.log(latitude);
  console.log(longitude);
  console.log(city);
 url=("/cargo/shipments/new?pickup_time="+pickup_time+"&pickup_building_name="+pickup_building_name+"&address="+address+"&latitude="+latitude+"&longitude="+longitude+"&dropoff_lat="+dropoff_lat+"&dropoff_long="+dropoff_long+"&drop_address="+drop_address+"&drop_building_name="+drop_building_name+"&pickup_date="+pickup_date+"&loading_time="+loading_time+"&unloading_time="+unloading_time+"&vehicle_type_id="+vehicle_type_id+"&no_of_vehicles="+no_of_vehicles+"&cargo_description="+cargo_description+"&cargo_packing_type="+cargo_packing_type+"&payment_option="+payment_option+"&city="+city+"&dcity="+dcity)
}

function pickup_location(){

  location.replace(url)
}

function do_x(){
  

  if(navigator.geolocation)
              {
       
              navigator.geolocation.getCurrentPosition(function(position) {
              latitude= position.coords.latitude;
              longitude =position.coords.longitude 
                         console.log("here")
            loadmap(latitude,longitude)
           
               },function (err) {
               
                         latitude =24.926294;
                         longitude=67.022095  ;
                            loadmap(latitude,longitude)      
                       
 
                   
                })}
               
}
</script>
<div >          
<button style="color:white ; background-color:#0596ce; ;margin-left:10px;padding-left:110px;height:40px ;width:100% ;" id="searchTextField" type="text" size="50" onclick=pickup_location(url)> Confirm Pickup Location  </button>
</div>


