<script>

 var cookies = document.cookie.split(";");


    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }</script>
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class = "card-body">
          <div class="card">
            <div class="balance-header">
              <h1>Shipment Stats</h1>
            </div>
             <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:shipment_stats_cargo_shipments_path, method: :get do |f|%>
                  <div class = "row">
                <div class  =" col-md-2">
                   <% if params[:start_date].present? %>  <%= text_field_tag :start_date, params[:start_date], autocomplete: :off, class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  %><%end%>
                    <% if params[:start_date].blank? %>  <%= text_field_tag :start_date,nil, autocomplete: :off, class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date From"  %><%end%>

                 <% if params[:pickup_location].present? %>   <%= text_field_tag :pickup_location, params[:pickup_location], class: "form-control" ,placeholder:  "From location"  %><%end%>
                 <% if params[:pickup_location].blank? %>   <%= text_field_tag :pickup_location,"", class: "form-control" ,placeholder:  "From location"  %><%end%>

                </div>
                 <div class  =" col-md-2">
                    <% if params[:end_date].present? %>  <%= text_field_tag :end_date ,params[:end_date], autocomplete: :off , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  %> <%end%>
                    <% if params[:end_date].blank? %>  <%= text_field_tag :end_date ,nil, autocomplete: :off, class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date To"  %> <%end%>

                   <% if params[:drop_location].present? %>  <%= text_field_tag :drop_location, params[:drop_location] , class: "form-control" ,placeholder:  "To location"  %> <%end%>
                   <% if params[:drop_location].blank? %>  <%= text_field_tag :drop_location, "", class: "form-control" ,placeholder:  "To location"  %> <%end%>

                 </div>
                 
                 <div class  =" col-md-4">
                    <div class="row">

                          <div class  =" col-md-1.5">
                            <div class="form-group">
                              <label for="ALL">ALL</label>
                            <% if params[:Category] == "ALL" %>  <input type="radio" id="ALL" name="Category" value="ALL"checked="checked"> &nbsp; &nbsp; <%end%>
                            <%if params[:Category] != "ALL" %>  <input type="radio" id="ALL" name="Category" value="ALL"> &nbsp; &nbsp;<%end%>
                            </div>
                          </div>

                         <div class  =" col-md-1.5">
                           <div class="form-group">
                            <label for="Intra_City">Intra City</label>
                         <% if params[:Category] == "Intra_City" %>  <input type="radio" id="Intra_City" name="Category" value="Intra_City"checked="checked"> &nbsp; &nbsp; <%end%>
                            <%if params[:Category] != "Intra_City" %>  <input type="radio" id="Intra_City" name="Category" value="Intra_City"> &nbsp; &nbsp;<%end%>
                            
                         </div>
                         </div> 

                          <div class  =" col-md-1.5">
                            <div class="form-group">
                              <label for="InterCity">Inter City</label>
                            <%if params[:Category] == "Inter_City" %>  <input type="radio" id="Inter_City" name="Category" value="Inter_City"checked="checked"> &nbsp; &nbsp; <%end%>
                            <%if params[:Category] != "Inter_City" %>  <input type="radio" id="Inter_City" name="Category" value="Inter_City"> &nbsp; &nbsp;<%end%>
                            
                          </div>
                         </div>
                    </div>
                  <div class="row">
                      <div class  =" col-md-2.5">
                          <div class="form-group">
                              <label for="cross_border">Cross Border</label>
                          <% if params[:Category] == "Cross_Border" %>  <input type="radio" id="Cross_Border" name="Category" value="Cross_Border"checked="checked"> &nbsp; &nbsp; <%end%>
                            <%if params[:Category] != "Cross_Border" %>  <input type="radio" id="Cross_Border" name="Category" value="Cross_Border"> &nbsp; &nbsp;<%end%>
                            
                          </div>
                      </div>
                      <div class  =" col-md-2.5">
                      <div class="form-group">
                           <label for="IntraCity+InterCity">Intra City + Inter City</label>
                           <% if params[:Category] == "Intra-Inter_City" %>  <input type="radio" id="Intra-Inter_City" name="Category" value="Intra-Inter_City"checked="checked"> &nbsp; &nbsp; <%end%>
                            <%if params[:Category] != "Intra-Inter_City" %>  <input type="radio" id="Intra-Inter_City" name="Category" value="Intra-Inter_City"> &nbsp; &nbsp;<%end%>
                            
                      </div>

                     </div>
                  </div>
                  </div>

                
                <div class="row">
                <div class="col-md-3 col-sm-3  pad-2">
                    <%= f.label :vehicle_type , "Vehicle Type" %>
                    <div class="selectHolder">
                      <% if params[:query].present?%>
                           <%= f.collection_select :vehicle_type ,VehicleType.where(:country_id => current_user.try(:country_id)).order(code: :asc), :id,:name,{include_blank: true, :selected => params[:query][:vehicle_type] },{class: "form-control" }  if params[:query][:vehicle_type].present?%>
                           <%= f.collection_select :vehicle_type ,VehicleType.where(:country_id => current_user.try(:country_id)).order(code: :asc), :id,:name,{include_blank: true },{class: "form-control" }  if params[:query][:vehicle_type].blank?  %>
                      <%else%>
                            <%= f.collection_select :vehicle_type ,VehicleType.where(:country_id => current_user.try(:country_id)).order(code: :asc), :id,:name,{include_blank: true },{class: "form-control" } %>
                       <%end%>                 

                   
                    </div>
                  </div>
                
                  <div class="col-md-3 col-sm-3 pad-2">
                    <%= f.label :status %>
                    <div class="selectHolder">
                      
                      <% if params[:query].present?%>
                           <%=f.select :status,shipment_states, {include_blank: true, :selected => params[:query][:status] }, {:class => "form-control"}   if params[:query][:status].present?%>
                           <%= f.select :status,shipment_states, {include_blank: true }, {:class => "form-control"}   if params[:query][:status].blank?  %>
                      <%else%>
                            <%= f.select :status,shipment_states, {include_blank: true }, {:class => "form-control"}   %>
                       <%end%>    
                    </div>  </div>
                    <div class="col-md-2 col-sm-1">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                    </div>

                  <div class="col-md-2 col-sm-1">
                
                   <%= link_to "Export" , posted_cargo_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-primary submit-btn" , onclick: "append_date_range_params(this);"%>

                  </div>
                </div>
                </div>
              </div>
            
                <div class="row ship">      
                 <div class="card bg-light mb-3" style="max-width: 32rem;max-height: 25rem;margin : 5px;">
                    <div class="card-header">Trips</div>
                    <div class="card-body">
                      <h5 class="card-title"><%=@shipments.where(company_id: current_user.company_id,state: ["posted","upcomming","accepted","vehicle_assigned","ongoing","completed"]).count%> total trips</h5>
                      
                      
                     <%= bar_chart [
                        {name: "Inter City ", data: [["Posted( " + @shipments.where(company_id: current_user.company_id ).posted.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Inter_City").posted.count], ["Upcomming( " + @shipments.where(company_id: current_user.company_id , state: ["accepted", "vehicle_assigned"]).count.to_s + ")", @shipments.where(company_id: current_user.company_id, state: ["accepted", "vehicle_assigned"], category: "Inter_City").count], ["Ongoing ( " + @shipments.where(company_id: current_user.company_id ).ongoing.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Inter_City").ongoing.count],["Completed ( " +  @shipments.where(company_id: current_user.company_id).where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count.to_s + ")", @shipments.where(company_id: current_user.company_id, category: "Inter_City").where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count]]},
                        {name: "Intra City", data: [["Posted( " + @shipments.where(company_id: current_user.company_id ).posted.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Intra_City").posted.count], ["Upcomming( " + @shipments.where(company_id: current_user.company_id , state: ["accepted", "vehicle_assigned"]).count.to_s + ")", @shipments.where(company_id: current_user.company_id, state: ["accepted", "vehicle_assigned"], category: "Intra_City").count], ["Ongoing ( " + @shipments.where(company_id: current_user.company_id ).ongoing.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Intra_City").ongoing.count],["Completed ( " +  @shipments.where(company_id: current_user.company_id).where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count.to_s + ")",   @shipments.where(company_id: current_user.company_id, category: "Intra_City").where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count]]},
                        {name: "Cross Border", data: [["Posted( " + @shipments.where(company_id: current_user.company_id ).posted.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Cross_Border").posted.count], ["Upcomming( " + @shipments.where(company_id: current_user.company_id , state: ["accepted", "vehicle_assigned"]).count.to_s + ")", @shipments.where(company_id: current_user.company_id, state: ["accepted", "vehicle_assigned"], category: "Cross_Border").count], ["Ongoing ( " + @shipments.where(company_id: current_user.company_id ).ongoing.count.to_s + ")", @shipments.where(company_id: current_user.company_id , category: "Cross_Border").ongoing.count],["Completed ( " +  @shipments.where(company_id: current_user.company_id).where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count.to_s+ ")",   @shipments.where(company_id: current_user.company_id, category: "Cross_Border").where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count]]}
                      ],width: "28rem",height:"17rem",legend: true%>
                    </div>
                  </div>
                  <div class="card bg-light mb-3" style="max-width: 32rem;max-height: 25rem;margin : 5px;">
                    <div class="card-header">Vehicle Type</div>
                    <div class="card-body" >
                      <h5 class="card-title"><%=@shipments.where(company_id: current_user.company_id,state: ["posted","upcomming","accepted","vehicle_assigned","ongoing","completed"]).count%> total trips</h5>
                      <p class="card-text" style ="color:white !important;">
                           <%= column_chart @data ,width: "28rem",height:"15rem" ,legend: false%>
                      </p>
                  </div>
                   <% end %>
              </div>
              
                      
              </div>
            </div>           
            </div>
        
 
<br>



            <!-- /.card-header -->
            <div  class="card-body">
              <table  class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th style="font-size :14px">Shipment Number</th>
               
                  <th style="font-size :14px" >Pickup Date</th>
                  <th style="font-size :14px">From </th>
                  <th style="font-size :14px">To </th>
                  <th style="font-size :14px">Driver </th>
                  <th style="font-size :14px">Mobile </th>
                  <th style="font-size :14px">Movement Type </th>
                  <th style="font-size :14px">Vehicle No </th>
                  <th style="font-size :14px">Status </th>
                
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |s|%>
                  <tr>
                    <td style="font-size :13px"><%= s.id%></td>
                  
                    <td style="font-size :13px"><%= local_time_format(s.pickup_time) rescue nil %>  <%=s.pickup_date.strftime(display_date_format) rescue nil%></td>
                    <td style="font-size :13px"><%= s.pickup_full_address %></td>
                    <td style="font-size :13px"><%= s.drop_full_address %></td>
                     <td style="font-size :13px">
                     
                     
                     
                       <%  s.shipment_fleets.each do |fleet| %>
                       <%=  User.find_by_company_id(fleet.company_id).formatted_cargo_name%>,
                           <%end%></td>
                    <td style="font-size :13px">
                    
                       <%  s.shipment_fleets.each do |fleet| %>
                        <%=  User.find_by_company_id(fleet.company_id).mobile%>, <%end%>
                   
                    </td>
                     <td style="font-size :13px"><%= s.category %></td>

                    <td style="font-size :13px">
                    
                       <%  s.shipment_fleets.each do |fleet| %>
                       <%= fleet.company.vehicles.first.try(:registration_number)%>,<%end%>
                    
                    
                    </td>
                    <td style="font-size :13px"><%= s.status %></td>


                      <%# if ["cancel", "completed"].include? s.state %>
                          <%#= link_to "Download Invoice", invoice_path(id: s.id, format: :pdf),target: :_blank, class: "btn btn-warning btn-flat block-btn btn-sm" %>
                      <%#end%>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>