
<script>    var shipment_id = <%=@shipment.id%>;
var   shipment_state = <%= @shipment.state.inspect.html_safe %>; ;</script>



<p id="notice"><%= notice %></p>
<div class="content-wrapper" style="min-height: 539px;" data-shipment-id="<%= @shipment.id %>" id="shipment_id">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "card-body">
          <div class="fleet-card">
            <%= hidden_field_tag :state , @shipment.state   %>
            <h1>Shipment No. <%=@shipment.id%></h1>
            <div class = "contact">
              <%if ["ongoing","cancel", "completed" ,"accepted"].include? @shipment.state %>
                <h1>
                  <span>
                    <i class = "fa fa-phone fa-lg"> </i>
                    <%#=@shipment.fleet.company_contact rescue nil if !@shipment.is_createdby_admin %>
                    <%#=@shipment.shipment_fleets.first.company.company_contact  rescue nil   if @shipment.is_createdby_admin %>
     
                   <%if @shipment.country.name == "Pakistan"%> 
                                       +92 337 7131317

                    <%else%>
                                        +971 56 5466088

                    <%end%>
                  </span>
                </h1>
              <% end %>
            </div>
            <div class="date-holder">
              <span class="aed">
                  <% if ["accepted", "posted"].include? @shipment.state %>
                    <%= link_to "Cancel Shipment" ,cancel_cargo_shipment_path(@shipment.id),remote: :true, class: "btn  btn-warning btn-flat block-btn"  %>
                    <%# <%= link_to "Cancel Shipment" ,vehicle_type_cargo_shipment_path(70),remote: :true, class: "btn  btn-warning btn-flat block-btn"  %> 

                    <%#= link_to "Cancel Shipment", cargo_shipment_path(@shipment.id, "shipment[state_event]" => :cancel), method: :patch, data: {confirm: 'Are you sure?'}, class: "btn  btn-warning btn-flat btn-sm" %>
                  <% end %>
                </span>
              <%= @shipment.display_date.strftime(display_date_format) rescue ""  %>
            </div>

            <div class = "row">
              <div class ="col-lg-4">
              </div>
            </div>
            <div class="status-holder">
              Status: <span class="completed"><%=@shipment.state.humanize() rescue ""%></span>
            </div>
            <div class="fleet-row clearfix">
              <div class="fleet-col-left">
                <div class="bids">
                  <%unless ["ongoing","cancel", "completed" ,"accepted"].include? @shipment.state%>
                    <span class="bid-amount"> <span class="counter"><%= @shipment.bids.try(:count)%></span> Bids </span>
                  <%end%>
                  <span class="bid-vehicle">Pick up Date <br> <%= local_time_format(@shipment.pickup_time) rescue "" %>
                    <br> <%=@shipment.pickup_date.strftime(display_date_format) rescue ""%></span>
                </div>


               <% if (["posted", "vehicle_assigned"].include? @shipment.state) && (current_user.company.company_type == 'individual') %>               
                <div class="tracking_number"> 
                <label  id ="bids">Receiving bids in </label><br>
                 <input  style="text-align: center; width:80px ;color :black "type="text" id="rbids" name="lname" disabled> 
                <script>
                  var handle ;
                 
                
(function update_timer() { 
 
    setTimeout(() => { console.log("World!"); 
                                                 document.getElementById("expired_link").style.visibility="hidden";
                                              document.getElementById("expired_text").style.visibility="hidden";

    }, 100);    
   $.ajax({
                url: "<%= update_timer_cargo_shipments_path(:shipment_updated =>@shipment.updated_at) %>",
                type: "GET",
                success: function (data) {
                elaspedtime =data.coordinates  
                  handle =setInterval('test(elaspedtime++);', 1000);
                }
            });
})();

// var id = setInterval('test();', 1000); //call test every 10 seconds.


function test(elaspedtime) {

  
  console.log("a");
  <%
   @count = @shipment.bids.try(:count);
  %>

     var count= <%= @count.inspect.html_safe %>;
     if (elaspedtime > 90)
     {
           if (count > 0)  {
                document.getElementById("bids").innerHTML="Shipment will expire in :";
                                    if (elaspedtime > 180)
                                      {
                                        document.getElementById("rbids").value ='Expired';
                                        clearInterval(handle);
                                        document.getElementById("expired_text").style.visibility="visible";
                                         document.getElementById("expired_link").style.visibility="visible";

                                                  $.ajax({
                                              url: "<%=no_selected_cargo_shipments_path(:id =>@shipment.id)%>",
                                              type: "GET",
                                              success: function (data) {
                                            } });                    
                                        }
                                      else {
                                            document.getElementById("rbids").value =180-elaspedtime + " sec";
                                            document.getElementById("expired_text").style.visibility="hidden";
                                             document.getElementById("expired_link").style.visibility="hidden";

                                          }
                              } 
               else
               {

                        document.getElementById("rbids").value ='Expired';
                        clearInterval(handle);
                        document.getElementById("expired_text").style.visibility="visible";
                         document.getElementById("expired_link").style.visibility="visible";
                        // $.ajax({
                        // url: "<%=no_bids_cargo_shipments_path(:id =>@shipment.id) %>",
                        // type: "GET",
                        // success: function (data) {
                        // }
                        //   });
               }
     }
     else
     {
        document.getElementById("rbids").value =90-elaspedtime + " sec";
        document.getElementById("expired_text").style.visibility="hidden";
        document.getElementById("expired_link").style.visibility="hidden";
     }
}
</script>
                </div>
                 <% end %>
                <% if (["ongoing", "vehicle_assigned"].include? @shipment.state) and @shipment.tracking_code.present? %>
                  <div class="tracking_number">
                    <label>Tracking Code:</label><br>
                    <%= @shipment.tracking_code %>
                  </div>
                <% end %>
                  <% if (["ongoing", "vehicle_assigned"].include? @shipment.state) and @shipment.tracking_code.present?  and @individual%>
                  <div class="tracking_number">
                    <label>ETA:</label><br>
                    
                       <input  style="text-align: center; width:80px ;color :black "type="text" id="lname" name="lname" disabled> 
<script>
        (function update_eta() {                                                         
             $.ajax({
                    url: "<%= eta_update_cargo_shipments_path(:pickup_lat =>@shipment.pickup_lat,:pickup_lng =>@shipment.pickup_lng,:dropoff_lat =>@shipment.drop_lat,:dropoff_lng =>@shipment.drop_lng,:id =>@shipment.id) %>",
                    type: "GET",
                    success: function (data) {
                        console.log("as")              
                        document.getElementById("lname").value =data.coordinates;
                        if (document.getElementById("lname").value == null)
                  
                        
                        console.log(<%= @eta%>)              
                    },     
                    complete: setTimeout(function () {
                        if (document.getElementById("lname").value) {
                            update_eta()
                                          }
                    }, 20000),
                    timeout: 2000
                });
                     })();



              </script>
                  </div>
                <% end %>
              </div>
              <div class="fleet-col-right">
                <div class="address-outer">
                  <div class="address-one">
                    <%=@shipment.pickup_full_address%>
                  </div>
                  <div class="address-two">
                    <%=@shipment.drop_full_address%>
                    <%unless ["posted", "completed", "cancel", "accepted"].include? @shipment.state %>
                      <%# <div class = "change_destination"> %>
                        <%# <%=link_to "Change Destination" , %>
                                   <%# update_destination_cargo_shipment_path(@shipment), %>
                                   <%# remote: :true , class: "btn btn-flat btn-info btn-default"%>
                      <%# </div> %>
                    <%end %>
                  </div>
                </div>
                <div class="truck-row">
                  <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
                               <% if (["posted", "vehicle_assigned"].include? @shipment.state) && (current_user.company.company_type == 'individual') %>               
                  <p id ="expired_text" > <br>This Shipment has been Expired . Kindly Repost or Cancel the shipment.</p>
                <div id ="expired_link">   <%= link_to 'Repost', edit_cargo_shipment_path(@shipment) , class: "btn btn-info btn-flat btn-sm  block-btn" %> </div>

              <%end%>
                </div>
              </div>
            </div>
            <% if !(current_user.company.company_type == 'individual') %>
                <div class="red" > <%= shipment_currency @shipment %>
                  <%= @shipment.cargo_cancel_penalty_charges.to_f.to_s + "/Per Vehicle
                   penalty charges will apply for cancellation within 24 hours of shipment pick up date." %></div>
         
          
            <div class="payment-col">
              <%if @shipment.amount.present? %>
                <strong>Amount</strong>
                <span class="aed"><%= shipment_currency @shipment %>  <%= format_amount_to_currency @shipment.amount%></span>
              <% end %>
              <%if  ["ongoing" , "vehicle_assigned"].include? @shipment.state and  @shipment.detention.present? %>
                <strong>Detention</strong>
                <span class="aed"><%= shipment_currency @shipment %>  <%= format_amount_to_currency @shipment.detention%></span>
              <% end %>
              <span class="card-name"><%=@shipment.payment_option.try(:humanize) rescue ""%></span>
<!--              <span class="status">Payment</span>-->
            </div>


          
            <%end%>

            <% if @shipment.state == 'accepted' &&  current_user.company.company_type == 'individual'%>

 <script>


    (function update_upcoming() {
                          console.log("update_upcoming")            
                          $.ajax({
                              url: "<%=  update_upcoming_cargo_shipments_path(:id =>@shipment.id) %>",
                              type: "GET",
                              success: function (data) {
                                console.log("data is " + data.status); 
                                shipment_state  =data.status
                                if (data.status == "cancel"){

                                if(confirm("Shipment has been cancelled.Reload !")) document.location = '/cargo/shipments/'+shipment_id;   
                                } 

                                else if(data.status == "ongoing"){
                                if(confirm("Shipment has been started, Reload !")) document.location = '/cargo/shipments/'+shipment_id;                                  
                                }
                              
                              },
                                      complete: setTimeout(function () {
                                        
                                              // shipment_state = <%= @shipment.state.inspect.html_safe %>;

                                          console.log("asds" + shipment_state);

                                  if (shipment_state == "accepted")
                                    {
                                       update_upcoming()
                                     }
                                

                              }, 10000),
                            
                              timeout: 2000
                          })
                      })();

</script>

<%end%>

            <br>
            <div class = "container loading-times">
            <%if ["cancel", "completed"].include? @shipment.state%>

                <label> Shipment Duration </label>  <%
                
                if  ShipmentActionDate.where(shipment_id: @shipment.id , state: "Enroute to Destination").present? &&   ShipmentActionDate.where(shipment_id: @shipment.id , state: "At Offloading Point").present?

                        start_time = {"date"=>  @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at).strftime("%d/%m/%y") , "time"=>  @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).strftime("%H:%M") }
                        start_time_csv = Time.strptime("#{start_time["date"]}:#{start_time["time"]}", '%d/%m/%y:%H:%M') # 2016-04-23 17:06:00 +0000
                        complete_time = {"date"=>  @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at).strftime("%d/%m/%y") ,  "time"=>  @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at_time).strftime("%H:%M") }
                        complete_time_csv = Time.strptime("#{complete_time["date"]}:#{complete_time["time"]}", '%d/%m/%y:%H:%M') # 2016-04-23 17:06:00 +0000
                             
                     durations = complete_time_csv.to_time  - start_time_csv.to_time
                     
                        seconds = (durations % 60)
                        minutes = (durations / 60) % 60
                        hours = (durations / (60 * 60))
                        days = (hours) / 24

                        hours= hours % 24
                        durations = format("%02d days %02d hours %02d minutes", days,hours, minutes)
              %> 
                <%=   durations          
              %> </span>   <% end%>
                

<br>
<%end%>

              <label>Loading/Unloading Time:</label>
              <%=format_float @shipment.loading_time %> hrs<br>
             
               <% if (["completed","posted"].include? @shipment.state)%>               
                           <label>Distance:</label>

              <%= @shipment.distance_between_endpoints %> KM<br>

                <%end%>
                 <% if (["posted"].include? @shipment.state)%>
                  <label>Cargo Description:</label>
                  <%= @shipment.cargo_description %><br>
                  <%end%>

                   <% if @shipment.cargo_description_url.present?%>
                      <label> Cargo Description Audio : </label> <br> 
                      <audio controls="controls" autobuffer="autobuffer" >
                      <source src="data:audio/wav;base64,<%= @shipment.cargo_description_url%>" />
                      </audio>
                    <%end%>


                   <% if (["completed"].include? @shipment.state)%>               
              <label>Shipment Waypoints:</label>

                <%= link_to "Download Coordinates in excel" , cargo_shipment_path(@shipment.id,format: :xlsx) , id: "shipment_report_xlsx" ,class: "btn btn-flat btn-success " , onclick: "append_date_range_params(this);"%>
                <%end%>
                <br>

                     <% if (["completed"].include? @shipment.state)%>               
              <label>Shipment Waypoints:</label>

                    <%= link_to "Cancel Shipment" ,pod_cargo_shipment_path(@shipment.id),remote: :true, class: "btn  btn-warning btn-flat block-btn"  %>
                <%end%>
                <br>
               


<!--              <label>Dropoff Date:</label>-->
<!--              <%#=@shipment.expected_drop_off.strftime(display_date_format) rescue "" %><br>-->
            </div>
          </div>


 <li class="list-group-item">
              <h3>Milestone Updates</h3>
              </li>


              <li class="list-group-item">
              </li>
            

              <li class="list-group-item">
                <label> Start </label> <span class="float-right">
                <%= @shipment.shipment_action_dates.where(state: "Start").try(:last).try(:performed_at) rescue nil%>
                <%= @shipment.shipment_action_dates.where(state: "Start").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>

              </span>
              </li>
                
            
              <li class="list-group-item">
                <label> At Loading </label> <span class="float-right">
                <%= @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at) rescue nil%>
               <%= @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>

              </span>
              </li>
                  

              <li class="list-group-item">
                <label> Enroute to Origin Border </label> <span class="float-right">
                <%= @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>

              </li>
              
              <li class="list-group-item">
                <label> At Origin Border </label> <span class="float-right">
                <%= @shipment.shipment_action_dates.where(state: "At Origin Border").try(:last).try(:performed_at) rescue nil%>
                <%= @shipment.shipment_action_dates.where(state: "At Origin Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              
              <li class="list-group-item">
                <label> At Transit Border </label> <span class="float-right">
               <%= @shipment.shipment_action_dates.where(state: "At Transit Border").try(:last).try(:performed_at) rescue nil%>
               <%= @shipment.shipment_action_dates.where(state: "At Transit Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              <li class="list-group-item">
                <label> At Destination Border </label> <span class="float-right">
                <%= @shipment.shipment_action_dates.where(state: "At Destination Border").try(:last).try(:performed_at) rescue nil%>
                <%= @shipment.shipment_action_dates.where(state: "At Destination Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              
              <li class="list-group-item">
                <label> Cleared From Border </label> <span class="float-right">
               <%= @shipment.shipment_action_dates.where(state: "Cleared From Border").try(:last).try(:performed_at) rescue nil%>
               <%= @shipment.shipment_action_dates.where(state: "Cleared From Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              <li class="list-group-item">
                <label> Enroute to Destination </label> <span class="float-right">
                 <%= @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              
                <li class="list-group-item">
                <label> At Offloading Point </label> <span class="float-right">
                <%=    @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at)  rescue nil%>
              
                <%= @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

              
              <li class="list-group-item">
                <label> Break Down </label> <span class="float-right">
                 <%= @shipment.shipment_action_dates.where(state: "Break Down").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "Break Down").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>

             
                  <li class="list-group-item">
                <label> Completed </label> <span class="float-right">
                 <%= @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
              </li>
               



          <%if !(current_user.company.company_type == 'individual') %>
          <p>All Bid amount/rates provided here are purely transportation cost only. All other cost will be at actuals.</p>
           <%end%>
          <% unless ["ongoing","cancel","completed", "accepted", "vehicle_assigned"].include? @shipment.state %>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bids Listing</h3>
              </div>
              <div class="card-body">
                <table id="shipment_bids" class="table table-bordered table-striped" data-page-length='10'>
                  <thead>
                  <tr>
                    <th>Bid Amount</th>
                    <th>Detentation per Vehicle per day</th>
                    <th>Rating</th>
                      <th>ETA </th>
                    <th>Actions </th>
                  </tr>
                  </thead>
                  <tbody>
                               <% if (["posted", "vehicle_assigned"].include? @shipment.state) && (current_user.company.company_type == 'individual') %>               
 <script>
  (function update_bids() {
                         
            $.ajax({
                url: "<%=  update_bids_cargo_shipments_path(:shipment_bids=>@shipment.bids.count,:id => @shipment.id ) %>",
                type: "GET",
                success: function (data) {
                  console.log("data is " + data.update);
                  if (data.update == "true"){

                   if(confirm("New bids received . Refresh !")) document.location = '/cargo/shipments/'+shipment_id;
                  } 
                   if (data.update == "rebid"){

                   if(confirm("Bid has been updated . Refresh !")) document.location = '/cargo/shipments/'+shipment_id;
                  } 
                 
                },
                        complete: setTimeout(function () {

                     if ( document.getElementById("rbids").value !='Expired')
                       { update_bids()}
                  

                }, 5000),
              
                timeout: 2000
            })
        })();
</script>
<%end%>
                     <% @shipment.bids.sort_by {|bid| [bid.try(:company).try(:featured) ? 0 : 1 , bid.try(:company).try(:verified) ? 0 : 1 ]}.each do |b| %>
                      <% b.rejected? ?  klass = "rejected" : klass = ""%>
                      <tr class = "<%= klass %>">
                        <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.amount%></td>
                        <td><%= shipment_currency(b.shipment) rescue "" %> <%= format_amount_to_currency b.detention %>
                        </td>
                        <td>
                        <%@prev_bids = @shipment.bids%>
                          <div class = "shipment-ratings">
                            <%rating = b.company.average_rating.to_i rescue 5 %>
                            <%= select_tag 'rating',
                                           options_for_select(["",1,2,3,4,5], rating) ,
                                           class: "rating" %>
                             <div class="rating-counter"><%= rated_by b.company %></div>
                          </div>
                          <% if b.company.featured?%>
                            <span class="pull-right badge badge-info  ">Featured
                              <i class="fa fa-check-circle"></i>
                            </span>
                          <%elsif b.company.verified?%>
                            <span class="pull-right badge badge-success">Verified
                                <i class="fa fa-check-circle"></i>
                              </span>
                          <%end%>
                        </td>
                        <td>
                        <%= bid_eta(b.lat,b.lng,b.shipment) %>
                          
                        </td>
                        <div>
                    
                            <td>
                          <%unless b.rejected? %>
                              <%= link_to "Accept",accept_cargo_bid_path(b.id, shipment_id: @shipment.id) ,method: :post,data: { confirm: 'Are you sure?' }, class: "btn  btn-primary btn-flat block-btn"  %>
                              <%= link_to "Not Interested",reject_cargo_bid_path(b.id, shipment_id: @shipment.id ) ,method: :post,data: { confirm: 'Are you sure?' }, class: "btn  btn-danger block-btn  btn-flat"  %>

                          <%end%>
                        </td>
                      </tr>
                  <%end%>
                  </tbody>
                </table>
              </div>
            </div>
            <div id = "map" class = "ongoing-map">
            </div>
          <%else%>
            <%if @shipment.drivers.present? %>
              <div class = "card">
                <div class = "card-body">
                  <table id="shipments_listing" class="table table-bordered table-striped" data-page-length='10'>
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Truck Number</th>
                        <th>State</th>
<!--                        <th>Expected Drop Off</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <%@shipment.shipment_vehicles.each do |shipment_vehicle|%>
                        <tr>
                          <td><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name) %></td>
                          <td><%= shipment_vehicle.try(:vehicle).try(:registration_number) %></td>
                          <td ><%= shipment_vehicle.status.humanize rescue "" %></td>
<!--                      
    <td><%#= @shipment.expected_drop_off.strftime(display_date_format ) rescue "" %></td>-->
                        </tr>
                      <%end%>
                    </tbody>
                  </table>
                </div>
              </div>
            <%end%>
            <% if @shipment.completed? %>
              <div class="fleet-name">
                <span>Fleet Owner:</span>
                <%= @shipment.try(:fleet).try(:company_name)  if !@shipment.is_createdby_admin %>
                             <%=@shipment.shipment_fleets.first.company.company_name  if @shipment.is_createdby_admin%>

              </div>
            <%end%>
            
          <%end%>
        </div>
      </div>
    </div>
  </section>
</div>

<%if ["ongoing","Ongoing" , "vehicle_assigned"].include? @shipment.state %>
    <!--javascript_include_tag is not used because I want .erb interpretation-->
  <%= render partial: "/shared/location_pooling", locals: {user_type: "cargo"} %>
<%elsif ["cancel", "completed"].include? @shipment.state%>
  
 
   <div style ="float :left" id = "map" class = "ongoing-map">
              </div>
  
  <script data-turbolinks-eval="false">

    $(document).on('turbolinks:load', function () {

    setTimeout(function () {

          var  markers = [];
          var coords = [];
          var snappedCoordinates = [];
          var coords1 = [];


        initMap() 
            initMapWithCenter({lat: <%= @shipment.pickup_lat %> , lng: <%= @shipment.pickup_lng %> })
             map.setZoom(5)
        <% if @shipment.routes.present?
          str1_markerstring = "t=>"
          str2_markerstring = ","
          str3_markerstring = "g=>"
          str4_markerstring = "}"

	    	#  {:lat=>31.161554829814396, :lng=>73.92152372825277} 

            # pos[/#{str1_markerstring}(.*?)#{str2_markerstring}/m, 1]
          position =  @shipment.routes

             position.each do |pos|

             
                   
             %>
             
               var latlng =   "<%= pos[/#{str1_markerstring}(.*?)#{str2_markerstring}/m, 1]%>, <%= pos[/#{str3_markerstring}(.*?)#{str4_markerstring}/m, 1] %>"
                var feed = {location: latlng, stopover: true};
  

              snappedCoordinates.push(feed);
              <%end
                 end%>
                                

                   var marker = new google.maps.Marker({
                            position: {lat: <%= @shipment.pickup_lat  %> , lng: <%= @shipment.pickup_lng %> },
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });

                          var marker1 = new google.maps.Marker({
                            position: {lat: <%= @shipment.drop_lat  %> , lng: <%= @shipment.drop_lng %> },
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
           
               
               
        marker.setMap(markers);
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setMap(map);
        directionsService.route({
            origin: "<%= @shipment.pickup_lat %>, <%= @shipment.pickup_lng %>",
            destination: "<%= @shipment.drop_lat %>, <%= @shipment.drop_lng %>",
            waypoints:snappedCoordinates,
            optimizeWaypoints: true,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
            } else {
                console.log('Directions request failed due to ' + status);
            }
        });



    


    })

    })
  </script>
   <%end%>