<div class="modal-dialog1 modal-custom-width1">
  <div class="modal-content1">
    <div class="modal-body1">
    	<div class="lorryz-pdf-header clearfix">
    		<div class="pdf-logo"><%= wicked_pdf_image_tag("lorryz.png")%></div>
    		<div class="pdf-address">
    			<div class="address-row">
    				<span class="bold">Address:</span>
    				<span>Lorryz FZ-LLC, In5 Tech, Knowledge Park, King Salman Bin Abdulaziz Al Saud
                        Street, Behind Al Sufouh Tram Station, Dubai, UAE</span>
    			</div>
    			<div class="address-row">
    				<span class="bold">Website:</span>
    				<span>www.lorryz.com</span>
    			</div>
    			<div class="address-row">
    				<span class="bold">Phone:</span>
    				<span>+971 56 5466088</span>
    			</div>
    			<div class="address-row">
    				<span class="bold">VAT Number:</span>
    				<span>XXXXXXXX</span>
    			</div>
    		</div>
    	</div>
    	
      <div class="modal-holder receipt-modal pdf-parent" id="<%=@shipment.id%>">
        <%= render partial: "invoices/invoice_details" %>
      </div>
    </div>
  </div>
</div>