<%= form_for @vehicle, url: change_driver_fleet_vehicle_path(@vehicle.id) ,method: :post  do |f|%>
  <div class="modal-dialog driver-modal">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-holder" id="<%#@shipment.id%>">
          <div class="close-modal" data-dismiss="modal">
            <%= image_tag("close-modal.png")%>
          </div>
          <h1>Change driver</h1>
          <div class="shipment-number">
            Vehicle No. <%= @vehicle.registration_number%>
          </div>
          <div class="address-outer">
            <div class="modal-truck">
              <span><%= image_tag "truck.png" %></span>
              <span><%= @vehicle.vehicle_type.name %></span>
            </div>

          </div>
          <div class="destination-holder">
            <%if @vehicle.user_id.present? %>
              <div class="driver-name">
                Driver Assigned:
                <span><%= @vehicle.try(:driver).try(:full_name) %></span>
              </div>
              <div class="driver-image">
                <% @info = current_user.try(:company).try(:company_type) == "company" ? current_user.company.company_information : current_user.company.individual_information%>
                <%
                  if @info.present? #and @info.avatar.present? %>
                  <%avatar = @vehicle.try(:driver).try(:driver_information).try(:avatar).to_s rescue ""%>
                  <%avatar = avatar.present?  ? avatar : "avatar.jpeg" %>
                  <%= image_tag(avatar,class: "img-circle elevation-2" )%>
                <%end%>
              </div>

          <%end%>
            <div class="form-row">
              <label class = "label_required">*</label>
              <label for="">Driver Name:</label>
              <div class="selectDriver">
                <% drivers = current_user.company.drivers.select{|d| !d.vehicle.present? or d.vehicle.id == @vehicle.id} %>
                <%= f.collection_select :user_id , drivers , :id , :full_name,{include_blank: "*Select Driver"}%>
              </div>
              <%unless drivers.present? %>
                <label class="label_required"><%= "You do not have any drivers added currently." %></label>
              <%end %>
            </div>

            <div class="buttons-holder without-margin clearfix">
              <%= f.submit "Save" , class: "submit-btn bidnow"%>
              <button class = "btn btn-outline-secondary btn-flat" data-dismiss = "modal">Cancel</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
<%end%>

