<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%= action %> Vehicle</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form">
            <div class="card-body">
              <div class="form-group">
                <%# f.text_field :mobile , class: "form-control", placeholder: "Driver's Mobile Number"%>
              </div>
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :registration_number , "Vehicle Registration Number"%>
                <%= f.text_field :registration_number , class: "form-control", placeholder: "*Vehicle Registration No." , required: true%>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :expiry_date, "Expiry Date" %>
                <%= f.text_field :expiry_date , class: "datepicker form-control" ,placeholder:  "*Expiry Date" , required: true %>
              </div>
              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :insurance_number, "Insurance Number" %>
                <%= f.text_field :insurance_number , class: " form-control" ,placeholder:  "*Insurance Number", required: true%>
              </div>

              <div class="form-group has-feedback">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :insurance_expiry_date, "Insurance Expiry Date" %>
                <%= f.text_field :insurance_expiry_date  , class: "datepicker form-control" ,placeholder:  "*Insurance Expiry Date" , required: true %>
              </div>
              <div class="form-group has-feedback">
                <label>Attach Images of Registration/Insurance</label>
                <div class = "form-group has-feedback attachment">
                  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload" multiple data-presign-url="<%=presign_upload_companies_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @vehicle.documents.present? %>
                        <ul class = "documents_list">
                          <%@vehicle.documents.each do |doc|%>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <span class="remove_thumbnail">x</span>
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                              </a>
                            </li>
                          <%end%>
                        </ul>
                      <br><br><br><br>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group has-feedback">
                <%= f.label :authorization_letter , "Authorization Letter" %>
                <%= f.text_field :authorization_letter, class: "datepicker form-control" ,placeholder:  "Vehicle Authorization Letter/ Noc/ Tafweed" %>
              </div>
              <div class="form-group has-feedback">
                <%= f.check_box :available%>
                <%= f.label :available %>

              </div>

              <div class="form-group has-feedback not_available">
                <div class="row">
                  <div class="col-sm-6">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :not_available_from %>
                    <%= f.text_field :not_available_from , class: "datepicker form-control" ,placeholder:  "*Not Available From" , required: true %>
                    
                  </div>
                  <div class="col-sm-6">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :not_available_to %>
                    <%= f.text_field :not_available_to , class: "datepicker form-control" ,placeholder:  "*Not Available to" , required: true %>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :vehicle_type_id, 'vehicle types' %>
                <%= f.collection_select :vehicle_type_id, current_user.country.vehicle_types, :id, :name,{include_blank: "*Vehicle Type"},{class: "form-control" , required: true} %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit submit_button_text , class: "btn btn-primary" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
    $(".remove_thumbnail").click(function (e) {
        e.preventDefault()
        value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
        value = value.split(" ")
        remove_url = $(this).parents("a").attr("href")
        index = value.indexOf(remove_url)
        value.splice(index, 1)
        $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
        $(this).parents("a").addClass("hide")
    })
</script>
