<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%= form_for @vehicle, url: fleet_vehicles_path  do |f|%>
      <%= render partial: "form_fields" , locals: {f: f , action: "Add", submit_button_text: "Add Vehicle"}%>
  <%end%>

</div>
