<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
    <%= form_for(resource, as: resource_name, url: user_session_path()) do |f| %>
              <%= render 'layouts/error_messages', object: resource %>
      <h2>Sign in to start your session</h2>

      <div class="form-row clearfix">
        <%= f.label "*" , class: "label_required"%>
        <%= f.label :country_id, "Country"%>
        <div class="selectCity">
            <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form--control-", required: true} )%>
          </div>
      </div>

      <div class="form-row">
        <%= f.label "*" , class: "label_required"%>
        <%= f.label :login%>
        <%= f.text_field :login, autofocus: true, autocomplete: "email",class: "input-field", placeholder: "*Email/Phone number" ,required: true%>
      </div>
      <div class="form-row">
        <%= f.label "*" , class: "label_required"%>
        <%= f.label :password%>
        <%= f.password_field :password, autocomplete: "current-password",class: "input-field", placeholder: "*Password" ,required: true %>
      </div>



      <div class="form-row">
        <div class="checkbox checkbox-success">
          <%= f.check_box :remember_me,class: "styled" %>
          <label for="checkbox3">Remember Me </label>
        </div>
      </div>
      <div class="form-row">
        <%= f.submit "Sign In" ,class: "submit-btn form-submit" %>
      </div>
      <div class="form-row1">
        <%= render "users/shared/links" %>
      </div>
    <% end %>

    <div class = "form-row">
      <span class = "assistance">
        For any assistance, Please call us at <a href = "#">+971 56 5466088</a> Or send us email at
        <a href="mailto:contact@lorryz.com">contact@lorryz.com</a>
        <a ></a>
      </span>
    </div>
  </div>
</div>

