
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Dashboard</h3>
              <div class = "row">
             
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:get_all_drivers_admin_users_path, method: :POST do |f|%>
                <div class="row ship">
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :IMEI ,"IMEI" %>
                    <div class="selectHolder">
                   <%= f.collection_select :imei, GpsVehicle.all.order(:imei) , :imei,:imei,{include_blank: "Specify GPS IMEI?"}, onchange: "populate_data()"  %>
                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4 ">
                   <%= f.label :Vehicle_number %>
                   <div class="selectHolder">
                   
                      <%=f.autocomplete_field :vehicle_number, autocomplete_vehicle_vehicle_name_admin_users_path , class: "form-control",id_element: '#query_vehicle_id', onchange: "populate_data()"%>
                   <%= f.hidden_field :vehicle_search_id, id: 'query_vehicle_id'%>

                    </div>

                  </div>
                   <div class="col-md-4 col-sm-4 ">
                   <%= f.label :Vehicle_type %>
                   <div class="selectHolder">
                   <%= f.collection_select :vehicle_type, VehicleType.all.order(:code) , :id,:name,{include_blank: "Specify Truck Type?"}, onchange: "populate_data()"%>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :Country  %>
                    <div class="selectHolder">
                   <%= f.collection_select :country, Country.all.order(:name) , :id,:name,{include_blank: "Specify Country?"}, onchange: "populate_data()" %>
                    </div>

                  </div>

           


      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :cargo_owner %>
                    <div class="selectHolder">
              


      <%=f.autocomplete_field :cargo_owner, autocomplete_company_information_name_admin_company_information_index_path,id_element: '#query_cargo_company_id' , class: "form-control", onchange: "populate_data()"%>
                            <%=f.hidden_field  :cargo_company_id, id: 'query_cargo_company_id' , style: 'font-size:12px', class: " form-control" ,placeholder:  "Customer Reference"  %>

                    </div>
                  
                  </div>  

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :fleet_owner %>
                    <div class="selectHolder">
                   <%=f.autocomplete_field :fleet_owner, autocomplete_user_fleet_owner_name_admin_users_path , class: "form-control",id_element: '#query_company_fleet_id', onchange: "populate_data()"%>
                   <%= f.hidden_field :fleet_company_id, id: 'query_company_fleet_id'%>

                    </div>

                  </div>

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no %>
                    <div class="selectHolder">
                     <%= f.text_field  :shipment_no , class: " form-control", onchange: "populate_data()"  %>

                    </div>

                  </div>
                        <div class="col-md-4 col-sm-4 pad-2">
                   <%= f.label :status %>
                    <div class="selectHolder">
                   <%= f.select :status ,options_for_select(["Free", "Enroute to Destination", "Cleared From Border", "At Offloading Point"] ), {:prompt => " Status" } , onchange: "populate_data()", class: "form-control" %>

                    </div>

                  </div>

                    
                        <div class="col-md-4 col-sm-4 pad-2">
                <%= f.label :pickup_location, "Filter Location" %> 
                          <div class="selectHolder">

                <%# <button style="margin-left:260px"  id="searchTextField"   class="btn btn-flat btn-success pull-right download_excel"  onclick=pickup_location()> Select Pickup Location</button>  %>
                <%=f.text_field :pickup_location , class: "form-control", onchange: "setTimeout(populate_data, 1000)", placeholder: "Filter Location", onFocus: call_geolocate%>
                <%=f.hidden_field :pickup_lat  %>
                <%=f.hidden_field :pickup_lng %>
  </div>  </div>   

    <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :radius %>
                    <div class="selectHolder">
                     <%= f.text_field  :radius , class: " form-control", onchange: "populate_data()"  %>

                    </div>

                  </div>



                 
                  </div>

          
                </div>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <%
      country = ISO3166::Country.find_country_by_name(current_user.country.name) rescue ""
    @user_country_coordinates = {lat: country.latitude , lng: country.longitude}
  	@vehicles = Vehicle.all%>

<div id="map" class="bulk_geocode" style = "margin-top:-6%"></div>

<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poller() {
        
            
               deleteMarkers();
                 var infowindow =null
            $.ajax({
                url: "<%= get_all_drivers_admin_users_path %>",
                type: "POST",
                success: function (data) {
                     console.log("World1!"); 
                    deleteMarkers();
                    setMapOnAll(map);
                    alert 
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                      

                    
                          if(value.category == 1){
                         marker.icon="/dark_green.png"
                         }

                             if(value.category == 2){
                         marker.icon="/light_green.png"
                         }

                             if(value.category == 3){
                         marker.icon="/dark_blue.png"
                         }

                             if(value.category == 4){
                         marker.icon="/blue.png"
                         }


                             if(value.category == 5){
                         marker.icon="/light_blue.png"
                         }
                              if(value.category == 6){
                         marker.icon="/dark_yellow.png"
                         }

                                  if(value.category == 7){
                         marker.icon="/light_yellow.png"
                         }
                        else if(value.category == 0 ){
                               marker.icon="/blue.png"
                         }



                        markers.push(marker)
                       
                    
                        marker.addListener('click', function() {
                            
                                  if (infowindow) { 
        infowindow.close();
      
        }
            infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Driver  Name. "+value.driver_name +"(" + value.condition + ")</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.type + "  #  "+ value.registration_number+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\" style= width:125%> " +"Shipment no = " + value.condition +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.lat+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.lng+
                            "              </div>\n <br>" +

                                 "              <div class=\"address-one\">\n" +
                            "                  "+"Phone = "+value.phone+
                            "                   </div>\n<br> " +
                            
                                                         "    <p style='color:white'>imei :"+value.imei+"</>\n" +
                                                         
                                                            "    <p style='color:white'>Last updated :"+value.updated_at+" ago"+"</p>\n" +



                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        }); 
                            infowindow.open(map, marker);
                        });
                       
                    })
                },
                dataType: "json"            })
        })();
 
   })
  
  function populate_data()
  {

        centre_lat = document.getElementById("query_pickup_lat").value;
        centre_lng= document.getElementById("query_pickup_lng").value;

 if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                              if (centre_lat != '' && centre_lng != ''){
                      initMapWithCenter({lat:parseFloat(centre_lat) , lng: parseFloat(centre_lng) })
                                  map.setZoom(6)}
                                  else{

                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
           } },function (err) {
                 if (centre_lat != '' && centre_lng != ''){
                      initMapWithCenter({lat:parseFloat(centre_lat) , lng: parseFloat(centre_lng) })
                                  map.setZoom(6)}
                                  else{
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
           }})
        }

      


        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poller() {

                  country_name = document.getElementById("query_country").value;
                  imei = document.getElementById("query_imei").value;
                  vehicle_number = document.getElementById("query_vehicle_id").value;
                  shipment_no = document.getElementById("query_shipment_no").value;
                  status = document.getElementById("query_status").value;
                  vehicle_type = document.getElementById("query_vehicle_type").value;
                  cargo_company_id = document.getElementById("query_cargo_company_id").value;
                  company_fleet_id = document.getElementById("query_company_fleet_id").value;
                  radius= document.getElementById("query_radius").value;
                 
                   urls ='users/get_all_drivers_filtered?country='+country_name+'&imei='+imei+'&vehicle_number='+vehicle_number+'&shipment_no='+shipment_no+'&status='+status+'&vehicle_type='+vehicle_type+'&cargo_company_id='+cargo_company_id+'&company_fleet_id='+company_fleet_id+'&centre_lat='+centre_lat +'&centre_lng='+centre_lng  +'&radius='+radius     
                  deleteMarkers();
               
            $.ajax({
                url:urls,
                type: "POST",
                success: function (data) {
                   deleteMarkers();
                     var infowindow1=null

                    
                    $.each(data["coordinates"], function (index, value) {
                    
                          if (status != "Free")
                        {
                              var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                          if(value.category == 1){
                         marker.icon="/dark_green.png"
                         }

                             if(value.category == 2){
                         marker.icon="/light_green.png"
                         }

                             if(value.category == 3){
                         marker.icon="/dark_blue.png"
                         }

                             if(value.category == 4){
                         marker.icon="/blue.png"
                         }


                             if(value.category == 5){
                         marker.icon="/light_blue.png"
                         }
                              if(value.category == 6){
                         marker.icon="/dark_yellow.png"
                         }

                                  if(value.category == 7){
                         marker.icon="/light_yellow.png"
                         }

                       
                         markers.push(marker)


                        }

                          if (status == "Free")
                        {
                       

                             if(value.category == 3){
                                   var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                         marker.icon="/dark_blue.png"
                                                  markers.push(marker)

                         

                         }

                             if(value.category == 4){
                                   var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                         marker.icon="/blue.png"
                                                  markers.push(marker)


                         }


                             if(value.category == 5){
                                   var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                            title: 'Driver Details!'
                        });
                         marker.icon="/light_blue.png"
                                                  markers.push(marker)


                         }
                         
                        }


                     marker.addListener('click', function() {
                            if (infowindow1) {

        infowindow1.close();
    }


      infowindow1 = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Driver  Name. "+value.driver_name +"(" + value.condition + ")</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.type + "  #  "+ value.registration_number+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\" style= width:125%> " +"Shipment no = " + value.condition +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.lat+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.lng+
                            "              </div>\n <br>" +

                                 "              <div class=\"address-one\">\n" +
                             "                  "+"Phone = "+value.phone+
                            "                   </div>\n<br> " +
                            
                                                         "    <p style='color:white'>imei :"+value.imei+"</>\n" +
                                                         
                                                            "    <p style='color:white'>Last updated :"+value.updated_at+" ago"+"</p>\n" +



                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        }); 
                            infowindow1.open(map, marker);
                        });
                       
                    })
                },
                dataType: "json"
            
            })
        })(); 
        
                            setMapOnAll(map)

        }

</script>