<div class="content-wrapper" style="min-height: 539px;" data-shipment-id="<%= @shipment.id %>" id="shipment_id">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "clearfix" >
        <div class = "card-body">
          <div class="fleet-card">
            <%= hidden_field_tag :state , @shipment.state   %>
            <h1>Shipment No. <%=@shipment.id%></h1>
            <div class = "contact">
              <%if ["ongoing","cancel", "completed" ,"accepted"].include? @shipment.state %>
                <h1>
                  <span>
                    <i class = "fa fa-phone fa-lg"> </i>
                    <%=@shipment.try(:company).try(:company_contact) %>
                  </span>
                </h1>
              <% end %>
            </div>
            <div class="date-holder">
              <span class="aed">
                <%if @shipment.state == "posted" %>
                  <%= link_to "Bid Now" ,new_fleet_shipment_bid_path(shipment_id: @shipment.id ), class: "btn  btn-primary btn-flat btn-sm block-btn"  %>

                <%elsif @shipment.state == "accepted"%>
                  <%= link_to "Cancel Shipment" ,fleet_shipment_path(@shipment.id , "shipment[state_event]": :cancel, "shipment[cancel_by]": current_user.role), method: :patch , data: { confirm: 'Are you sure?' } , class: "btn  btn-warning btn-flat btn-sm block-btn "  %>
                <%end %>
              </span>
            </div>
            <div class="date-holder"><%= @shipment.try(:display_date).strftime(display_date_format) rescue ""  %></div>
            <div class="status-holder">
              Status: <span class="completed"><%=@shipment.state.humanize()%></span>
            </div>
            <div class="fleet-row clearfix">
              <div class="fleet-col-left">
                <div class="bids">
                  <span class="bid-amount">
                    <% if (["posted"].include? @shipment.state ) and @shipment.try(:bids).try(:best_bid).present? %>
                      <span>Best Bid</span>
                      <%= shipment_currency(@shipment)  %>
                      <%= format_amount_to_currency @shipment.try(:bids).try(:best_bid).try(:amount)%><br>
                      <strong class = "black">
                        <%= shipment_currency @shipment %>
                        <%= format_amount_to_currency(@shipment.bids.best_bid.try(:amount).to_f / @shipment.no_of_vehicles.to_i).to_s + "/Per Vehicle" rescue nil %>
                      </strong>
                    <%else %>
                      <%#= shipment_currency(@shipment)  %>
<!--                      <%#= format_amount_to_currency @shipment.try(:amount)%><br>-->
                    <%end%>

                  </span>
                  <%my_bids = @shipment.bids.where(company_id: current_user.company.id) rescue ""%>
                  <%if @shipment.state == "posted" %>
                    <%if my_bids.present? %>
                      <span>My Bid: <%= shipment_currency @shipment %>
                        <%= format_amount_to_currency my_bids.last.amount  rescue ""%>
                    </span>
                    <%end %>
                  <%end %>
                  <span class="bid-vehicle">Pick up Date <br> <%= local_time_format(@shipment.pickup_time) rescue "" %> <br>
                    <%=@shipment.pickup_date.strftime(display_date_format) rescue ""%></span>
                </div>
              </div>
              <div class="fleet-col-right">
                <div class="address-outer">
                  <div class="address-one">
                    <%=@shipment.pickup_full_address%>
                  </div>
                  <div class="address-two">
                    <%=@shipment.drop_full_address%>
                  </div>
                  <div class="truck-row">
                    <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-col">
              <span class="aed"><%= shipment_currency @shipment %> <%= format_amount_to_currency @shipment.amount%></span>
              <span class="card-name"><%=@shipment.try(:payment_option).try(:camelcase)  %></span>
              <span class="status">Payment</span>
            </div>
            <br>
            <div class = "container loading-times">
              <% unless ["completed" ,"cancel"].include? @shipment.state  %>
                <label>Loading Time</label>
                <%=@shipment.loading_time %> hrs<br>
                <label>Unloading Time</label>
                <%=@shipment.unloading_time %> hrs<br>
  <!--              <label>Dropoff Date</label>-->
  <!--              <%#=@shipment.expected_drop_off.strftime("%B %e,%Y") rescue "" %><br>-->
                <div class = "row1">
                  <p class="cancel_text red ">
                    <%= shipment_currency  @shipment %>
                    <%=  @shipment.fleet_cancel_penalty_charges %> / Per Vehicle
                    penalty amount will apply for cancellation
                  </p>
                </div>
                <%else %>
              <br><br>
              <%end  %>
            </div>
          </div>
          <p>* All Bid amount/rates provided here are purely transportation cost only. Token and all other cost will be at actuals. For side loader if there is inspection there will be additional charges of AED 200 which will get added to transportation cost/Bid amount</p>
          <!--show map for completed shipments highlighting pick up and drop off location-->
          <%if @shipment.drivers.present? %>
            <div class = "card">
              <div class = "card-body">
                <table id="shipments_listing" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Truck Number</th>
                    <th>State</th>
<!--                    <th>Expected Drop Off</th>-->
                  </tr>
                  </thead>
                  <tbody>
                   <%@shipment.shipment_vehicles.each do |shipment_vehicle|%>
                      <tr>
                        <td><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name) %></td>
                        <td><%= shipment_vehicle.try(:vehicle).try(:registration_number) %></td>
                        <td id="<%=shipment_vehicle.id %>"><%= shipment_vehicle.status.humanize rescue "" %></td>
<!--                          <td><%#= @shipment.expected_drop_off.strftime(display_date_format ) rescue "" %></td>-->
                      </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          <%end%>
          <% if @shipment.completed? %>
            <div class="fleet-name">
              <span>Fleet Owner:</span>
              <%= @shipment.try(:fleet).try(:company_name) %>
            </div>
          <%end%>  
          <%if ["completed","cancel"].include? @shipment.state%>
              <%= render partial: "/shared/rating"%>
          <%end%>
          <%if ["ongoing","completed","cancel","accepted" , "posted"].include? @shipment.state%>
              <div id="map" class="ongoing-map">
              </div>
          <%end%>
        </div>
      </div>
    </div>
  </section>
</div>
<%if ["ongoing" , "vehicle_assigned"].include? @shipment.state %>
     <!--javascript_include_tag is not used because I want .erb interpretation-->
    <%= render partial: "/shared/location_pooling" , locals: {user_type: "fleet"} %>
<%elsif ["completed", "cancel", "posted", "accepted"].include? @shipment.state%>
    <script>
        setTimeout(function () {
            initMap();
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            directionsDisplay.setMap(map);
            directionsService.route({
                origin: "<%= @shipment.pickup_lat %>, <%= @shipment.pickup_lng %>",
                destination: "<%= @shipment.drop_lat %>, <%= @shipment.drop_lng %>",
                optimizeWaypoints: true,
                travelMode: 'DRIVING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    //var summaryPanel = document.getElementById('directions-panel');
                    //summaryPanel.innerHTML = '';
                    // For each route, display summary information.
                } else {
                    console.log('Directions request failed due to ' + status);
                }
            });
        })
    </script>
<%end%>
