<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
                              <%= form_for @page,url:admin_terms_and_conditions_path do |form| %>
  <%= form.cktext_area :body, value: 'Default value', id: 'sometext'%>
  <%= form.submit 'Submit'%>
<% end %>
            </div>
           
            </div>
          </div>
        </div>
      </div>
  </section>
</div>

