<h1>Import Items From Excel</h1>

<p>
Note: Only import spreadsheets that were previously downloaded from this
  application.
</p>

<h3>Requirements</h3>
<ul>
  <li>Here you could list the validations you have in place for your model</li>
  <li>That way your user has a better chance of successful import</li>
</ul>

<h5>Select File</h5>
<%= form_for @items_import do |f| %>
  <% if @items_import.errors.any? %>
    <%= pluralize(@items_import.errors.count, "error") %> prevented us from
    importing your spreadsheet. Please update your spreadsheet and try again.
    <ul>
      <% @items_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.file_field :file, id:"file", onchange:"isFile()" %>
      <%= f.submit "Import File" , class: "submit_btn" %>
  
<% end %>
<script>
    function isFile(){
       var str = document.getElementById("file").value;
        var res = str.split("."); 
      if(document.getElementById("file").value != null && document.getElementById("file").value != "" && res[1] == "xlsx" ){
      $(".submit_btn").attr('disabled', false)
      }
      else if(res[1] != "xlsx"){
               $(".submit_btn").attr('disabled', true)       
               window.alert("Please Select a Valid Excel File");
      }
      else{
            
             $(".submit_btn").attr('disabled', true)       
      }
      
    }

     $(document).ready(function(){
      $(".submit_btn").attr('disabled', true)
       })
       
</script>