<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Users</h3>
              <div class = "">
                <%= render partial: "/shared/download_excel" %>
              </div>
              <br>
              <div class = "row">
                <div class = "col-md-2">
                  <%= link_to "Invite New User" , new_user_invitation_path , class: "btn btn-flat btn-info pull-right"%>
                </div>
                <div class = "col-md-2">
                  <%if current_user.superadmin? %>
                    <%= link_to "Create Admin",new_admin_user_path, class: "btn btn-flat btn-warning pull-right"%>
                  <%end %>
                </div>
              </div>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='10'>
                <thead>
                <tr>
                  <% columns = ["id","email", "first_name", "last_name", "mobile", "company_id", "role", "mobile_verified", "country_id", "Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @users.each do |user|%>
                  <tr>

                    <td> <%= user.id %>    </td>
                    <td> <%= user.email %>     </td>
                    <td> <%= user.first_name %>     </td>
                    <td> <%= user.last_name %>     </td>
                    <td> <%= user.mobile %>     </td>
                    <td> <%= user.try(:company).try(:category) %>     </td>
                    <td> <%= user.role %>     </td>
                    <td> <%= user.mobile_verified.humanize rescue "" %>     </td>
                    <td> <%= user.try(:country).try(:name) %>    </td>

                    <td>
                      <%= link_to "View", admin_user_path(user), class: "btn btn-info btn-flat" %>
                        <%= link_to "Change password", change_password_moderator_users_path(:id => user.id) , class: "btn btn-success btn-flat grid-btn" , remote: true  if user.admin? or user.superadmin? or user.moderator? %>

                    </td>

           
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>