<div> Customer : <%= @cargo.formatted_cargo_name%> </div>
<div> Customer ID : <%= @shipment.try(:company).try(:id) %> </div>
<div> Address : <%= @cargo.try(:company).try(:address) %> </div>
<div> Phone : <%= @cargo.mobile%> </div>

<br>
<br>