<div class="modal fade" id="discount_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shipment Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@shipment, url: status_email_moderator_shipment_path(@shipment,:protocol => 'https')) do |f| %>
        <div class="modal-body">
          <div class="container">
         

            <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :to ,"To"%>
                <%=f.text_field :to , placeholder: "To*",value: @shipment.company.cargo_owner.email, class: "form-control"%>
              </div>


              <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :cc ,"CC"%>
                <%=f.text_field :cc , placeholder: "CC*",value: "contact@lorryz.com", class: "form-control"%>
              </div>


              <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :subject ,"Subject"%>
                <%=f.text_field :subject , placeholder: "Subject*",value:" Lorryz - Shipment No : " + @shipment.id.to_s + " Status updated to :" + params[:status], class: "form-control"%>
              </div>

                  <div class="form-group" >
                <%= f.label :message ,"Message"%>
                <%=f.text_field :message , placeholder: "Message",value:"Message", class: "form-control"%>
              </div>
             <%=f.hidden_field :previous_status , value: @shipment.status %>

                <%=f.hidden_field :current_status , value:params[:status] %>

                <%=f.hidden_field :id , value:@shipment.id %>



          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send Email</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>


