


<div class="content-wrapper" style="min-height: 476px;">
  <section class="content">
    <div class="container-fluid">
      <div class="row1">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Shipment Edit History</h3>
          <!--         <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div> -->
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <%#= paginate @activities, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm pull-right" %>
                <table class="table table-bordered table-striped activity_listings" data-page-length='10', >
                  <thead>
                  <tr>
                    <% columns = ["ID",
                     "Role",
                     "UserName",
                     "Action",
                     "Entity",
                     "Changed",
                     "Action Performed"]
                       columns.each do |col|
                    %>
                      <th><%= col %></th>
                    <%end%>
                  </tr>
                  </thead>
                  <tbody>
                  <% @activities.each do |activity| %>
                    <tr>
                      <td> <%= activity.id %> </td>
                      <td> <%= activity.user_role %> </td>
                      <td> <%= activity.user_name %> </td>
                      <td> <%= activity.action_name %> </td>
                      <td> <%= entity_name(activity)  %> </td>
                      <td><%= activity.changed_attributes %></td>
                      <td><%= action_date(activity) %></td>
                    </tr>
                  <%end%>
                  </tbody>
                </table>
                 
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>