<% redirection_path = params[:query].permit! if params[:query].present? %>
<% redirection_path = params[:query] if params[:query].blank? %>

<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6" style = "width :120%">
          <div class="card card-primary"style = "width :120%">
            <div class="card-header">
              <h3 class="card-title">Edit Shipment</h3>
            </div>
            <%=form_for @shipment, url: moderator_shipment_url(@shipment.id, query:redirection_path, :only_path => true, :protocol => 'https://') do |f|%>
                <div class="card-body">
                  <%if @shipment.try(:company).try(:is_contractual?) %>
                    <div class="form-group">
                      <%= f.label "New Destination without Contract"%>
                      <%= f.collection_select :location_id ,@shipment.company.locations, :id,:contractual_locations ,{include_blank: "New Destination without Contract"},{class: "form-control" , onchange: "populate_data()"} %>
                    </div>
                  <%end%>
                <%if !["posted","cancel","completed"].include? @shipment.state %>

                   <div class="form-group">
                    <%= f.label :status %>
                    <div class = "input-group">
                    <%= f.select :status,options_for_select(["Start","At Loading", "Enroute to Origin Border" ,"At Origin Border","At Transit Border","At Destination Border","Cleared From Border","Enroute to Destination","At Offloading Point","Break Down","completed"], @shipment.status), {:prompt => "*Shipment State" } , class: "form-control" %> </td>

                    </div>
                  </div>
                <%end%>
                                  <%if @shipment.status == "completed"%>


                    <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :status ,"Status"%>
                <%=f.text_field :status , placeholder: "Status*",value:"completed", class: "form-control", readonly: true%>
              </div>
              <%end%>

              

              <div id = "individual" style="visibility:hidden">
              <%= link_to "Send Email", email_moderator_shipment_path(@shipment) , class: "btn btn-danger btn-flat grid-btn do_it_link" , remote: true%>
                </div>

<script>
  $(".do_it_link").click(function() {
    $(this).attr("href", function() {
      return "email/?status=" + $('.amount_field').val();
    });
  });
</script>
              
              
              

                   <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :accepted_rate_currency, "Specify Currency ?" %>
                <%= f.select :accepted_rate_currency ,options_for_select(["IQD", "AED" ,"USD","BHD","SAR","PKR","INR"], @shipment.accepted_rate_currency), {:prompt => "* Currency" } , class: "form-control", required: :true%>
              </div>

                <div class="form-group" >
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :amount ,"Agreed Customer rate"%>
                <%=f.text_field :amount , placeholder: "Accepted Rate *", class: "form-control", required: false%>
              </div>
            
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_location %>
                    <%=f.text_field :pickup_location , class: "form-control google_auto_complete" , placeholder: "Pick up Location*", required: true, onFocus: call_geolocate %>
                    <%=f.hidden_field :pickup_lat %>
                    <%=f.hidden_field :pickup_lng %>
                    <%=f.hidden_field :pickup_city %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_building_name, "Pickup Location Name" %>
                    <%=f.text_field :pickup_building_name , class: "form-control" , placeholder: "Pickup Location Name", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :pickup_date %>
                    <%=f.text_field :pickup_date , class: "form-control datepicker1" , placeholder: "Pick up Date*" , required: true%>
                  </div>
                  <div class="bootstrap-timepicker">
                    <div class="form-group">
                      <%= f.label "*" , class: "label_required"%>
                      <%= f.label :pickup_time %>
                      <div class="input-group">
                        <%= f.text_field :pickup_time, value:convert_to_shipment_country_timezone(current_user.country, @shipment.pickup_time).strftime("%I:%M %p")            , class: "form-control timepicker" , placeholder: "Pick up Time*", required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :loading_time %>
                    <%=f.text_field :loading_time , placeholder: "Loading/Unloading*", class: "form-control",  required: true%>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :drop_location, "Dropoff Location" %>
                    <%=f.text_field :drop_location , class: "form-control google_auto_complete" , placeholder: "Dropoff Location*" , required: true , onFocus: call_geolocate%>
                    <%=f.hidden_field :drop_lat %>
                    <%=f.hidden_field :drop_lng %>
                    <%=f.hidden_field :drop_city %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :drop_building_name, "DropOff Location Name" %>
                    <%=f.text_field :drop_building_name , class: "form-control" , placeholder: "DropOff Location Name" %>
                  </div>
               
<!--                  <div class="form-group">-->
                    <%#= f.label :expected_drop_off %>
                    <%#=f.text_field :expected_drop_off , class: "form-control datepicker" , placeholder: "Expected Dropoff Date" %>
<!--                  </div>-->
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :vehicle_type_id, "Vehicle Type" %>
                    <%= f.collection_select :vehicle_type_id, @vehicles_types, :id, :name,{include_blank: "Specify Type of Truck Required?"},{class: "form-control" , required: true} %>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :no_of_vehicles %>
                    <i class="fa fa-question-circle fa-1x" data-placement =  "right"  title= "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com"></i>
                    <div class = "input-group">
                      <%=f.select :no_of_vehicles , Shipment::NO_OF_VEHICLES ,{include_blank: "Number of Trucks Required?"}, {class: "form-control", "data-placement": "right" ,title: "Need to book more than 20 trucks, Contact Lorryz at sales1@lorryz.com", required: true}%>
                    </div>
                  </div>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :cargo_description %>
                    <%=f.text_area :cargo_description , class: "form-control", placeholder: "Cargo Description*", required: true%>
                  </div>

                   <% if @shipment.cargo_description_url.present? %>
                    <div class="form-group" id="player">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                    <audio controls="controls" autobuffer="autobuffer" >
                    <source src="data:audio/wav;base64,<%= @shipment.cargo_description_url%>" />
                    </audio>
                    <br>
        
                    </div>
                    <div class="form-group">

                    <button id="delete" type="button" onclick="deleteAudio()"> Delete </button>

                     <button id="update" type="button" onclick="updateAudio()">Update</button>
                    </div>
                  <div class="form-group" id="addR" style="visibility:hidden;">
                   <%= f.label :cargo_description, "Attach Audio Description"   %>
                  <button id="record" type="button">Record</button>
                  <button id="stop" type="button" disabled>Stop</button>
                  <button id="play" type="button" disabled>Play</button>
                  <span id='timeleft'></span>
                  <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
                  </div>
                  <%elsif @shipment.cargo_description_url.blank?%>
                     <div class="form-group">
                     <%= f.label :cargo_description, "Attached Audio Description" %><br>
                       <button id="record" type="button">Record</button>
                      <button id="stop" type="button" disabled>Stop</button>
                      <button id="play" type="button" disabled>Play</button>
                      <span id='timeleft'></span>
                      <%= f.hidden_field :cargo_description_url, id: "cargo1"  %>
            
                    </div>
                  <%end%>
                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :cargo_packing_type %>
                    <%=f.select :cargo_packing_type , Shipment::CARGO_PACKING_TYPES ,{include_blank: "Cargo Packaging Type*"}, {class: "form-control", required: true}%>
                  </div>
        <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label :weight %>
                    <%=f.text_field :weight , placeholder: "Weight*", class: "form-control" , required: true%>
                  </div>

                  
                     <div class="form-group">
                <%= f.label :cargo_value, "Cargo Value" %>
                <%=f.text_field :cargo_value , placeholder: "Cargo Value*", class: "form-control", required: false%> 
              </div>

                   <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :category, "Specify Movement Type ?" %>
                <%= f.select :category ,options_for_select(["Intra_City", "Inter_City" ,"Cross_Border"], @shipment.category), {:prompt => "*  Movement Type" } , class: "form-control", required: :true%>
              </div>

        
              <div class="form-group">
                <%= f.label :invoice_comments, "Customer Reference" %>
                <%=f.text_field :invoice_comments , placeholder: "Customer Reference*", class: "form-control", required: false%> 
              </div>


                        <div class="form-group">
                <%= f.label "-", "  Reverse Shipment", :value => "true"  %>
                  <%= f.check_box :reverse_trip,  :checked => (@shipment.reverse_trip == true) %>             
                
             
              </div>



                  <%
                    credit_period_days = @shipment.company.credit_period.to_f > 0 ? @shipment.company.credit_period : @shipment.country.cargo_max_days if  @shipment.company.present?
                     credit_period_days = @shipment.country.cargo_max_days if @shipment.company.blank?
                    payment_options = [["Cash / Bank transfer prior delivery",:after_delivery]]
                    payment_options << ["Credit " + credit_period_days.try(:to_i).try(:to_s) + " Days", "credit_period"]
                    payment_options << ["Before Pick up", "before_pick_up"]
                  
                  %>
                  <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :payment_option, "Choose the payment option" %>
                 <%=f.select :payment_option ,payment_options ,{include_blank: "Choose Payment Options*"}, {class: "form-control", required: true}%>
              </div>



              <%if @shipment.VAT_applicable == true%>
                  <div class="form-group">
                <%= f.label :VAT_Status %><br />
                <%= f.label :VAT_applicable, "Applicable", :value => "true"  %>
                <%= f.radio_button :VAT_applicable, true,:checked => true %>
                <%= f.label :VAT_applicable, "Exempted", :value => "false" %>
                   <%= f.radio_button :VAT_applicable, false %>
              </div>

              <%else %>
                <div class="form-group">
                <%= f.label :VAT_Status %><br />
                <%= f.label :VAT_applicable, "Applicable", :value => "true", :checked => true  %>
                <%= f.radio_button :VAT_applicable, true %>
                <%= f.label :VAT_applicable, "Exempted", :value => "false" %>
                <%= f.radio_button :VAT_applicable, false ,:checked => true%>
           
              </div>

              <%end%>





<div>


  <li class="list-group-item">
             <h3>Milestone Updates</h3>
              </li>
              <li class="list-group-item">
              </li>

              <li class="list-group-item">
                <label> Start </label> <span class="float-right">
               
                 <%= f.text_field :start,class: "form-control datepicker2",value:  @shipment.shipment_action_dates.where(state: "Start").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "Start").present?%>
                 </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :start_time , class: "form-control timepicker", autocomplete: :off , value: @shipment.shipment_action_dates.where(state: "Start").try(:last).try(:performed_at_time).strftime("%I:%M %p")   , required: true  if @shipment.shipment_action_dates.where(state: "Start").try(:last).try(:performed_at_time).present?  %>
                  </div>  
                </span>
              </li>

           


            
              <li class="list-group-item">
                <label> At Loading </label> <span class="float-right">
                 <%= f.text_field :loading,class: "form-control datepicker2",value:    @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at).strftime("%d/%m/%Y")if @shipment.shipment_action_dates.where(state: "At Loading").present?%>
  
          
              </span> <span class="float-right" style = "width :20%">
   
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :loading_action_time , class: "form-control timepicker" , value:  @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).strftime("%I:%M %p")     , autocomplete: :off , placeholder: "Pick up Time*", required: true  if @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).present? %>
                  </div>   
   
              </span>



              
              </li>

            
           


                
              <li class="list-group-item">
                <label> Enroute Origin Border </label> <span class="float-right">
                <%= f.text_field :enroute_origin,class: "form-control datepicker2",value:   @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").present? %>      
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :enroute_origin_time , class: "form-control timepicker" , value: @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  , autocomplete: :off , placeholder: "Pick up Time*", required: true  if @shipment.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at_time).present?  %>
                  </div>   
                </span>


              </li>

            

              <li class="list-group-item">
                <label> At Origin Border </label> <span class="float-right">
                 <%= f.text_field :at_origin,class: "form-control datepicker2",value: @shipment.shipment_action_dates.where(state: "At Origin Border").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "At Origin Border").present?%>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :at_origin_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", value:  @shipment.shipment_action_dates.where(state: "At Origin Border").try(:last).try(:performed_at_time).strftime("%I:%M %p") , required: true  if @shipment.shipment_action_dates.where(state: "At Origin Border").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>             
              </li>


              <li class="list-group-item">
                <label> At Transit Border </label> <span class="float-right">
                 <%= f.text_field :at_transit,class: "form-control datepicker2",value: @shipment.shipment_action_dates.where(state: "At Transit Border").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "At Transit Border").present?%>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :at_transit_time , class: "form-control timepicker", autocomplete: :off, value:  @shipment.shipment_action_dates.where(state: "At Transit Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  , placeholder: "Pick up Time*", required: true if @shipment.shipment_action_dates.where(state: "At Transit Border").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>

            
              <li class="list-group-item">
                <label> At Destination Border </label> <span class="float-right">
                 

                  <%= f.text_field :at_destination,class: "form-control datepicker2",value:   @shipment.shipment_action_dates.where(state: "At Destination Border").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "At Destination Border").present?%>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :at_destination_time , class: "form-control timepicker", value: @shipment.shipment_action_dates.where(state: "At Destination Border").try(:last).try(:performed_at_time).strftime("%I:%M %p") , autocomplete: :off , placeholder: "Pick up Time*", required: true if @shipment.shipment_action_dates.where(state: "At Destination Border").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>

            


              <li class="list-group-item">
                <label> Cleared From Border </label> <span class="float-right">
                 <%= f.text_field :cleared_border,class: "form-control datepicker2",value:    @shipment.shipment_action_dates.where(state: "Cleared From Border").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "Cleared From Border").present? %>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :cleared_border_time , class: "form-control timepicker", autocomplete: :off, value:  @shipment.shipment_action_dates.where(state: "Cleared From Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  , placeholder: "Pick up Time*", required: true  if @shipment.shipment_action_dates.where(state: "Cleared From Border").try(:last).try(:performed_at_time).present?  %>
                  </div>   
                </span>
              </li>


              <li class="list-group-item">
                <label> Enroute to Destination </label> <span class="float-right">
                  <%= f.text_field :enroute_dest,class: "form-control datepicker2",value:   @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "Enroute to Destination").present?%>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :enroute_dest_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", value:  @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).strftime("%I:%M %p") , required: true    if @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>

            

                <li class="list-group-item">
                <label> At Offloading </label> <span class="float-right">
                 <%= f.text_field :at_offloading,class: "form-control datepicker2",value:  @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "At Offloading Point").present? %>
                </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :at_offloading_time , class: "form-control timepicker", autocomplete: :off, value:  @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at_time).strftime("%I:%M %p")  , placeholder: "Pick up Time*", required: true if @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>

          

              <li class="list-group-item">
                <label> Break Down </label> <span class="float-right">
                 <%= f.text_field :breakdown,class: "form-control datepicker2",value:   @shipment.shipment_action_dates.where(state: "Break Down").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "Break Down").present? %>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :breakdown_time , class: "form-control timepicker", autocomplete: :off , placeholder: "Pick up Time*", value:@shipment.shipment_action_dates.where(state: "Break Down").try(:last).try(:performed_at_time).strftime("%I:%M %p") , required: true if @shipment.shipment_action_dates.where(state: "Break Down").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>

             


                  <li class="list-group-item">
                <label> Completed </label> <span class="float-right">
                 <%= f.text_field :completed,class: "form-control datepicker2",value:  @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at).strftime("%d/%m/%Y") if @shipment.shipment_action_dates.where(state: "completed").present? %>
                  </span> <span class="float-right" style = "width :20%">
                    <div class="bootstrap-timepicker">
                    <%= f.text_field :completed_time , class: "form-control timepicker", value:  @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at_time).strftime("%I:%M %p") , autocomplete: :off , placeholder: "Pick up Time*", required: true  if @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at_time).present? %>
                  </div>   
                </span>
              </li>






</div>
                  <div class = "row prorate hide">
                    <div class="col-md-12 col-sm-6 col-12">
                      <div class="info-box bg-info">
                        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">Estimated Approx. Fare</span>
                          <span class="info-box-number"> <span class = "currency" > </span> <strong class="total_fare">0</strong> (<span class = "currency" > </span> <strong class = "per_vehicle_fare">0</strong> Vehicle)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <%= f.submit "Update" , class: "btn btn-primary" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<script>

(function() { /* your code */ 
  dcity = <%= @shipment.is_fixed.inspect.html_safe %>;

          if (dcity == false)
          {
             $('#shipment_drop_location').removeAttr('required');
            document.getElementById("shipment_drop_location").style.visibility="hidden";
             document.getElementById("shipment_drop_building_name").style.visibility="hidden";

          }
})();

  $(".remove_thumbnail").click(function (e) {
      e.preventDefault()
      value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
      value = value.split(" ")
      remove_url = $(this).parents("a").attr("href")
      index = value.indexOf(remove_url)
      value.splice(index, 1)
      $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
      $(this).parents("a").addClass("hide")
  })
</script>



<script>

  function populate_data()
  {
         document.getElementById("individual").style.visibility="visible";

                 
  }
   function updateAudio(){
     document.getElementById("cargo1").value = null;
    document.getElementById("player").style.visibility = "hidden";
    document.getElementById("addR").style.visibility = "visible";
    const deleteButton = document.querySelector('#delete');
    deleteButton.setAttribute('disabled', false);

    const updateButton = document.querySelector('#update');
    deleteButton.setAttribute('disabled', false);

  }
  function deleteAudio(){
    document.getElementById("cargo1").value = null;
    document.getElementById("player").style.visibility = "hidden";
    document.getElementById("addR").style.visibility = "hidden";
    const deleteButton = document.querySelector('#delete');
    deleteButton.setAttribute('disabled', true);

  }
  

</script>

<script>
      const recordAudio = () =>
        new Promise(async resolve => {
          const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
          const mediaRecorder = new MediaRecorder(stream);
          let audioChunks = [];

          mediaRecorder.addEventListener('dataavailable', event => {
            audioChunks.push(event.data);
          });

          const start = () => {
            audioChunks = [];
            mediaRecorder.start();
          };

          const stop = () =>
            new Promise(resolve => {
              mediaRecorder.addEventListener('stop', () => {
                const audioBlob = new Blob(audioChunks);
                const audioUrl = URL.createObjectURL(audioBlob);
                const audio = new Audio(audioUrl);
                const play = () => audio.play();
                resolve({ audioChunks, audioBlob, audioUrl, play });
              });

              mediaRecorder.stop();
            });

          resolve({ start, stop });
        });

      const sleep = time => new Promise(resolve => setTimeout(resolve, time));

      const recordButton = document.querySelector('#record');
      const stopButton = document.querySelector('#stop');
      const playButton = document.querySelector('#play');
      
      let recorder;
      let audio;
      var interval, timeLeft,timeOut;

      recordButton.addEventListener('click', async () => {
               timeLeft = 20;
                timeOut = setTimeout(() => {
               document.getElementById("stop").click();

              }, 1000 * timeLeft);
             interval = setInterval(function(){
              if (timeLeft > 0){
                 timeLeft--;
                 $("#timeleft").html(timeLeft + " seconds left");
              }
              else{
                $("#timeleft").html("");
                 clearInterval(interval);
              }            
                 }, 1000); 

              

        recordButton.setAttribute('disabled', true);
        stopButton.removeAttribute('disabled');
        playButton.setAttribute('disabled', true);
        if (!recorder) {
          recorder = await recordAudio();
        }
          recorder.start();
      });

      stopButton.addEventListener('click', async () => {
        clearInterval(interval);
        clearTimeout(timeOut);
        timeLeft = 20;
        $("#timeleft").html("");
        recordButton.removeAttribute('disabled');
        stopButton.setAttribute('disabled', true);
        playButton.removeAttribute('disabled');
        audio = await recorder.stop();

         const reader = new FileReader();
        reader.readAsDataURL(audio.audioBlob);
        reader.onload = () => {
          const base64AudioMessage = reader.result.split(',')[1];
          document.getElementById("cargo1").value = base64AudioMessage
       
        };
      });

      playButton.addEventListener('click', () => {
        audio.play();
      });

     

    
      
</script>
