
           
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_shipment_posted_path, method: :get do |f|%>
                   <div class="row ship">
                 

                  <div class="col-md-4 col-sm-4  pad-2">
                   <%= f.label "cargo_name" ,"cargo_name:", style: 'font-size:12px' %>
                    <div class="selectHolder">                       
                  <%=f.autocomplete_field :cargo_owner, autocomplete_company_information_name_admin_company_information_index_path, class: "form-control", value: params[:query][:cargo_owner],id_element: '#company_id'%>
                      <%= f.hidden_field :cargo_company_id, id: 'company_id', value: params[:query][:cargo_company_id] %>

                  </div>     </div>

                  <div class="col-md-4 col-sm-4  pad-2">
                   <%= f.label "fleet_name" ,"fleet_name:", style: 'font-size:12px' %>
                    <div class="selectHolder">                       
                  <%=f.autocomplete_field :fleet_owner, autocomplete_user_fleet_owner_name_admin_users_path, class: "form-control", value: params[:query][:fleet_owner],id_element: '#company_fleet_id'%>
                   <%= f.hidden_field :fleet_company_id, id: 'company_fleet_id', value: params[:query][:fleet_company_id]  %>

                  </div>     </div>




                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :country_id , "Country" %>
                    <div class="selectHolder">
                      <%= f.collection_select :country_id ,Country.all, :id,:name,{include_blank: true, :selected => params[:query][:country_id] },{class: "form-control" } %>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :status %>
                    <div class="selectHolder">
                      <%= f.select :status,shipment_states, {include_blank: true, :selected => params[:query][:status] }, {:class => "form-control"}  %>
                    </div>  </div>

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no %>
                    <div class="selectHolder">
                   <%= f.collection_select :shipment_no, Shipment.all.order(id: :asc) , :id,:id,{include_blank: "Specify Shipment number?", :selected => params[:query][:shipment_no]}, onchange: "populate_data()" %>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :pickup_date %>
                    <div class="selectHolder">
                      <%= f.text_field :pickup_date,value: params[:query][:pickup_date] , class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  %>
                    </div>

                  </div>





                  <div class="col-md-4 col-sm-4 pad-2">
                   <%= f.label "Pickup Location" ,"Pickup Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :pickup_location , style: 'font-size:12px', value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  %>
                      <%end%>                 

                  </div>     </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                   <%= f.label "Drop Location:" ,"Drop Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                 <% if params[:query].present?%>
                   <%= f.text_field :drop_location , style: 'font-size:12px', value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location , style: 'font-size:12px', class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location, style: 'font-size:12px' , class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
     </div>    </div>



                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                  <div class="col-md-4 col-sm-4">
                   <%= link_to "Reset Filter", admin_shipment_posted_path() , class: "btn btn-primary submit-btn"%>

                  </div>


                </div>
                <% end %>
              </div>
  <h5>Shipments Information</h5>
    <div class = "row form-group">
       <div class  =" col-md-3">
           
           <%= text_field_tag :user_id, nil, value: @posted, class: "form-control" ,placeholder:  "User ID"  ,:disabled => true %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value: @upcoming, class: "search-datepicker datepick form-control"   ,:disabled => true,placeholder:  "Start Date" %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @ongoing, class: "search-datepicker datepick form-control"  ,:disabled => true ,placeholder:  "End Date"  %>
       </div>
     
    </div>
<div class = "table-responsive1">
              <table class="table table-bordered table-striped admin_listings " data-page-length='30' >
                

 <thead>
                  
                  <%
                    columns = ["Posted","Upcoming","Ongoing"]
                     columns.each do |col|
                  %>
                   <th>  <%= col.humanize %>  </th>
                  <%end%>
              
                </thead>    <tbody>
                  
  <tr>
                      <td>
                                        <%@shipments.where('state =? ', "posted").paginate(:page=>params[:page],per_page:30).order(:pickup_date).each do |s|%>

                
                      <u  style ="font-size:13px" > Shipment No : </u> <strong  style ="font-size:12px"><%= s.id%></strong> </u>
                      <br>
                          <b style ="font-size:13px">   Customer : </b> <i style ="font-size:12px"><%= s.try(:company).try(:company_name)%></i>
                      
                       <br>
                     <b style ="font-size:13px">   From : </b> <i style ="font-size:12px"><%= s.pickup_location%></i>
                      
                       <br>
                      <b style ="font-size:13px">   To :  </b>  <i style ="font-size:12px"><%= s.drop_location%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Date :  </b>  <i style ="font-size:12px"><%= s.try(:pickup_date).strftime(display_date_format)%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Time:  </b>  <i style ="font-size:12px"><%= local_time_format s.try(:pickup_time)%></i>
                       <br>
                           <b style ="font-size:13px">   Status:  </b>  <i style ="font-size:12px"><%=  s.try(:status)%></i>
                       <br>
                         <b style ="font-size:13px">   Driver:  </b>  <i style ="font-size:12px">   <%  s.shipment_fleets.each do |fleet| %>
                       <%=  User.find_by_company_id(fleet.company_id).formatted_cargo_name%>,
                           <%end%></i>
                       <br>
                         <b style ="font-size:13px">   Driver Phone:  </b>  <i style ="font-size:12px"> <%  s.shipment_fleets.each do |fleet| %>
                        <%=  User.find_by_company_id(fleet.company_id).mobile%>, <%end%>
                   </i>
                       <br>
                    
                       <%= link_to "View", admin_shipment_path(s), class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_admin_shipment_path(s), class: "btn btn-warning btn-flat grid-btn" %>
                     <%= link_to fa_icon('eye'), edit_history_admin_shipment_path(s.id), class: "btn btn-warning btn-flat grid-btn" %>

                      <% if s.completed? or s.cancel? %>
                        <%= link_to "Add Discount", edit_admin_shipment_path(s) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if  s.state != "cancel"  && s.state != "completed" %>
                        <%= link_to "Cancel", cancel_admin_shipment_path(s),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      
                      <% if [ "accepted","vehicle_assigned","ongoing"].include? s.state %>

                          <%= link_to "Complete ", admin_shipment_path(s, "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                          <% link_text = s.shipment_fleets.present? ? "Change Driver" : "Assign Driver"%>
                           <%= link_to link_text ,assign_vehicle_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn"  %>         
                                                             <% if ["accepted", "vehicle_assigned", "ongoing","completed"].include? s.state %>

                          <% link_text = s.lorryz_share_amount.blank? ? "Add Costing" : "Update Costing"%>
                           <%= link_to link_text ,assign_cost_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn" , style: ' background-color: green; border:none' %>         
                      <%end%>
                      
                 <hr>

  <%end%>


</td>
    

   <td>
                                        <%@shipments.where('state =? OR state=? ', "accepted",'vehicle_assigned').paginate(:page=>params[:page],per_page:30).order(:pickup_date).each do |s|%>

             
                     <u  style ="font-size:13px" > Shipment No : </u> <strong  style ="font-size:12px"><%= s.id%></strong> </u>
                      <br>
                          <b style ="font-size:13px">   Customer : </b> <i style ="font-size:12px"><%= s.try(:company).try(:company_name)%></i>
                      
                       <br>
                     <b style ="font-size:13px">   From : </b> <i style ="font-size:12px"><%= s.pickup_location%></i>
                      
                       <br>
                      <b style ="font-size:13px">   To :  </b>  <i style ="font-size:12px"><%= s.drop_location%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Date :  </b>  <i style ="font-size:12px"><%= s.try(:pickup_date).strftime(display_date_format)%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Time:  </b>  <i style ="font-size:12px"><%= local_time_format s.try(:pickup_time)%></i>
                       <br>
                           <b style ="font-size:13px">   Status:  </b>  <i style ="font-size:12px"><%=  s.try(:status)%></i>
                       <br>
                         <b style ="font-size:13px">   Driver:  </b>  <i style ="font-size:12px">   <%  s.shipment_fleets.each do |fleet| %>
                       <%=  User.find_by_company_id(fleet.company_id).formatted_cargo_name%>,
                           <%end%></i>
                       <br>
                         <b style ="font-size:13px">   Driver Phone:  </b>  <i style ="font-size:12px"> <%  s.shipment_fleets.each do |fleet| %>
                        <%=  User.find_by_company_id(fleet.company_id).mobile%>, <%end%>
                   </i>
                       <br>
                       <%= link_to "View", admin_shipment_path(s), class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_admin_shipment_path(s), class: "btn btn-warning btn-flat grid-btn" %>
                     <%= link_to fa_icon('eye'), edit_history_admin_shipment_path(s.id), class: "btn btn-warning btn-flat grid-btn" %>

                      <% if s.completed? or s.cancel? %>
                        <%= link_to "Add Discount", edit_admin_shipment_path(s) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if  s.state != "cancel"  && s.state != "completed" %>
                        <%= link_to "Cancel", cancel_admin_shipment_path(s),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      
                      <% if [ "accepted","vehicle_assigned","ongoing"].include? s.state %>

                          <%= link_to "Complete ", admin_shipment_path(s, "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                          <% link_text = s.shipment_fleets.present? ? "Change Driver" : "Assign Driver"%>
                           <%= link_to link_text ,assign_vehicle_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn"  %>         
                                                             <% if ["accepted", "vehicle_assigned", "ongoing","completed"].include? s.state %>

                          <% link_text = s.lorryz_share_amount.blank? ? "Add Costing" : "Update Costing"%>
                           <%= link_to link_text ,assign_cost_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn" , style: ' background-color: green; border:none' %>         
                      <%end%>
                      
                 <hr>

      
  <%end%>


</td>
    

       <td>
                                        <%@shipments.where('state =? ', "ongoing").paginate(:page=>params[:page],per_page:30).order(:pickup_date).each do |s|%>

                    
                   <u  style ="font-size:13px" > Shipment No : </u> <strong  style ="font-size:12px"><%= s.id%></strong> </u>
                      <br>
                          <b style ="font-size:13px">   Customer : </b> <i style ="font-size:12px"><%= s.try(:company).try(:company_name)%></i>
                      
                       <br>
                     <b style ="font-size:13px">   From : </b> <i style ="font-size:12px"><%= s.pickup_location%></i>
                      
                       <br>
                      <b style ="font-size:13px">   To :  </b>  <i style ="font-size:12px"><%= s.drop_location%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Date :  </b>  <i style ="font-size:12px"><%= s.try(:pickup_date).strftime(display_date_format)%></i>
                       <br>
                           <b style ="font-size:13px">   Pickup Time:  </b>  <i style ="font-size:12px"><%= local_time_format s.try(:pickup_time)%></i>
                       <br>
                           <b style ="font-size:13px">   Status:  </b>  <i style ="font-size:12px"><%=  s.try(:status)%></i>
                       <br>
                         <b style ="font-size:13px">   Driver:  </b>  <i style ="font-size:12px">   <%  s.shipment_fleets.each do |fleet| %>
                       <%=  User.find_by_company_id(fleet.company_id).formatted_cargo_name%>,
                           <%end%></i>
                       <br>
                         <b style ="font-size:13px">   Driver Phone:  </b>  <i style ="font-size:12px"> <%  s.shipment_fleets.each do |fleet| %>
                        <%=  User.find_by_company_id(fleet.company_id).mobile%>, <%end%>
                   </i>
                       <br>
                    
                       <%= link_to "View", admin_shipment_path(s), class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_admin_shipment_path(s), class: "btn btn-warning btn-flat grid-btn" %>
                     <%= link_to fa_icon('eye'), edit_history_admin_shipment_path(s.id), class: "btn btn-warning btn-flat grid-btn" %>

                      <% if s.completed? or s.cancel? %>
                        <%= link_to "Add Discount", edit_admin_shipment_path(s) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if  s.state != "cancel"  && s.state != "completed" %>
                        <%= link_to "Cancel", cancel_admin_shipment_path(s),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      
                      <% if [ "accepted","vehicle_assigned","ongoing"].include? s.state %>

                          <%= link_to "Complete ", admin_shipment_path(s, "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                          <% link_text = s.shipment_fleets.present? ? "Change Driver" : "Assign Driver"%>
                           <%= link_to link_text ,assign_vehicle_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn"  %>         
                                                             <% if ["accepted", "vehicle_assigned", "ongoing","completed"].include? s.state %>

                          <% link_text = s.lorryz_share_amount.blank? ? "Add Costing" : "Update Costing"%>
                           <%= link_to link_text ,assign_cost_admin_shipment_path(s.id),remote: :true, class: "btn btn-danger btn-flat grid-btn" , style: ' background-color: green; border:none' %>         
                      <%end%>
                      
                 <hr>

      
  <%end%>


</td>
    

    





    




       

  </tr>
 
                    
         
                
                
                </tbody>

                </tbody>
      
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @shipments  %>
    </div>
    <%= will_paginate  @shipments , :container => false %>
  </div>
       
       
  </table>
</div>





  
    

