<div class="receipt-modal-inner">
  <div class="close-modal">

  </div>
    <b><p style = "text-align:center ; font-size :24px; margin-top :23%">Invoice</p></b>

  <div class="shipment-number">
  
  </div>

  <div class="fleet-row clearfix">
    <div class="fleet-col-left">
      <div class="truck-row">
        <div class="bill"> <b>BILL TO</b> </div>
      <div> Customer : <%= @shipment.try(:company).try(:company_name) %> </div>
<div> Customer ID : <%= @shipment.try(:company).try(:id) %> </div>
<div> Address : <%= @shipment.try(:company).try(:company_address) %> </div>
<div> Phone : <%= @shipment.try(:company).try(:company_phone) %> </div>
      </div>
    </div>
      <div>
        <div class="bill"> <b>INVOICE DETAIL</b> </div>
        <div> Invoice Number : <%=    Time.current.year %><%= '%04d' % @shipment.id %></div>
        <% if @shipment.invoice_date %>
          <div> Invoice Date : <%= @shipment.invoice_date.strftime(display_date_format) %></div>
        <% end %>
        <% if @shipment.due_date %>  
          <div> Due Date : <%= (@shipment.due_date) %></div>
        <% end %>
        <div> Currency : <%= shipment_currency @shipment%></div>
              <div  style = "padding-left:48%" >

          Shipment No. <%= @shipment.id  %> <br>
          Pick Up Date: <%= @shipment.pickup_date.strftime(display_date_format) rescue "" %>
    <% if @shipment.completed? && @shipment.completed_date %>
      <span>Delivery Date: <%= @shipment.completed_date.strftime(display_date_format) rescue "" %></span>
    <% elsif @shipment.cancel_date %>
      <span>Cancelled Date: <%= @shipment.cancel_date.strftime(display_date_format) rescue "" %></span>
    <% end %>
  </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped admin_listings" data-page-length='10' style="width: 100% !important;">
      <thead>
      <tr>
        <% columns = ["Sr. No.","Description","No. of Vehicles","Total Amount (#{shipment_currency @shipment})"]
           columns.each do |col|
        %>
          <th><%= col %></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td> Freight Charges <br><br>
            <b>Shipment No:</b> <%= @shipment.try(:id) %><br>
            <b>Truck Type:</b> <%= @shipment.try(:vehicle_type).try(:name) %> <br>
            <b>From:</b> <%= @shipment.try(:pickup_full_address) %><br>
            <b>To:</b> <%= @shipment.try(:drop_full_address)  %><br>
            <b>Trucks:</b>

               <%  @shipment.shipment_fleets.each do |fleet| %>
               <%= fleet.company.vehicles.first.try(:registration_number)%>
               ,
               <%end%>
               <br>
                    <b>Drivers:</b>
                <%  @shipment.shipment_fleets.each do |fleet| %>
                  <%=  User.find_by_company_id(fleet.company_id).formatted_name%>,
               ,
               <%end%>
               

               
               
               </td>


              <td> <%= @shipment.try(:no_of_vehicles) %> </td>

          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty) %> 
            <% else %>
              <%= format_amount_to_currency (@shipment.try(:amount)) %> 
            <% end %>
          </td>
        </tr>

        <% @i =1;
          if !@shipment.additional_rate.blank?  && (@shipment.additional_cost_ctc == true )
          @i = @i +1 %>
          <tr>
            <td> <%=@i%> </td>
            <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate%>
            </td>
          </tr>
        <% end %>  


            <% if !@shipment.additional_rate1.blank? and  (@shipment.additional_cost1_ctc == true )
            @i = @i +1 %>
          <tr>
            <td> <%=@i%> </td>
              <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type1%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc1%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate1%>
            </td>
          </tr>
        <% end %>  

            <% if !@shipment.additional_rate2.blank? and  (@shipment.additional_cost2_ctc == true )
            @i = @i +1%>
          <tr>
            <td> <%=@i%> </td>
              <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type2%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc2%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate2%>
            </td>
          </tr>
        <% end %>  

            <% if !@shipment.additional_rate3.blank? and  (@shipment.additional_cost3_ctc == true )
            @i = @i +1 %>
          <tr>
            <td> <%=@i%></td>
            <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type3%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc3%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate3%>
            </td>
          </tr>
        <% end %>  

            <% if !@shipment.additional_rate4.blank? and  (@shipment.additional_cost4_ctc == true )
            @i = @i +1 %>
          <tr>
            <td> <%=@i%> </td>
               <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type4%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc4%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate4%>
            </td>
          </tr>
        <% end %>  

            <% if !@shipment.additional_rate5.blank? and  (@shipment.additional_cost5_ctc == true )
            @i = @i +1 %>
          <tr>
            <td> <%=@i%></td>
           <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type5%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc5%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate5%>
            </td>
          </tr>
        <% end %>  

            <% if !@shipment.additional_rate6.blank?  and (@shipment.additional_cost6_ctc == true )
            @i = @i +1 %>
          <tr>
            <td> <%=@i%> </td>
              <td colspan="2"> <b><%= format_amount_to_currency @shipment.additional_type6%></b><br>
             <%= format_amount_to_currency @shipment.additional_rate_desc6%>
             <br>
            
            </td>
            <td align='right'>
            <%= format_amount_to_currency @shipment.additional_rate6%>
            </td>
          </tr>
        <% end %>  




        <tr>
          <td colspan="2" rowspan="5" > </td>
          <td > Total </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty).to_f + @shipment.try(:discount).to_f %>
            <% else %>
              <%= format_amount_to_currency (@shipment.try(:customer_net_amount) + @shipment.try(:detention)) %>
            <% end %>
          </td>    
        </tr>

      

 <% if @shipment.VAT_applicable%>
        <tr>
          <td > VAT Amount </td>
          <td align='right'>
            <%= format_amount_to_currency @shipment.try(:amount_tax).to_f %>
          </td>
        </tr>


        <tr>
          <td > Grand Total </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty) %>
            <% else %>
              <%= format_amount_to_currency(@shipment.try(:customer_net_amount).to_f+@shipment.try(:amount_tax).to_f) %>
            <% end %>
          </td>
        </tr>

        <%elsif !@shipment.VAT_applicable%>

             <tr>
          <td > Grand Total </td>
          <td align='right'>
            <% if @shipment.cancel? %>
              <%= format_amount_to_currency @shipment.try(:cancel_penalty) %>
            <% else %>
              <%= format_amount_to_currency(@shipment.try(:customer_net_amount).to_f) %>
            <% end %>
          </td>
        </tr>

        <%end%>

      </tbody>
    </table>

  </div>
  <%if @shipment.invoice_comments.present? %>
 <div class="terms">
        <div style = " font-size :18px; "> <b>Invoice Comments : </b> <%=@shipment.invoice_comments%> </div><br>
<div >
<%end%>

 <div class="terms">
        <div style = " font-size :18px; "> <b>POD Dcouments : </b>
        
        
         <% i =1 
         @shipment.documents.each do|doc| %>
   <br>
    <%= link_to "Document #{i}",doc,target: :_blank  %>    

   <% i += 1%>
    
    
         <%end%>
         
         
         
      </div><br>


  <br>
  <br>
  <br>
  <div class="terms">
        <div class="center-terms term-first">TERMS AND CONDITIONS </div><br>
<div > 1. This invoice will be deemed valid, accurate and accepted unless any discrepancy/clarification is received within 72 hours of receipt.</div>
<div > 2. Invoice is due for payment on the Invoice Due Date. If the freight charges have not been paid on or before the due date, the customer, cargo owner, shipper will be liable for Interest and any consequence arising.</div>
<div > 3. For Cheque deposit, the deposit slip should be sent to LORRYZ on or before the due date. Cheque payment is subject to realization and Cheque clearance.</div>
<div > 4. For Bank Remittance/Transfers, all bank charges should be on remitter's account and full invoiced amount as per the invoice should be realized in LORRYZ bank account.</div>
<div > 5. All payment should be made in invoiced currency only.</div>

    <br>
    <br>
    <br>
    <div class="center-terms">********************************************************************************************************</div>
    <div>
  
    <div class="center-terms">This is computer generated invoice and require no signature</div>






  </div>
</div>