<div class="modal-dialog1 modal-custom-width1">
  <div class="modal-content1">
    <div class="modal-body1">
    		<div style="float:left" ><%= wicked_pdf_image_tag("index.jpeg")%></div>
    	
   
    	
      <div class="modal-holder receipt-modal pdf-parent" id="<%=@shipment.id%>">
        <%= render partial: "moderator/fleet_invoices/advance_details" if @category =="advance" %>
             <%= render partial: "moderator/fleet_invoices/final_details" if @category =="final" %>

      </div>
    </div>
  </div>
</div>