<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Notifications</h3>
          
              <br>
              <div class = "row">
              
                <div class = "col-md-2">
                  <%if current_user.superadmin? %>
                    <%= link_to "Create  Notification",new_admin_admin_notification_path, class: "btn btn-flat btn-warning pull-right"%>
                  <%end %>

                </div>
              </div>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
                <thead>
                <tr>
                  <% columns = ["id","text", "Receivers"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @notifcation.each do |notifcation|%>
                  <tr>

                    <td> <%= notifcation.id %>    </td>
                    <td> <%= notifcation.text %>     </td>
                    <td> <%= notifcation.receivers %>     </td>
                 
           
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>