

<div id="map" class="bulk_geocode" style="width:55%; display: inline-block;"></div>


<div style="width: 25%;position: absolute;  display: inline-block; padding-top : 72px;overflow-y: scroll;max-height:100%;">
            <div class = "card-body">
                <h3 >
          <u>  ONGOING SHIPMENTS </u>
                     </h3>

              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:cargo_dashboard_index_path, method: :get  do |f|%>
                <div class="row ship">
                  <div class="col-md-12 col-sm-12 ">
                   <%= f.label "Shipment Type:" ,"Shipment Type:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                    <%= f.select :category,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"],params[:query][:category]), {:prompt => "* Specify Shipment Type" } , style: 'font-size:12px', class: "form-control"  if params[:query].present?%>
                     <%= f.select :category ,options_for_select(["All", "Intra-Inter City","Cross_Border","Inter_City","Intra_City"]), {:prompt => "* Specify Shipment Type" } , style: 'font-size:12px', class: "form-control"  if params[:query].blank?%>

    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 "><br>
                   <%= f.label "Pickup Location" ,"Pickup Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :pickup_location , style: 'font-size:12px', value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  %>
                      <%end%>                 

                  </div>     </div>

                  <div class="col-md-12 col-sm-12 "><br>
                   <%= f.label "Drop Location:" ,"Drop Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                 <% if params[:query].present?%>
                   <%= f.text_field :drop_location , style: 'font-size:12px', value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location , style: 'font-size:12px', class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location, style: 'font-size:12px' , class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
     </div>    </div>

                       <%str = "Shipments - "+@shipment_dashboard.count.to_s + " ( " + @shipment_dashboard_total.count.to_s + ")"  %>

                  <div class="col-md-12 col-sm-12 ">
<br>
                    <div class="selectHolder">

                            <%= f.text_field :count , style: 'font-size:12px', value:str ,placeholder:  "Drop Location",class: " form-control" ,readonly:true%>

 </div>

                                       </div>




       <div class="col-md-8 col-sm-8">
                                     <%= link_to "Reset Filter", cargo_root_path , class: "btn btn-primary submit-btn"%>

                    <br>

                  </div>
                       <div class="col-md-4 col-sm-4">
                       
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %> 
                    <br>

                  </div>

                </div>

                <% end %>
              </div>

                 <hr>
               
              <table class="table table-bordered table-striped " data-page-length='10'>
               
               
                     
                <tbody>
              
          
                 <%@shipment_dashboard.each do |s|%>

                      <tr>
                      <u  style ="font-size:13px" > Shipment No : </u> <strong  style ="font-size:12px"><%= s.id%></strong> </u>
                      </tr>
                      <br>
                       <tr>
                     <b style ="font-size:13px">   From : </b> <i style ="font-size:12px"><%= s.pickup_location%></i>
                      </tr>  <br><tr>
                      <b style ="font-size:13px">   To :  </b>  <i style ="font-size:12px"><%= s.drop_location%></i>
                      </tr>  <br><tr>
                       <i style ="font-size:13px">  No. of Vehicles : </i> <b style ="font-size:12px"> <%= s.no_of_vehicles%></b>
                      </tr> 
                       <br><tr>
                      <i style ="font-size:13px">   Shipment status : </i><b style ="font-size:12px"> <%= s.status%></b>
                      </tr> 
                       <br><tr>
                       <i style ="font-size:13px">  Loading Time : </i>
                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at) rescue nil%></b>
                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%></b>

                      </tr> <br>
                      <tr>
                       <i style ="font-size:13px">  Departure Time : </i>
                       <%if s.shipment_action_dates.where(state: "Enroute to Origin Border").present?%>
                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at) rescue nil%></b>
                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "Enroute to Origin Border").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%></b>
                      <% elsif s.shipment_action_dates.where(state: "Enroute to Destination").present? %>

                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at) rescue nil%></b>
                      <b style ="font-size:12px">   <%= s.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%></b>
                      <%end%>
                      </tr> <br>

                   
                      
                      
                       <tr>
                       <i style ="font-size:13px">  Customer Agreed Amount : </i> <b style ="font-size:12px"> <%=s.try(:accepted_rate_currency)    if  s.customer_net_amount.present?%> <%=   number_with_delimiter(s.try(:customer_net_amount).to_i , :delimiter => ',')   if  s.customer_net_amount.present?  %> </b>
                      <b style ="font-size:12px">   <%=s.try(:accepted_rate_currency)    if   s.customer_net_amount.blank? %> <%=number_with_delimiter(s.try(:amount).to_i , :delimiter => ',')   if  s.customer_net_amount.blank?  %></b>

                      </tr>  <br>
                      <b> <u> <i style = "text-align : center;font-size:12px"  > Driver Details:</i></u></b>



  <table class="table table-bordered table-striped activity_listings" data-page-length='50'>
              <thead>
              <tr>
                <% columns = ["Driver","Action", "Registation","Type","Mobile","Distance", "ETA"]
                   columns.each do |col|
                %>
                  <th style ="font-size:10px" ><%= col %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
              <% s.shipment_vehicles.all.each do |shipment_vehicle|%>
                  <tr>
                       <td style ="font-size:12px" ><%= shipment_vehicle.try(:vehicle).try(:driver).try(:full_name)%></td>
                                             <td style ="font-size:12px">  <%= button_tag "Show on map", :style => 'float:left;', class:"btn btn-flat btn-success pull-right download_excel" ,:onclick => "myFunction(#{s.id},#{shipment_vehicle.try(:vehicle).try(:id) } )",:onmouseover => "myFunction(#{s.id},#{shipment_vehicle.try(:vehicle).try(:id)  })"  %>        </td>

                    <td style ="font-size:10px"><%= shipment_vehicle.try(:vehicle).try(:registration_number) %></td>
                    <td style ="font-size:10px"><%= shipment_vehicle.try(:vehicle).try(:vehicle_type).try(:name) %></td>
                   <td style ="font-size:10px"><%=  User.find_by_company_id(shipment_vehicle.vehicle.try(:company_id)).try(:mobile) %></td>


                      <%= form_for "query", method: :get do |f|%>
                      <%= f.hidden_field :shipment_id ,value: s.id , class: "form-control" %>
                      <%= f.hidden_field :shipment_index  , class: "form-control" %>
                
                         </form>    <%end%>

                             <%if s.status != "At Offloading Point"%>
             
                            <% url = "https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=#{shipment_vehicle.try(:vehicle).try(:latitude).to_f},#{shipment_vehicle.try(:vehicle).try(:longitude).to_f}&destinations=#{s.drop_lat.to_f},#{s.drop_lng.to_f}&key=AIzaSyB1HWmKW_bjT7fYjh1wzVHmZ9C5JQFEaLw"
                              response = HTTParty.get(url)
                              durations = response["rows"].first["elements"].first["duration"].blank? ? 0 : (response["rows"].first["elements"].first["duration"]["value"] )  rescue ""
                              distance = response["rows"].first["elements"].first["distance"].blank? ? 0 : (response["rows"].first["elements"].first["distance"]["text"] )  rescue ""

                             %>

                           <%km = distance.split("mi").first.delete(',').to_i rescue 0                      
                            km = km*1.6%>
                      <td style ="font-size:10px"> <%=distance %> (<%=number_with_delimiter(km.to_i , :delimiter => ',') %> KM)  </td>                           <br>
                  
                      <% if km > 200

                        durations = km / 40 * 3600 ;
                        end  
                           %>
                                 
                        <%tz = ISO3166::Country.new(current_user.country.short_name).timezones.zone_identifiers.first    
                       durations =  (DateTime.now()+durations.seconds).in_time_zone(tz)  if durations != 0
                       durations = "N/A" if durations == 0%>
                    
                         
                          <td style ="font-size:10px" ><%=durations%> </td>
                         </b> <br>
                         <%end%>
                           
                  </tr>
              <%end%>
              </tbody>
            </table>









</tr>
                      <script>   
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                        </script>

                      <hr style = "position: relative; top: -5px;">
                    
                <%end%>
                
                </tbody>

              </table>

</div>
</div>


</span>
<script data-turbolinks-eval="false">
    $(document).on('turbolinks:load', function () {
      initMap() 
        if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }

        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
        (function poll() {


            type=document.getElementById("query_category").value
            pickup_location=document.getElementById("query_pickup_location").value
            drop_location=document.getElementById("query_drop_location").value

              url=("/cargo/shipments/get_bulk_coordinates?type="+type+"&pickup_location="+pickup_location+"&drop_location="+drop_location);


            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    deleteMarkers();
                    setMapOnAll(map)
                    
                    $.each(data["coordinates"], function (index, value) {
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                        });
                        // alert(data)
                        
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                            content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Shipment No. "+value.shipment.id+"</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.shipment.no_of_vehicles + "  X  "+ value.vehicle_type.name+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.vehicle_name +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.pickup_full_address+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.drop_full_address+
                            "              </div>\n <br><br>" +
                                                            "    <h1>Status :"+value.vehicle_status+"</h1>\n" +
                                                            "    <h1>State :"+value.vehicle_state+"</h1>\n" +
                                                            "    <h1>Last updated :"+value.coordinates_updated_at+"</h1>\n" +



                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                        marker.addListener('click', function() {
                            infowindow.open(map, marker);
                        });
                    })
                },
                dataType: "json",
                complete: setTimeout(function () {

                    if ($('.bulk_geocode').length == 1) {
                        poll()    
                    }
                    
                }, 30000),
                timeout: 30000
            })
        })();

    })

$(document).ready(function(){
  updateRangeValue($('input[type=range]'));
  $('input[type=range]').on('input change',function(){
    var input = $(this);
    updateRangeValue(input);
  });    
});
function updateRangeValue(input){
  var value = input.val();
  var maximum = input.attr('max'); 
  var inputWidth = input.width();
  var offLeft = Math.floor((value / maximum) * inputWidth - (((value / maximum) * inputWidth - inputWidth/2) / 100) * 24);    
  var offLeftAbs = value == maximum ? input.offset().left - 15 + offLeft : input.offset().left - 10 + offLeft;
  input.next('.text').css({'left': offLeftAbs +'px'});
  input.next('.text').html(value);
}

$('#driversSlider').bind('slide.bs.carousel', function (e) {
   
    document.getElementById("query_shipment_index").value=e.to;
});

         if(navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(function(position) {
                initMapWithCenter({lat: position.coords.latitude, lng: position.coords.longitude })
            },function (err) {
                initMapWithCenter({lat: <%= @user_country_coordinates[:lat] %> , lng: <%= @user_country_coordinates[:lng] %> })
                map.setZoom(5)
            })
        }

        markers = [];
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        function clearMarkers() {
          setMapOnAll(null);
        }
        function deleteMarkers() {
          clearMarkers();
          markers = [];
        }
function myFunction(id,index) {


  url=("/cargo/shipments/get_bulk_filtered_coordinates?shipment_id="+id+"&index="+index);
         
          (function poll() {
         $.ajax({
                url: url,
                type: "post",
                success: function (data) {
                    deleteMarkers();
                    setMapOnAll(map)
                   value = data["coordinates"][0] 
                  
                        var marker = new google.maps.Marker({
                            position: {lat: value.lat, lng: value.lng},
                            icon: "/truck_pin.png",
                            map: map,
                        });
                        // alert(data)
                        markers.push(marker)
                        var infowindow = new google.maps.InfoWindow({
                           content: "<div class=\"map-pin-holder\">\n" +
                            "    <h1>Shipment No. "+value.shipment.id+"</h1>\n" +
                            "    <div class=\"pin-row clearfix\">\n" +
                            "      <div class=\"fleet-col-left\">\n" +
                            "        <div class=\"truck-row\">\n" +
                            "          <span><img src=\"/dyna-truck.png\" alt=\"\" ></span>\n" +
                            "          <span>"+value.shipment.no_of_vehicles + "  X  "+ value.vehicle_type.name+"</span>\n" +
                            "        </div>\n" +
                            "        <div class=\"truck-number\">" + value.vehicle_name +
                                "</div>\n" +
                            "      </div>\n" +
                            "      <div class=\"fleet-col-right\">\n" +
                            "          <div class=\"address-outer\">\n" +
                            "              <div class=\"address-one\">\n" +
                            "                 "+value.pickup_full_address+
                            "              </div>\n" +
                            "              <div class=\"address-two\">\n" +
                            "                  "+value.drop_full_address+
                            "              </div>\n <br><br>" +
                                                            "    <h1>Status :"+value.vehicle_status+"</h1>\n" +
                                                            "    <h1>State :"+value.vehicle_state+"</h1>\n" +
                                                            "    <h1>Last updated :"+value.coordinates_updated_at+"</h1>\n" +



                            "              </div>\n" +
                            "          </div>\n" +
                            "    </div>\n" +
                            "    </div>\n" +
                            "  </div>"
                        });
                            infowindow.open(map, marker);
                       
                  
                },
                dataType: "json",
               
            })
               })();

}



    function populate_data() {
      type = document.getElementById("query_accepted_rate_currency").value;
      urls ='cargo/dashboard/filtered_dashboard?type='+type
      // 22alert (urls)
              $.ajax({
                  url: urls,
                  type: "GET",
                  success: function (data) {
 
                    },                           
               })
                            }

</script>