// placeholder color //
        @mixin placeholder($color){
            &::-webkit-input-placeholder {
                color:$color;
                font-weight: 400;
            }
            &::-moz-placeholder {
                color:$color;
                font-weight: 400;
            }
            &:-ms-input-placeholder {
                color:$color;
                font-weight: 400;
            }
            &:-moz-placeholder {
                color:$color;
                font-weight: 400;
            }
        }
.map-pin-holder {
       background: rgba(7, 65, 169, 0.94);
       padding: 15px;
       margin: 0 0 0px;
       position: relative;
       max-width: 320px;
       margin: 0 auto;

       h1 {
           color: #fff;
           font-weight: 500;
           font-size: 15px;
           padding: 0 0 15px 0px;
           margin: 0px;
       }
       .pin-row {
         .fleet-col-left {
             float: left;
             width: 40%;
             box-sizing: border-box;
             padding: 0 5px 0 5px;
             .truck-row {
               padding: 0 0 10px;
               span {
                 display: block;
                 padding: 0 0 5px;
                 text-align: center;
                 color: #fff;
                 font-size: 13px;
                 font-weight: 400;
                 img {
                   max-width: 50px;
                 }
               }
             }
             .truck-number {
               max-width: 90%;
               background: #fff;
               color: #0742aa;
               border: 1px solid #c7f4ff;
               padding: 2px;
               text-align: center;
               font-weight: 600;
               text-transform: uppercase;
             }
         }
         .fleet-col-right {
             float: right;
             width: 60%;
             box-sizing: border-box;
             padding: 0 5px 0 0px;
             .address-outer {
                 padding: 0 0px 10px;
                 position: relative;
             }
             .address-one {
                 padding: 0 0 20px 20px;
                 margin-bottom: 5px;
                 color: #fff;
                 font-size: 12px;
                 font-weight: 400;
                 position: relative;
                 background: url(image_path('map-address-dotted-border.png')) 0px 0px repeat-y;
                 &:before {
                     content: "";
                     width: 16px;
                     height: 16px;
                     position: absolute;
                     top: 0px;
                     left: -7px;
                     background: url(image_path('pickup-address.png')) 0px 0px no-repeat;
                     background-size: 16px 16px;
                 }
             }
             .address-two {
                 padding: 0 0 0px 20px;
                 color: #fff;
                 font-size: 12px;
                 font-weight: 400;
                 position: relative;
                 span {
                     display: block;
                     font-size: 14px;
                     font-weight: 400;
                 }
                 &:before {
                     content: "";
                     width: 16px;
                     height: 26px;
                     position: absolute;
                     top: -3px;
                     left: -7px;
                     background: url(image_path('dropoff-address.png')) 0px 0px no-repeat;
                     background-size: 16px 26px;
                 }
             }
             .pickup-date {
                 font-size: 13px;
                 color: #353535;
                 font-weight: 400;
                 span {
                     font-weight: 300;
                     display: block;
                 }
             }
         }
       }
     }
     .avatar{
         display: block;
         margin-left: auto;
         margin-right: auto;
         border-radius: 50%;
         width: 100px;
         height: 100px;
     }
     .sidebar-dark-primary .nav-sidebar > .nav-item.menu-open > .nav-link, .sidebar-dark-primary .nav-sidebar > .nav-item.active > .nav-link {
        color: #ffffff;
            background-color: rgba(255, 255, 255, 0.1);
     }
     .selectHolder{
         background:url(image_path('select-arrow.png')) 96% center no-repeat #fff;
         box-sizing:border-box;
         width:100%;
         border: solid 1px #959595;
         color:#1e1e1f;
         @include placeholder(#1e1e1f);
         font-size: 16px;
         font-weight: 600;
         margin-top:2px;
         select {
             background: transparent;
             width:100%;
             padding: 9px 20px;
             font-size: 13px;
             color:#1e1e1f;
             font-weight: 500;
             border: 0;
             border-radius: 0;
             -webkit-appearance:none;
             -moz-appearance:none;
             appearance:none;
             &:focus{
                 outline: none;
             }
             &.disabled{
                 cursor:not-allowed;
             }
             option{
                 color: #000;
                 &:hover{
                     background:#0094b9;
                     color: #fff;
                 }
             }
         }
         .datepick {
            border: 0px;
         }
     }

     .content-wrapper {
        padding-top: 70px;
     }
     .navbar-fixed-top {
         position: fixed !important;
         left: 0px;
         top: 0px;
         width: 100%;
         margin-left: 0px;
     }
     #map {
            width: 100%;
            height: calc(100vh - 0px);
            margin-left: 0px;
     }
     @media (min-width: 991px){
         .navbar-fixed-top {
             position: fixed !important;
             left: 0px;
             top: 0px;
             width: 100%;
             width: calc(100% - 250px);
             margin-left: 250px;
         }
         #map {
                     width: calc(100% - 250px);
                         height: calc(100vh - 0px);
                         margin-left: 250px;
              }
     }
  .receipt-modal {
      .payment-date {
              padding: 0px 30px 20px 0;
              font-size: 16px;
              text-align: right;
              span {
                  display: block;
                  font-size: 14px;
                  color: #0a98bc;
                  font-weight: 500;
              }
          }
          .shipment-number {
              padding: 0px 20px 30px 15px;
              font-size: 16px;
              font-weight: 400;
              span {
                  display: block;
                  padding: 4px 0 0;
                  font-size: 15px;
                  font-weight: 300;
              }
          }
          .cash-col {
                padding: 0 15px 0px;
                max-width: 580px;
                margin: 0 auto;
                position: relative;
                .cash-row {
                    padding: 0 0 10px;
                    position: relative;
                    span {
                        float: left;
                        width: 50%;
                        font-size: 16px;
                        font-weight: 400;
                        &.cash {
                            color: #04a200;
                            text-align: right;
                            font-weight: 500;
                        }
                        &.commission {
                           color: #0094b9;
                        }
                    }
                }
            }
            .terms{

              .term-first{
                  font-weight: bold;
                  text-decoration: underline;
                  text-align: center;
              }
              .center-terms{
                  text-align: center;
              }
            }
            .paid-stamp {
                padding: 0 35px 10px 0;
                text-align: right;
                margin: 0 0 0;
                img {
                    max-width: 160px;
                    display: inline-block;
                }
            }
            .fleet-row {
              padding: 0px 0 35px;
              & .fleet-col-left {
                  width: 48%;
                  border-right: 0px solid #353535;
                  & .truck-row {
                      background: none;
                      margin: 0px;
                      padding: 0px 20px;
                      font-size: 16px;
                      color: #353535;
                      font-weight: 300;
                      display: block;
                      img {
                        max-width: 80px;
                      }
                      span {
                          display: block;
                          text-align: center;
                      }
                  }

              }
              .fleet-col-right {
                  width: 48%;
                  border-left: 1px solid #353535;
                  .address-outer {
                      margin: 0px;
                      padding-left: 60px;
                      float: none;
                  }
              }
            }
  }
  .modal-receipt-width {
      max-width: 640px !important;
  }

  .assing-vehicles-modal{
    margin: 85px auto;
      -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      box-shadow: 3px 4px 16px rgba(0,0,0,.18);
      position: relative;
      max-width: 640px !important;
}
.assing-vehicles-modal-inner {

  h1 {
    color: #0094b9;
    font-size: 22px;
    font-weight: 500;
    padding: 15px 0 10px;
    margin: 0px;
    border-top: 10px solid #0094b9;
    text-align: center;
  }
  .shipment-number {
    text-align: center;
    padding: 0 0 25px;
    font-size: 16px;
    font-weight: 400;
    color: #313131;
  }
  .address-outer {
    max-width: 190px;
    margin: 0 auto;
    padding: 0 10px 20px;
    position: relative;
  }
  .distance-holder {
    font-size: 16px;
    color: #353535;
    position: absolute;
    top: 32px;
    left: -26px;
    webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 700;
  }
  .address-one {
    padding: 0 0 25px 22px;
    margin-bottom: 5px;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    background: url(image_path('dotted-border.jpg')) 0px 0px repeat-y;
    span{
      display: block;
      font-size: 16px;
      font-weight: 400;
    }
    &:before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      top: -2px;
      left: -8px;
      background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
      background-size: 18px 18px;
    }
  }
  .address-two {
    padding: 0 0 10px 22px;
    color: #353535;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    span{
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
    &:before {
      content: "";
      width: 26px;
      height: 36px;
      position: absolute;
      top: -3px;
      left: -9px;
      background: url(image_path('location-icon.png')) 0px 0px no-repeat;
    }
  }
  .pickup-date-row {
    padding: 0 15px 30px;
    .left-col {
      float: left;
      width: 65%;
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #646464;
        padding: 0 0 2px;
      }
      .time {
        span {
          color: #0094b9;
          font-weight: 400;
          font-size: 16px;
          display: inline-block;
          position: relative;
          padding: 0 5px 0 0;
          &:after {
            content: "";
            position: absolute;
            top: 0px;
            right: -3px;
            width: 1px;
            height: 100%;
            background: #353535;
          }
          &.date {
            color: #353535;
            font-weight: 400;
            padding: 0 0px 0 5px;
            &:after {
              display: none;
            }
          }
          &.without-time {
            padding: 0 0px;
          }
        }
      }
    }
    .right-col {
      float: right;
      width: 35%;
      span {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #646464;
        padding: 0 0 2px;
        &.hours {
          color: #0094b9;
          font-weight: 400;
          font-size: 16px;
          &.black {
            color: #353535;
          }
        }
      }
    }
  }
  .payment-mode {
    padding: 0 15px 20px;
    color: #0094b9;
    font-weight: 400;
    font-size: 13px;
    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #646464;
      padding: 0 0 2px;
    }
  }
  .truck-row {
    padding: 7px 25px 15px 70px;
    background: url(image_path('truck.png')) 0px 8px no-repeat;
    background-size: 60px 38px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .choose-vehicle {
    padding: 30px 0 30px 30px;
     #shipment_vehicle_ids {
        width: 80%;
        min-height: 100px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #353535;
    }
  }
  .item {
    padding: 0px 45px;
    .item-inner {
      border-bottom: none;
      padding: 0px;
      .label {
        color: #0596ce;
        font-weight: 500;
        font-size: 16px;
    }
    .select {
      padding: 6px 7px 3px 0;
      .select-text {
        color: #0596ce;
        font-size: 16px;
        font-weight: 500;
      }
    }
      .select-icon-inner {
        color: #292929;
      }
    }
  }
  .buttons-holder {
    padding: 0px 10px 10px;
    margin: 0 25px 10px;
    .cancel-button {
      float: left;
      background: white;
      border: 1px solid #555555;
      cursor: pointer;
      padding: 8px 20px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: #555555;
    }
    .submit-btn {
      float: right;
      background: #0094b9;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 20px 9px;
      cursor: pointer;
      text-transform: uppercase;
      border: 1px solid #0094b9;
      margin-top: 0px !important;
    }
  }
   .close-modal {
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 50;
      cursor: pointer;
      img {
        max-width: 25px;
      }
    }
}
      .modal-holder {
                        margin: 0px 0px;
                        background: white;
                        border: 0px solid #a1a1a1;
                        border-top: none;
                        //-webkit-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                         // -moz-box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                         // box-shadow: 3px 4px 16px rgba(0,0,0,.18);
                        h1 {
                          color: #0094b9;
                          font-size: 25px;
                          font-weight: 500;
                          padding: 15px 0 10px;
                          margin: 0px;
                          border-top: 10px solid #0094b9;
                          text-align: center;
                          position: relative;
                          z-index: 10;
                          pointer-events: none;
                        }
                        .shipment-number {
                          text-align: center;
                          padding: 0 0 25px;
                          font-size: 16px;
                          font-weight: 400;
                          color: #313131;
                        }
                        .address-outer {
                          max-width: 290px;
                          margin: 0 auto;
                          padding: 0 10px 15px 60px;
                          position: relative;
                        }
                        .distance-holder {
                          font-size: 16px;
                          color: #353535;
                          position: absolute;
                          top: 32px;
                          left: -26px;
                          webkit-transform: rotate(-90deg);
                          -moz-transform: rotate(-90deg);
                          -o-transform: rotate(-90deg);
                          -ms-transform: rotate(-90deg);
                          transform: rotate(-90deg);
                          font-weight: 700;
                        }
                        .address-one {
                          padding: 0 0 25px 22px;
                          margin-bottom: 5px;
                          color: #353535;
                          font-size: 16px;
                          font-weight: 400;
                          position: relative;
                          background: url(image_path('dotted-border.jpg')) 0px 0px repeat-y;
                          span{
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                          }
                          &:before {
                            content: "";
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            top: -2px;
                            left: -8px;
                            background: url(image_path('address-before.jpg')) 0px 0px no-repeat;
                            background-size: 18px 18px;
                          }
                        }
                        .address-two {
                          padding: 0 0 30px 22px;
                          color: #353535;
                          font-size: 16px;
                          font-weight: 400;
                          position: relative;
                          span{
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                          }
                          &:before {
                            content: "";
                            width: 26px;
                            height: 36px;
                            position: absolute;
                            top: -3px;
                            left: -9px;
                            background: url(image_path('location-icon.png')) 0px 0px no-repeat;
                          }
                        }
                        .truck-row {
                          padding: 0px 0 20px 70px;
                          background: url(image_path('truck.png')) 0px 0px no-repeat;
                          background-size: 60px 38px;
                          margin-left: -20px;
                          font-size: 16px;
                          font-weight: 500;
                        }
                        .bids-container {
                          background: #0593cc;
                          padding: 10px 10px 10px;
                          margin: 0 25px 10px;
                        }
                        .bids-row {
                          position: relative;
                          margin: 0 0 10px;
                          clear: both;
                          overflow: hidden;
                          div {
                            background: #0593cc;
                            display: inline-block;
                            color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 5px;
                            z-index: 999;
                            position: relative;
                            &.bid-label {
                              float: left;
                              margin: 0 0 0 -4px;
                            }
                            &.bid-amount {
                              float: right;
                              margin: 0 -4px 0 0;
                              font-weight: 400;
                            }
                          }
                          &:after {
                            content: "";
                            position: absolute;
                            bottom: 10px;
                            left: 0px;
                            width: 100%;
                            border-bottom: 2px dotted #fff;
                            z-index: 10;
                          }
                        }
                        .destination-holder {
                          padding: 0px 10px 10px;
                          margin: 0 25px 10px;
                          h4 {
                              font-size: 20px;
                              padding: 0 0 15px;
                          }
                          span.red {
                              display: block;
                              padding: 20px 0px;
                          }
                        }
                        .destination-row {
                          position: relative;
                          margin: 0 0 0px;
                          clear: both;
                          overflow: hidden;
                          div {
                            background: #fff;
                            display: inline-block;
                            color: #444545;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 5px;
                            z-index: 999;
                            position: relative;
                            &.destination-label {
                              float: left;
                              margin: 10px 0 0 -4px;
                              max-width: 55%;
                            }
                            &.destination-amount {
                              float: right;
                              margin: 20px -6px 0 0;
                            }
                          }
                          &:after {
                            content: "";
                            position: absolute;
                            bottom: 17px;
                            left: 0px;
                            width: 100%;
                            border-bottom: 2px dotted #444545;
                            z-index: 10;
                          }
                        }
                        .buttons-holder {
                          padding: 0px 10px 10px;
                          margin: 0 25px 10px;
                          .cancel-button {
                            float: left;
                            background: white;
                            border: 1px solid #555555;
                            cursor: pointer;
                            padding: 8px 20px;
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 400;
                            text-transform: uppercase;
                          }
                          .submit-btn {
                            float: right;
                            background: #0094b9;
                                color: #fff;
                            font-size: 16px;
                            font-weight: 400;
                            padding: 8px 20px;
                            cursor: pointer;
                            text-transform: uppercase;
                            border: 1px solid #0094b9;
                            width: inherit !important;
                                        margin-top: 0px !important;
                          }
                        }
                      }
       .fleet-row {
                   padding: 0px 0 35px;
                   & .fleet-col-left {
                       width: 48%;
                       float: left;
                       border-right: 0px solid #353535;
                       & .truck-row {
                           background: none;
                           margin: 0px;
                           padding: 0px 20px;
                           font-size: 16px;
                           color: #353535;
                           font-weight: 300;
                           display: block;
                           img {
                             max-width: 80px;
                           }
                           span {
                               display: block;
                               text-align: center;
                           }
                       }

                   }
                   .fleet-col-right {
                       width: 48%;
                       float: right;
                       border-left: 1px solid #353535;
                       .address-outer {
                           margin: 0px;
                           padding-left: 60px;
                           float: none;
                       }
                   }
                 }
                 .modal-body {
                    padding: 0px !important;
                 }
.download_excel {
    margin-right: 15px;
}
.add_country, .add_new_vehicle {
    margin-right: 5px;
}
table.dataTable {
    width: 100% !important;
}