<p>Hello,</p>
<p>
  <br>
  This is to notify that, shipment # <%= @shipment.id %> has not recieved any bids.
  <br>
  <br>
  <b>Cargo Owner:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:first_name) %> <%= @shipment.try(:company).try(:cargo_owner).try(:last_name) %>
  <br>
  <b>Cargo Owner Phone No.:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:mobile) %>
  <br>
  <b>Pickup Location:</b> <%= @shipment.pickup_location %>
  <br>
  <b>Dropoff Location:</b> <%= @shipment.drop_location %>
  <br>
  <b>Type of Vehicle: </b> <%= @shipment.try(:vehicle_type).try(:name) %>
  <br>
  <b>Commodity:</b> <%= @shipment.cargo_description %> packing type: <%= @shipment.cargo_packing_type %>
  <br>
  <b>Current Online Drivers:</b>
  <br>
<div class="card-body">
  <table id="online_users" border="1" class="table table-bordered table-striped" data-page-length='10'>
    <thead>
    <tr>
      <th><b>Fleet Id  </b></th>
      <th><b>Fleet Owner Name </b></th>
      <th><b>Fleet Owner Number  </b></th>
    </tr>
    </thead>
    <tbody>
    <% @online_users.each do |user| %>
      <tr>
        <td><%= user.id%> | </td>
        <td><%= user.try(:first_name)%> <%= user.try(:last_name)%> | </td>
        <td><%= user.try(:mobile)%> | </td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>