<p>Hello Admin,</p>
<p>
  Cargo Owner has requested to change the destination of shipment # <%= @shipment.id %> from <%= @old_destination %> to <%= @new_destination %>.
</p>
<p>Best,</p>
<p>Lorryz</p>