<%    puts "\n\n\n\t\t 33 \n\n"
%>

<p>Hello,</p>
<p>
  <br>
  This is to notify that following Cargo Company documents have expired .
  <br>
  
  <br>
<div class="card-body">
  <table id="shipment_bids" border="1" class="table table-bordered table-striped" data-page-length='10'>
    <thead class="thead-dark">
    <tr>
      <th><b>Cargo Company ID </b></th>
      <th><b>Cargo Company Name </b></th>
      <th><b>Country </b></th>


    </tr>
    </thead>
    <tbody>
<%  @expired_companies = CompanyInformation.cargo_company.filter_expired_company(Date.today())

    @expired_companies.each do |expired_companies| %>
           <% @user = User.find_by_company_id(expired_companies.company_id)%>

      <tr>
        <td><%= expired_companies.id%> </td>
        <td><%= expired_companies.try(:name)%>  </td>
          <td><%= @user.try(:country).try(:name)%>  </td>

      </tr>
    <%end%>
    </tbody>
  </table>
</div>
<br>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>