<%    puts "\n\n\n\t\t 33 \n\n"
%>

<p>Hello,</p>
<p>
  <br>
  This is to notify that following Cargo Individual documents have expired .
  <br>
  
  <br>
<div class="card-body">
  <table id="shipment_bids" border="1" class="table table-bordered table-striped" data-page-length='10'>
    <thead class="thead-dark">
    <tr>
      <th><b>Cargo Company ID </b></th>
      <th><b>Cargo Individual Name </b></th>
      <th><b>Country </b></th>


    </tr>
    </thead>
    <tbody>
<%  @expired_indiv =  IndividualInformation.cargo_indi.filter_expired_cargo_indiv(Date.today())

    @expired_indiv.each do |expired_indiv| %>
   <% @user = User.find_by_company_id(expired_indiv.company_id)%>
      <tr>
        <td><%= expired_indiv.id%>  </td>
        <td><%=  @user.first_name + " " + @user.last_name%>  </td>
          <td><%= @user.try(:country).try(:name)%>  </td>
       
      </tr>
    <%end%>
    </tbody>
  </table>
</div>
<br>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>