<p>Hello,</p>
<p>
  <br>
  This is to notify that new shipment request has been received .
  <br>
  <b>Shipment name : </b><%=@shipment.id  %>
  <br>
  <b>Cargo Owner:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:first_name) %> <%= @shipment.try(:company).try(:cargo_owner).try(:last_name) %>
  <br>
  <b>Cargo Owner Phone No. :</b> <%= @shipment.try(:company).try(:cargo_owner).try(:mobile) %>
  <br>
  <b>Shipment pickup loaction : </b><%= @shipment.pickup_location  %>
  <br>
  <b>Shipment Dropoff loaction : </b><%= @shipment.drop_location  %>
  <br>
  <b>Vehicle Type :</b> <%= @shipment.vehicle_type.name %>
  <br> <b>Commodity: </b><%= @shipment.cargo_description %> packing type <%= @shipment.cargo_packing_type %>
  <br>
  <b>No. of Trucks : </b><%= @shipment.no_of_vehicles  %>
  <br>


  <b>Shipment Country : </b><%= @shipment.try(:country).try(:name)  %>
  <br>
  




</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>