<p>Hello,</p>
<p>

Dear valued customer,

Your shipment no.: <%= @shipment.id %> has been completed.<br>
If you have any complaints or feedback on the shipment please feel free to write to us at contact@lorryz.com so we can improve our services.
<br>
Below you will find the shipment summary<br>
========================<br><br>
Shipment no.:  <%= @shipment.id %> <br>
Customer name :  <%=  @shipment.try(:company).try(:company_name)  %><br>
Loading location : <%= @shipment.pickup_location %><br>
Unloading location : <%= @shipment.drop_location %><br>
Vehicle type : <%=  @shipment.try(:vehicle_type).try(:name)  %><br>
No of vehicles : <%= @shipment.no_of_vehicles %><br>
Cargo description :  <%= @shipment.cargo_description %><br>
Total shipment duration : <%= @duration_shipment  %><br>
At loading date/time :  <%= @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at) rescue nil%>
               <%= @shipment.shipment_action_dates.where(state: "At Loading").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
<br>
Enroute date/time :     <%= @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "Enroute to Destination").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
          <br>
At unloading date/time :    <%=    @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at)  rescue nil%>
              
                <%= @shipment.shipment_action_dates.where(state: "At Offloading Point").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
           <br>
Completed date/time :  <%= @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at) rescue nil%>
                 <%= @shipment.shipment_action_dates.where(state: "completed").try(:last).try(:performed_at_time).strftime("%I:%M %p")  rescue nil%>
          <br>
========================<br><br>



    <% action_dates = @shipment.shipment_vehicles %>
                <%if action_dates.present? %>
                     <%action_dates.each do |action_date| %>                
                  Vehicle no :<%= action_date.try(:vehicle).try(:registration_number) %> <br> 
                  Driver name : <%= action_date.try(:vehicle).try(:driver).try(:full_name) rescue "" %><br>
           
========================<br> 
              <%end %>
              
                <%end %>
            </div>
          </div>

</p>
<p>Best,</p>
<p>Lorryz</p>