<p>Hello,</p>
<p>
  <br>
  This is to notify that, shipment # <%= @shipment.id %> has been started.
  <br>
  <b>Cargo Owner:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:first_name) %> <%= @shipment.try(:company).try(:cargo_owner).try(:last_name) %>
  <br>
  <b>Cargo Owner Phone No.:</b> <%= @shipment.try(:company).try(:cargo_owner).try(:mobile) %>
  <br>
  <b>Pickup Location:</b> <%= @shipment.pickup_location %>
  <br>
  <b>Dropoff Location:</b> <%= @shipment.drop_location %>
  <br>
  <b>Type of Vehicle:</b> <%= @shipment.try(:vehicle_type).try(:name) %>
  <br>
  <b>Commodity:</b> <%= @shipment.cargo_description %> 
   <br>
  <b>  packing type:</b>  <%= @shipment.cargo_packing_type %>
  <br>
  <b>Accepted Fleet Owner Name:</b> <%= User.find_by_company_id(@shipment.shipment_fleets.last.company.id).first_name if @shipment.shipment_fleets.present? %> <%= User.find_by_company_id(@shipment.shipment_fleets.last.company.id).last_name if @shipment.shipment_fleets.present? %>
  <br>
  <b>Accepted Fleet Owner Mobile:</b> <%= User.find_by_company_id(@shipment.shipment_fleets.last.company.id).mobile if @shipment.shipment_fleets.present? %>
  <br>
  <b>Bid Amount:</b> <%= number_with_precision(@shipment.amount, precision: 2)  %>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>

        