<p>Hello,</p>
<p>
  <br>
    <% if @amount.present?%>

  This is to notify that new shipment request has been received .
    <%else%>
      This is to notify that new shipment request with unique location combination has been received. 

  <%end%>

  <br>
  <b>Requestor name : </b><%= @name %>
  <br>
  <br>
  <b>Requestor Country : </b><%= @country %>
  <br>
  <b>RequestorPhone No. :</b> <%= @contact_no %>
  <br>
  <b>Pickup Location:</b> <%= @origin %>
  <br>
  <b>Dropoff Location:</b> <%= @destination %>
  <br>

  <% if @amount.present?%>
  <b>Estimated Amount:</b> <%= @amount  %>
  <%end%>
  <br>
  <br>
  <b>Vehicle Type:</b> <%= @vehicle %>
  <br>
</p>
<br>
<p>Best,</p>
<br>
<p>Lorryz</p>