<p>Hello,</p>
<p>
<%if @before_status.present?%>
  The status of shipment # <%= @shipment.id %> has been changed from <%= @before_status %> to <%= @after_status %> 
<%else%>
  The status of shipment # <%= @shipment.id %> has been changed  to <%= @after_status %> 
<%end%>

<%if @message.present?%>
<br>

Message : <%=@message%>
<%end%>



</p>
<p>Best,</p>
<p>Lorryz</p>