<div class="modal-dialog modal-custom-width">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-holder" id="<%=@shipment.id%>">
        <div class="close-modal" data-dismiss="modal">
          <%= image_tag("close-modal.png")%>
        </div>
        <h1>Submit your bid</h1>
        <div class="shipment-number">
          Shipment No. <%= @shipment.id  %>
        </div>
        <div class="address-outer">
          <div class="address-one">
            <%= @shipment.pickup_full_address%>
          </div>
          <div class="address-two">
            <%= @shipment.drop_full_address%>
          </div>
          <div class="truck-row">
            <%=@shipment.no_of_vehicles.to_s + "  X  "+ @shipment.vehicle_type.name %>
          </div>
        </div>
        <%currency =  shipment_currency(@shipment)   %>
        <div class="bids-container">
          <div class="bids-row">
            <div class="bid-label">Your Total Bid</div>
            <div class="bid-amount"> <%=currency %> <%= format_amount_to_currency @bid_amount rescue ""%></div>
          </div>
          <div class="bids-row">
            <div class="bid-label">Lorryz Share</div>
            <div class="bid-amount"> <%=currency %> <%= format_amount_to_currency @lorryz_share rescue ""%></div>
          </div>
          <div class="bids-row">
            <div class="bid-label">Your Total Income</div>
            <div class="bid-amount"> <%=currency %> <%= format_amount_to_currency @your_income rescue ""%></div>
          </div>
        </div>
        <div class="destination-holder">
          <div class="destination-row">
            <div class="destination-label">
              Waiting charges Per Day Per Vehicle
            </div>
            <div class="destination-amount">
              <%=currency %> <%= format_amount_to_currency @detention_amount rescue ""%>
            </div>
          </div>
          <div class="destination-row">
            <div class="destination-label">
              Lorryz Waiting charges share
            </div>
            <div class="destination-amount">
              <%=currency %> <%= format_amount_to_currency @lorryz_detention_income  rescue ""%>
            </div>
          </div>
          <div class="destination-row">
            <div class="destination-label">
              Your Waiting charges income
            </div>
            <div class="destination-amount">
              <%=currency %> <%= format_amount_to_currency @your_detention_income rescue ""%>
            </div>
          </div>
          <div class = "row">
            <p class="cancel_text red ">Once bids are accepted by Shipper then Penalty charges of
              <%= currency %> <%= @shipment.try(:vehicle_type).try(:fleet_penalty_amount)   %>
              / Per Vehicle will apply for cancellations
            </p>
          </div>
          <%= form_for @bid , url: fleet_shipment_bids_path do |f| %>
            <%=f.hidden_field :shipment_id , value: @shipment.id%>
            <%= f.hidden_field :amount , value: @bid_amount %>
            <%= f.hidden_field :detention , value: @detention_amount%>
            <div class="buttons-holder clearfix">
              <%= link_to "Cancel","#", "data-dismiss": "modal" , class: "btn btn-danger btn-flat"  %>
              <%= f.submit "Submit Bid" , class: "submit-btn"%>
            </div>
          <%end%>

        </div>
      </div>
    </div>
  </div>
</div>