<% if @error %>
	var error= '<%=@error%>';
	new Noty({ text: error,type: 'error'}).show()
<% else %>
	new Noty({ text: 'Thank you! Your email is added successfully in our list',type: 'success'}).show()
<% end %>

$(".form-row form")[0].reset()