
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Cargo Company</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @info, :url  => { :action => "add_cargo_company_information" } do |f| %>
       <%= render partial: "avatar", locals: {f: f,  info: @info} %>
  
                              <%=f.hidden_field :userid ,value: @current_cargo.id %>
          




               <div class="form-group clearfix">
      
      <%= f.label "Company Name", "Company Name"%>
      <%= f.text_field :name, autofocus: true, autocomplete: "Company name",class: "input-field", placeholder: "*Company name" %>

    </div>

               <div class="form-group clearfix">
      
      <%= f.label "Address", "Address"%>
      <%= f.text_field :address, autofocus: true, autocomplete: "Address",class: "input-field", placeholder: "*Address" %>

    </div>

               <div class="form-group clearfix">
     
      <%= f.label "Website", "Website"%>
      <%= f.text_field :website_address, autofocus: true, autocomplete: "Website",class: "input-field", placeholder: "*Website" %>

    </div>
               <div class="form-group clearfix">
     
      <%= f.label "Industry", "Industry"%>
       <%= f.select(:industry,options_for_select( ["FMCG", "Oil & Gas","Automotive","Plastic","Metal","Construction","Freigh and Shipping","Others"]),  {:prompt => "*Industry" } ,{class: "form-control"}  )%>

    </div>
        <div class="form-group clearfix">
      
      <%= f.label "Company's Trade License Number", "Company's Trade License No."%>
      <%= f.text_field :license_number , autocomplete: "license_number", class: "input-field" ,placeholder:  "*Company's Trade license Number"  %>
    </div>

               <div class="form-group clearfix">
      
      <%= f.label "License Expiry Date" , "License Expiry Date"%>
      <%= f.text_field :license_expiry_date , autocomplete: "Registration_expiry_date", class: "input-field datepicker" ,placeholder:  "*License Expiry Date"%>
    </div>
  <div class="form-group clearfix">


      <%= f.label "Company's TRN", "Company's TRN."%>

      <%= f.text_field :trade_registration_no , autocomplete: "license_number", class: "input-field" ,placeholder:  "*Company's registration Number"  %>

    </div>


               

<br><br>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 1 Designatio", "Contact Person 1 Designation"  %>
      <%= f.text_field :contact1_designation , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 1 Designation" %>

<br><br>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 1 Office No", "Contact Person 1 Office No"  %>
      <%= f.text_field :contact1_office_no , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 1 Office No"  %>

    </div>

<br><br>

         <div class="form-group clearfix">
     
      <%= f.label "Contact Person 2 First Name" , "Contact Person 2 First Name"%>
      <%= f.text_field :contact2_first_name , autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 2 First Name"  %>
    </div>
            <div class="form-group clearfix">
      
      <%= f.label "Contact Person 2 Last Name" , "Contact Person 2 Last Name"%>
      <%= f.text_field :contact2_last_name , autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 1 Last Name"  %>
    </div>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 2 Mobile Number", "Contact Person 2 Mobile No."  %>
      <%= f.text_field :contact2_mobile , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Mobile No"  %>
    </div>


               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 2 Email", "Contact Person 2 Email"  %>
      <%= f.text_field :contact2_email , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Email" %>

<br><br>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 2 Designatio", "Contact Person 2 Designation"  %>
      <%= f.text_field :contact2_designation , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Designation" %>

<br><br>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 2 Office No", "Contact Person 2 Office No"  %>
      <%= f.text_field :contact2_office_no , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Office No" %>

    </div>

<br><br>



         <div class="form-group clearfix">
      
      <%= f.label "Contact Person 3 First Name" , "Contact Person 3 First Name"%>
      <%= f.text_field :contact3_first_name , autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 3 First Name"  %>
    </div>
            <div class="form-group clearfix">
      
      <%= f.label "Contact Person 3 Last Name" , "Contact Person 3 Last Name"%>
      <%= f.text_field :contact3_last_name , autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 3 Last Name"  %>
    </div>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 3 Mobile Number", "Contact Person 3 Mobile No."  %>
      <%= f.text_field :contact3_mobile , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Mobile No"  %>
    </div>


               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 3 Email", "Contact Person 3 Email"  %>
      <%= f.text_field :contact3_email , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Email"  %>

<br><br>

               <div class="form-group clearfix">
     
      <%= f.label "Contact Person 3 Designatio", "Contact Person 3 Designation"  %>
      <%= f.text_field :contact3_designation , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Designation" %>

<br><br>

               <div class="form-group clearfix">
      
      <%= f.label "Contact Person 1 Office No", "Contact Person 3 Office No"  %>
      <%= f.text_field :contact3_office_no , autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Office No"%>

    </div>

<br><br>



               <div class="form-group clearfix">
      <label>Upload scanned copies of all documents</label>
      <%= render partial: "/companies/attachments", locals: {f: f,  info: @info} %>
    </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat"><%= @edit == true ? "UPDATE" : "SAVE" %></button>
      </div>
    </div>

  <% end %>











    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






