
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Shipment Details</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
     <%= form_for @shipment, :url  => { :action => "add_admin_shipment_details" } do |f| %>
  
           <div class="card-body">
             
             
                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :amount , "Cargo Accepted Rate"%>
                <br>
                <%= f.text_field :amount , class: "form-control", placeholder: "*Cargo Accepted Rate" , required: true  ,:disabled => true%>
              </div>
               <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :fleet_income , "Fleet Accepted Rate"%>
                <br>
                <%= f.text_field :fleet_income , class: "form-control", placeholder: "*Fleet Accepted Rate" , required: true  ,:disabled => true%>
              </div>

                 <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :lorryz_share_amount , "Lorryz share "%>
                <br>
                <%= f.text_field :lorryz_share_amount , class: "form-control", placeholder: "*Lorryz share" , required: true  ,:disabled => true%>
              </div>


                <div class="form-group">
                <%= f.label "*" , class: "label_required"%>
                <%= f.label :additional_cost , "additional cost"%>
                <br>
              </div>
                                    


              <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block btn-flat"><%= "ADD" %></button>
                </div>

      <%end%>
    </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






