
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Shipments</h3>
              <div class = "row">
                <div class  =" col-md-4"></div>
                <div class  =" col-md-3">
                  <%= text_field_tag :start_date, nil, class: "search-datepicker datepick form-control" ,placeholder:  "Start Date"  %>
                </div>
                <div class  =" col-md-3">
                  <%= text_field_tag :end_date ,nil, class: "search-datepicker datepick form-control" ,placeholder:  "End Date"  %>
                </div>
                <%= link_to "Download in Excel" , admin_shipments_path(format: :xlsx) , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" , onclick: "append_date_range_params(this);"%>
              <br>
                <%= link_to "Add New  Shipment" ,new_admin_shipment_path , id: "shipment_xlsx" ,class: "btn btn-flat btn-success pull-right" %>

              </div>
            </div>
            <div class = "card-body">
              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:admin_shipments_path, method: :get do |f|%>
                <div class="row ship">
                 
                  <div class="col-md-4 col-sm-4  pad-2">
                    <%= f.label :country_id , "Country" %>
                    <div class="selectHolder">
                      <%= f.collection_select :country_id ,Country.all, :id,:name,{include_blank: true, :selected => params[:query][:country_id] },{class: "form-control" } %>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :status %>
                    <div class="selectHolder">
                      <%= f.select :status,shipment_states, {include_blank: true, :selected => params[:query][:status] }, {:class => "form-control"}  %>
                    </div>  </div>

                      <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :shipment_no %>
                    <div class="selectHolder">
                     <% if params[:query].present?%>
                    <%= f.text_field  :shipment_no, class: " form-control" ,  value: params[:query][:shipment_no] , onchange: "populate_data()" if params[:query][:shipment_no].present? %>
                    <%= f.text_field  :shipment_no , class: " form-control", onchange: "populate_data()" if params[:query][:shipment_no].blank? %>
                      <%else%>
                     <%= f.text_field  :shipment_no , class: " form-control", onchange: "populate_data()"  %>
                      <%end%>                 

                    </div>

                  </div>
        

                  <div class="col-md-4 col-sm-4 pad-2">
                   <%= f.label "Start Date" ,"Start Date:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :pickup_date , style: 'font-size:12px', value: params[:query][:pickup_date] ,class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  if params[:query][:pickup_date].present?%>
                   <%=f.text_field :pickup_date , style: 'font-size:12px', class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  if params[:query][:pickup_date].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_date , style: 'font-size:12px', class: "search-datepicker datepick form-control" ,placeholder:  "Pickup Date"  %>
                      <%end%>                 

                  </div>     </div>

                  <div class="col-md-4 col-sm-4 pad-2">
                   <%= f.label "End Date:" ,"End Date:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                 <% if params[:query].present?%>
                   <%= f.text_field :drop_date , style: 'font-size:12px', value: params[:query][:drop_date] ,class: "search-datepicker datepick form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_date].present?%>
                   <%=f.text_field :drop_date , style: 'font-size:12px', class: "search-datepicker datepick form-control" ,placeholder:  "Drop Date"  if params[:query][:drop_date].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_date, style: 'font-size:12px' , class: "search-datepicker datepick form-control" ,placeholder:  "Drop Date"  %>
                      <%end%>
                 </div>    </div>

                  <div class="col-md-4 col-sm-4">
                   <%= f.label "Customer Reference" ,"Customer Reference:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :reference , style: 'font-size:12px', value: params[:query][:reference] ,class: " form-control" ,placeholder:  "Customer Reference"  if params[:query][:reference].present?%>
                   <%=f.text_field :reference , style: 'font-size:12px', class: " form-control" ,placeholder:  "Customer Reference"  if params[:query][:reference].blank?  %>

                      <%else%>
                      <%= f.text_field :reference , style: 'font-size:12px', class: " form-control" ,placeholder:  "Customer Reference"  %>
                      <%end%>                 

                  </div>     </div>



                  <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :truck_no %>
                    <div class="selectHolder">
  <%=f.autocomplete_field :vehicle_number, autocomplete_vehicle_vehicle_name_admin_users_path , class: "form-control",id_element: '#query_vehicle_id', onchange: "populate_data()", value: params[:query][:vehicle_number]%>
                   <%= f.hidden_field :truck_no, id: 'query_vehicle_id'%>
                                   </div> </div>  


                     <div class="col-md-4 col-sm-4">
                   <%= f.label "cargo_name" ,"cargo_name:", style: 'font-size:12px' %>
                    <div class="selectHolder">                       
                  <%=f.autocomplete_field :cargo_owner, autocomplete_company_information_name_admin_company_information_index_path, class: "form-control", value: params[:query][:cargo_owner],id_element: '#company_id'%>
                      <%= f.hidden_field :cargo_company_id, id: 'company_id', value: params[:query][:cargo_company_id] %>

                  </div>     </div>

                         <div class="col-md-4 col-sm-4">
                   <%= f.label "fleet_name" ,"fleet_name:", style: 'font-size:12px' %>
                    <div class="selectHolder">                       
                  <%=f.autocomplete_field :fleet_owner, autocomplete_user_fleet_owner_name_admin_users_path, class: "form-control", value: params[:query][:fleet_owner],id_element: '#company_fleet_id'%>
                   <%= f.hidden_field :fleet_company_id, id: 'company_fleet_id', value: params[:query][:fleet_company_id]  %>

                  </div>     </div>






                  <div class="col-md-4 col-sm-4">
                   <%= f.label "Pickup Location" ,"Pickup Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                                     <% if params[:query].present?%>

                     <%= f.text_field :pickup_location , style: 'font-size:12px', value: params[:query][:pickup_location] ,class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].present?%>
                   <%=f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  if params[:query][:pickup_location].blank?  %>

                      <%else%>
                      <%= f.text_field :pickup_location , style: 'font-size:12px', class: " form-control" ,placeholder:  "Pickup Location"  %>
                      <%end%>                 

                  </div>     </div>

                  <div class="col-md-4 col-sm-4">
                   <%= f.label "Drop Location:" ,"Drop Location:", style: 'font-size:12px' %>
                    <div class="selectHolder">               
                 <% if params[:query].present?%>
                   <%= f.text_field :drop_location , style: 'font-size:12px', value: params[:query][:drop_location] ,class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].present?%>
                   <%=f.text_field :drop_location , style: 'font-size:12px', class: "form-control" ,placeholder:  "Drop Location"  if params[:query][:drop_location].blank?  %>

                      <%else%>
                      <%= f.text_field :drop_location, style: 'font-size:12px' , class: "form-control" ,placeholder:  "Drop Location"  %>
                      <%end%>
                 </div>    </div>




                   <div class="col-md-4 col-sm-4 pad-2">
                    <%= f.label :truck_assigned %>
                    <div class="selectHolder">
                    <%= f.select :truck_assigned,options_for_select(["Truck Assigned", "Truck Not Assigned"], params[:query][:truck_assigned]), {:prompt => "*Assignement Status" } , class: "form-control" %> </td>
                    </div> </div>  



                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                  <div class="col-md-4 col-sm-4">
                   <%= link_to "Reset Filter", admin_shipments_path() , class: "btn btn-primary submit-btn"%>

                  </div>


                </div>
                <% end %>
              </div>

              <table class="table table-bordered table-striped admin_listings" data-page-length='100' style="width: auto!important;">
                <thead>
                <tr>
                  <%
                    columns = ["id","Customer","No. of Trucks","Pickup Location","Drop Location","Customer Reference","Pickup Date","Pickup Time","Status","Driver","Truck No.","Truck Type","Buying","Selling","Advance Paid","Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col.humanize %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @shipments.each do |shipment|%>
                  <tr>
                    <td> <%= shipment.try(:id) %> </td>
                     <td> <%= shipment.try(:company).try(:company_name) %></td>
                     <td> <%= shipment.try(:no_of_vehicles) %></td>


                    <td> <%= shipment.try(:pickup_full_address) %> </td>
                    <td> <%= shipment.try(:drop_full_address) %> </td>
                    <td> <%= shipment.try(:invoice_comments) %> </td>

                    <td> <%= shipment.try(:pickup_date).strftime(display_date_format) %> </td>
                    <td> <%= local_time_format shipment.try(:pickup_time) %> </td>
                    <td> <%= shipment.status %></td>
                     <td>

                   <% 
                   shipment.shipment_fleets.each do |fleet| %>
                  <%=  User.find_by_company_id(fleet.company_id).try(:full_name)%>,
                     <%end%></td>

                      <td>

                   <% 
                   shipment.shipment_fleets.each do |fleet| %>
                     <%=  User.find_by_company_id(fleet.company_id).try(:vehicle).try(:registration_number)%>,
                    <%end%></td>

                      <td>

                   <% 
                   shipment.shipment_fleets.each do |fleet| %>
                     <%=  User.find_by_company_id(fleet.company_id).try(:vehicle).try(:vehicle_type).try(:name)%>,
                 <%end%></td>
                     <td> <%= shipment.fleet_net_rate if   shipment.fleet_net_rate.present?%>
                      <%= shipment.fleet_income if   shipment.fleet_net_rate.blank?%>
                     </td>

                     <td>
                      <%= shipment.customer_net_amount if   shipment.customer_net_amount.present? %>
                      <%= shipment.amount if   shipment.customer_net_amount.blank? %>

                      </td>

                     <td> <%= shipment.advance_amount %></td>


                   






                    

                    <td>
                      <%= link_to "View", admin_shipment_path(shipment), 'data-no-turbolink' => true, class: "btn btn-info btn-flat grid-btn" %>
                      <%= link_to "Edit", edit_admin_shipment_path(shipment,query:params[:query].permit!), class: "btn btn-warning btn-flat grid-btn" %>
                     <%= link_to fa_icon('eye'), edit_history_admin_shipment_path(shipment.id), class: "btn btn-warning btn-flat grid-btn" %>

                      <% if shipment.completed? or shipment.cancel? %>
                        <%= link_to "Add Discount", edit_admin_shipment_path(shipment) , class: "btn btn-success btn-flat grid-btn" , remote: true%>
                      <% end %>
                      <% if  shipment.state != "cancel"  && shipment.state != "completed" %>
                        <%= link_to "Cancel", cancel_admin_shipment_path(shipment),method: :delete,data: { confirm: 'Are you sure?' }  ,class: "btn btn-danger btn-flat grid-btn" %>
                      <% end %>
                      
                      <% if [ "accepted","vehicle_assigned","ongoing"].include? shipment.state %>

                          <%= link_to "Complete ", admin_shipment_path(shipment ,query:params[:query].permit!, "shipment[state_event]" => :completed, "shipment[completed_by]" => "admin"),method: :patch, data: {confirm: "Are you sure you want to complete this shipment?"}, class: "btn btn-danger btn-flat grid-btn" %>
                      <%end%>
                          <% link_text = shipment.shipment_fleets.present? ? "Change Driver" : "Assign Driver"%>
                           <%= link_to link_text ,assign_vehicle_admin_shipment_path(shipment.id,query:params[:query].permit!),remote: :true, class: "btn btn-danger btn-flat grid-btn"  %>         
                                                             <% if ["accepted", "vehicle_assigned", "ongoing","completed"].include? shipment.state %>

                          <% link_text = shipment.lorryz_share_amount.blank? ? "Add Costing" : "Update Costing"%>
                           <%= link_to link_text ,assign_cost_admin_shipment_path(shipment.id,query:params[:query].permit!),remote: :true, class: "btn btn-danger btn-flat grid-btn" , style: ' background-color: green; border:none' %>         
                      <%end%>
                      
              
                    </td>

           
                  </tr>
                <%end%>
                </tbody>
              </table>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @shipments %>
    </div>
    <%= will_paginate @shipments, :container => false %>
  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
