<!--<h1>New Cargo Shipment</h1>-->

<%# render 'form', cargo_shipment: @cargo_shipment %>

<%# link_to 'Back', cargo_shipments_path %>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <!--<div class="container-fluid">-->
      <!--<div class="row mb-2">-->
        <!--<div class="col-sm-6">-->
          <!--<h1>Shipments</h1>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
  </section>
  <%= render "admin/shipments/form" , cargo_shipment: @shipment, action: "New"%>
</div>
