<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
    <form action="">
    <h5>Online Durations</h5>
    <div class = "row form-group">
       <div class  =" col-md-3">
           <%= text_field_tag :user_id, nil, value: @user_id, class: "form-control" ,placeholder:  "User ID", :autocomplete => :off   %>
       </div>
       <div class  =" col-md-3">
           <%= text_field_tag :start_date, nil, value:  @start_date, class: "search-datepicker datepick form-control" ,placeholder:  "Start Date", :autocomplete => :off   %>
       </div>
       <div class="col-md-1">to</div>
       <div class  =" col-md-3">
           <%= text_field_tag :end_date ,nil, value: @end_date, class: "search-datepicker datepick form-control" ,placeholder:  "End Date", :autocomplete => :off   %>
       </div>
       <div class  =" col-md-1">
           <%= submit_tag "View", class: "btn btn-flat btn-info pull-left" %>
       </div>
    </div>
    </form>


       <%= render partial: "report_common", locals: {reports: @reports, dates: @dates }%>


    </div>
  </section>
</div>