<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add New Notification</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <%= form_for @notification , url: moderator_admin_notification_index_path  do |f|%>
                <%= render 'layouts/error_messages', object: @notification %>

                <div class="form-group">
                  <%= f.label "*" , class: "label_required"%>
                  <%= f.label :text%>
                  <%= f.text_field :text, autofocus: true,required: true, autocomplete: "Notification text",class: "form-control", placeholder: "*Notification Text" %>
                </div>
                
              

                  <div class="form-group">
                    <%= f.label "*" , class: "label_required"%>
                    <%= f.label "", "Specify Receivers ?" %><br> &nbsp; &nbsp; 
                      <%= f.radio_button :receivers, 1, :checked => true %> All
                      <%= f.radio_button :receivers,3 %> Cargo
                      <%= f.radio_button :receivers, 4 %> Fleet

                   </div>


   
                <div class="form-group">
                  <input type="submit" name="" value="Roll out" class="btn btn-primary btn-block btn-flat">
                </div>

              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>