@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css");
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

*{
    margin:0px;
    padding:0px;
    outline:none;
    font-family:"Fira Sans",sans-serif;
    line-height:normal;
    box-sizing:border-box;
}
body{
    font-size:14px;
    overflow-x:hidden;
    background: #f1f1f1;
    margin: 2rem;
}


$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.line2{
    border-top:3px solid #0094b9;
    width:100%
}

.landscape {
    height: 30px;
    width: 80px;
}
.blog-card {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: auto;
    height:400px;
    z-index: 0;
    a {
      color: inherit;
      
    }
    
    
    .show-read-more .more-text{
        display: none;
    }
    .read-more{
        color:navy;
    }
    .meta {
      z-index: 0;
      height: 200px;
    }
    .photo {
      position: inherit;
      align-content: center;
      background-size: 100%;
      background-position: center;
      height: auto;
      width: auto;
    }
    .details,
    .details ul {
      margin: auto;
      padding: 0;
      list-style-type: circle;
    }
   
    .details {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      margin: auto;
      background: rgba(#000, .6);
      color: $color_white;
      padding: 10px;
      width: 100%;
      font-size: .9rem;
      a {
        text-decoration: dotted underline
      }
      ul li {
        display: inline-block;
        list-style-type: circle;
      }
      
  
      .tags {
        ul:before {
          font-family: FontAwesome;
          content: "\f02b";
          margin-right: 10px;
        }
        li {
          margin-right: 2px;
          &:first-child {
            margin-left: -4px;
          }
        }
      }
    }
    .description {
      padding: 1rem;
      background: $color_white;
      position: relative;
      z-index: 0;
      h1,
      h2 {
        font-family: Poppins, sans-serif;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color_grey_dark;
        margin-top: 5px;
      }
      .read-more {
        text-align: right;
        a {
          color: $color_prime;
          display: inline-block;
          position: relative;
          &:after {
            content: "\f061";
            font-family: FontAwesome;
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition: margin .3s, opacity .3s;
          }
  
          &:hover:after {
            margin-left: 5px;
            opacity: 1;
          }
        }
      }
    }
    .description .content2{
        float:right !important;
        padding-right:2% !important;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 15px !important;
        font-weight:bold !important;
        text-align:right !important;
    }
    p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_prime;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
    &:hover {
      .details {
        left: 0%;
      }
    }
    @media (min-width: 50px) {
      flex-direction: row;
      max-width: auto;
      .meta {
        flex-basis: 40%;
        height: auto;
      }
      .description {
        flex-basis: 60%;
        &:before {
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: 0;
        }
      }
      &.alt {
        flex-direction: row-reverse;
        .description {
          &:before {
            left: inherit;
            right: -10px;
           
          }
        }
        .details {
          padding-left: 25px;
        }
      }
    }
}

.blog-banner-holder{
    padding:114px 0px 70px;
    background:image_url('blog-headerImage.png') 60% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:relative

}
.blog-main-image{
  display: flex;
}
@media only screen and (min-width: 768px){
    .blog-banner-holder {
        padding:114px 0px 70px;
        background:image_url('blog-headerImage.png') 0px 0px no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        position:relative
    }
}
a{
    text-decoration:none;
    outline:none !important;
    color:#676e79
}
a:hover{
    text-decoration:none
}
a:active{
    text-decoration:none
}
a:visited{
    text-decoration:none
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    padding:0 0 10px;
    margin:0px;
    line-height:normal
}
p{
    line-height:normal;
    padding:0 0 10px;
    margin:0px;
    color:#000000;
    font-size:14px
}
.clearfix:after{
    content:"&nbsp;";
    font-size:0;
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.clearfix{
    display:inline-block
}
.clearfix{
    display:block
}
* html .clearfix{
    height:1%
}
.clear{
    clear:both
}
ul{
    display:block;
    margin:3px;
    padding:2px;
    list-style-type: circle;
}
ul li{
    list-style-type: circle;
}
.fLeft{
    float:left
}
.fRight{
    float:right
}
.fNone{
    float:none
}
.red{
    color:red
}
.errors{
    font-size:14px;
    font-weight:700;
    padding:0 0 10px;
    color:red
}
.success{
    font-size:14px;
    font-weight:700;
    padding:0 0 10px;
    color:#66ae00
}
.header-container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}
.text-field{
    box-sizing:border-box;
    width:100%;
    padding:7px 10px;
    border:0px;
    background:#fff
}
.text-field::-webkit-input-placeholder{
    color:#676e79
}
.text-field::-moz-placeholder{
    color:#676e79
}
.text-field:-ms-input-placeholder{
    color:#676e79
}
.text-field:-moz-placeholder{
    color:#676e79
}
@media only screen and (min-width: 576px){
    .container{
        max-width:1170px
    }
}
.menu-btn{
    position:absolute;
    top: 3px;
    right:15px;
    background:#0094b9;
    padding:7px;
    border-radius:5px;
    z-index:16
}
@media only screen and (min-width: 990px){
    .menu-btn{
        display:none
    }
}
.navi-icon{
    width:30px;
    height:20px;
    position:relative;
    margin:0px auto;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition:.5s ease-in-out;
    cursor:pointer;
    z-index:20
}
.navi-icon span{
    display:block;
    position:absolute;
    height:4px;
    width:100%;
    background:#fff;
    border-radius:9px;
    opacity:1;
    left:0;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    z-index:9999
}
.navi-icon span:nth-child(1){
    top:0px
}
.navi-icon span:nth-child(2),.navi-icon span:nth-child(3){
    top:8px
}
.navi-icon span:nth-child(4){
    top:16px
}
.navi-icon.open span:nth-child(1){
    top:18px;
    width:0%;
    left:50%
}
.navi-icon.open span{
    background:#fff
}
.navi-icon.open span:nth-child(2){
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg)
}
.navi-icon.open span:nth-child(3){
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.navi-icon.open span:nth-child(4){
    top:18px;
    width:0%;
    left:50%
}
.c-mask{
    position:fixed;
    width:100%;
    height:100vh;
    z-index:10;
    display:none;
    background:rgba(0,0,0,0.5);
    top:0px;
    left:0px
}
.disable-scroll{
    overflow:hidden
}
.header-holder{
    padding:25px 0 25px;
    box-sizing:border-box;
    width:100%;
    z-index:15;
    background:#fff
}
.header-holder .logo{
    padding: 7px 0 0;
 }
.header-holder .logo img{
    width:100%
}

.header-holder.header-active:after{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:15
}
.navigation-holder{
    position:fixed;
    width:240px;
    height:100vh;
    background-color:#0094b9;
    left:0px;
    top:0px;
    z-index:20;
    text-align:left;
    margin-left:-300px
}
@media only screen and (min-width: 990px){
    .navigation-holder{
        position:initial;
        width:auto;
        height:auto;
        background:none;
        left:initial;
        top:initial;
        margin:0px;
        padding:15px 0 0
    }
}
.navigation-holder ul.navigation{
    display:block;
    margin:0px;
    padding:0px
}
@media only screen and (min-width: 990px){
    .navigation-holder ul.navigation{
        text-align:right
    }
}
.navigation-holder ul.navigation li{
    display:block
}
@media only screen and (min-width: 990px){
    .navigation-holder ul.navigation li{
        display:inline-block;
        padding:0 1px
    }
}
@media only screen and (min-width: 1050px){
    .navigation-holder ul.navigation li{
        padding:0 4px
    }
}
.navigation-holder ul.navigation li a{
    font-size:14px;
    font-weight:500;
    color:#fff;
    padding:10px 5px;
    display:block;
    border-bottom:1px solid #fff;
    text-transform:uppercase
}
.navigation-holder ul.navigation li a:hover{
    background:#fff;
    color:#0094b9
}
.navigation-holder ul.navigation li a.active{
    background:#fff;
    color:#0094b9
}
.navigation-holder ul.navigation li a.signup{
    background:#0094b9;
    color:#fff
}
@media only screen and (min-width: 990px){
    .navigation-holder ul.navigation li a{
        font-size: 13px;
    }
}
@media only screen and (min-width: 1128px){
    .navigation-holder ul.navigation li a{
        font-size: 15px;
    }
}
@media only screen and (min-width: 990px){
    .navigation-holder ul.navigation li a{
        border:0px;
        padding:7px 12px;
        color:#313131;
   }
    .navigation-holder ul.navigation li a:hover{
        background:#0094b9;
        color:#fff
    }
    .navigation-holder ul.navigation li a.active{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background:#0094b9;
        color:#fff
    }
    .navigation-holder ul.navigation li a.signup{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px
    }
    .navigation-holder ul.navigation li a:hover{
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background:#0094b9;
        color:#fff
    }
}
.navigation-holder.open-left-menu{
    margin-left:0px;
    -webkit-transition:all .5s;
    transition:all .5s
}
.footer-contact{
    background:image_url('contact-bg.jpg') 50% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding:60px 20px;
    text-align:center;
    color:#252525;
    font-size:22px;
    font-weight:400
}
.footer-contact a{
    color: #0094b9;
    font-size: 18px;
}
.footer-contact span{
    color:#252525;
    font-size:22px;
    font-weight:400;
    display:block;
    padding-left:15px;
    padding:0 0 20px
    a {
        color: #fff;
    }
}

@media only screen and (min-width: 768px){
    .footer-contact span{
        display:inline-block
    }
}
.footer-visual{
    background:image_url('footer-bg.jpg') 35% 35% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding:100px 0px;
    text-align:center
}
@media only screen and (min-width: 576px){
    .footer-visual{
        text-align:left
    }
}
.footer-copy{
    padding:0 0 0
}
@media only screen and (min-width: 576px){
    .footer-copy{
        max-width:350px
    }
}
.footer-copy h2{
    font-size:36px;
    font-weight:300;
    color:#fff;
    padding:0 0 20px
}
.footer-copy p{
    font-size:16px;
    font-weight:300;
    color:#fff;
    padding:0 0 30px;
    line-height:30px;
    text-align:justify;
}
ul.address-list{
    display:block;
    margin:0px;
    padding:0px
}
ul.address-list li{
    position:relative;
    padding:0 0 30px 35px;
    font-size:16px;
    font-weight:300;
    color:#fff
}
ul.address-list li span{
    display:block;
    padding:0 0 10px
}
@media only screen and (min-width: 576px){
    ul.address-list li span.image{
        position:absolute;
        top:-2px;
        left:0px
    }
}
ul.address-list li span.image img{
    max-width:22px
}
ul.footer-navi{
    display:block;
    margin:0px;
    padding:0px
}
ul.footer-navi li{
    display:block;
    padding:0 0 30px 30px;
    position:relative
}
ul.footer-navi li:before{
    content:"";
    position:relative;
    width:16px;
    height:16px;
    background:#0094b9;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:inline-block;
    margin:0 7px 0 0
}
ul.privacy-links {
    padding: 10px 0px;
    li {
        padding: 0 0 30px 30px;
        a {
            font-size: 12px;
        }
    }
}
@media only screen and (min-width: 576px){
    ul.footer-navi li:before{
        position:absolute;
        top:0px;
        left:0px
    }
}
ul.footer-navi li a{
    color:#fff;
    font-size:16px;
    font-weight:400;
    text-transform:uppercase
}
ul.footer-navi li:hover:before{
    background:#fff;
    -webkit-transition:all .5s;
    transition:all .5s
}
.newsletter-holder{
    padding:0 0 20px
}
.newsletter-holder h3{
    font-size:20px;
    font-weight:400;
    color:#fff;
    padding:0 0 20px;
    text-align: left;
}
.newsletter-holder .news-letter-form{
    padding:0 0 30px
}
.newsletter-holder .news-letter-form .form-row{
    position:relative
}
.newsletter-holder .news-letter-form .form-row .input-field{
    box-sizing:border-box;
    padding:15px 25px;
    width:100%;
    background:#fff;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    border:0px;
    font-size:16px
}
.newsletter-holder .news-letter-form .form-row .go-btn{
    -webkit-border-top-right-radius:25px;
    -webkit-border-bottom-right-radius:25px;
    -moz-border-radius-topright:25px;
    -moz-border-radius-bottomright:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    padding:13px 15px;
    font-size:20px;
    color:#fff;
    top:0px;
    position:absolute;
    right: -10px;
    background:#0094b9;
    cursor:pointer;
    border:0px
}
.newsletter-holder .news-letter-form .form-row .go-btn:hover{
    background:#0596ce;
    -webkit-transition:all .5s;
    transition:all .5s;
    color:#fff
}
.copyrights{
    text-align:center;
    color:#0094b9;
    padding:10px 0px
}
ul.footer-socials{
    display:block;
    margin:0px;
    padding:0px;
    text-align:center
}
ul.footer-socials li{
    display:inline-block;
    padding:0 5px 5px
}
ul.footer-socials li a{
    font-size:22px
}
ul.footer-socials li a i{
    color:#fff;
    font-size:22px
}
ul.footer-socials li a:hover i{
    -webkit-transition:all .5s;
    transition:all .5s
}
ul.footer-socials li a:hover i.fa-facebook{
    color:#3c5a99
}
ul.footer-socials li a:hover i.fa-twitter{
    color:#00aced
}
ul.footer-socials li a:hover i.fa-linkedin{
    color:#007bb6
}
ul.footer-socials li a:hover i.fa-envelope{
    color:#3290d4
}
.banner-holder{
    padding:114px 0px 70px;
    background:image_url('lorryz-banner.jpg') no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position:relative

}
@media only screen and (min-width: 768px){
    .banner-holder {
        padding:114px 0px 70px;
        background:image_url('lorryz-banner.jpg') 0px 0px no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        position:relative
    }
}
.banner-heading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    
    h1{
    font-size:28px;
    color: rgb(23,40,61);
    font-weight:500;
    text-align:center;
    padding:10px 0 10px;
    margin:0px;
    background: rgba(255,255,255,0.5);
}
}


@media only screen and (min-width: 768px){
    .banner-inner h1{
        font-size:40px;
    }
}
.banner-form{
    max-width:980px;
    margin:-120px auto 0;
    position: relative;
    z-index: 10;
}
.banner-form h2{
    text-align:center;
    color:#fff;
    padding:0 0 43px;
    margin:0px;
    font-size:20px;
    font-weight:400
}
.banner-form .form-visual{
    padding:0 0 0;
    margin:0 auto;
    max-width:740px
}
.banner-form .form-visual h3{
    background:rgba(23,40,61,0.95);
    color:#fff;
    padding:13px 40px 14px 40px;
    display:inline-block;
    -webkit-border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topleft:15px;
    -moz-border-radius-topright:15px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    font-size:19px;
    margin-bottom:-1px;
    font-weight:600;
    margin-left:12px
}
@media only screen and (min-width: 576px){
    .banner-form .form-visual h3{
        margin-left:31px
    }
}
.banner-form .form-holder{
    background:rgba(23,40,61, 0.9);
    padding:19px 25px 29px 25px;
    margin:0 11px 30px
}
.banner-form .form-holder .form-row{
    padding:0 0px 20px 0
}
.banner-form .form-holder .form-row label{
    font-size:17px;
    color:#fff;
    padding:0 0 4px;
    display:block
}
.selectCity{
    background:image_url('select-arrow.png') 96% center no-repeat #fff;
    box-sizing:border-box;
    width:100%;
    border:solid 1px #959595;
    color:#1e1e1f;
    font-size:16px;
    font-weight:600;
    margin-top:2px
}
.selectCity::-webkit-input-placeholder{
    color:#1e1e1f
}
.selectCity::-moz-placeholder{
    color:#1e1e1f
}
.selectCity:-ms-input-placeholder{
    color:#1e1e1f
}
.selectCity:-moz-placeholder{
    color:#1e1e1f
}
.selectCity select{
    background:transparent;
    width:100%;
    padding:9px 20px;
    font-size:13px;
    color:#1e1e1f;
    font-weight:500;
    border:0;
    border-radius:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.selectCity select:focus{
    outline:none
}
.selectCity select.disabled{
    cursor:not-allowed
}
.selectCity select option{
    color:#000
}
.selectCity select option:hover{
    background:#0094b9;
    color:#fff
}
.banner-text-field {
    box-sizing:border-box;
    width:100%;
    border:solid 1px #959595;
    font-size:13px;
    color:#1e1e1f;
    font-weight:500;
    border-radius:0;
    padding: 9px 20px;
}
.banner-text-field::-webkit-input-placeholder{
    color:#1e1e1f
}
.banner-text-field::-moz-placeholder{
    color:#1e1e1f
}
.banner-text-field:-ms-input-placeholder{
    color:#1e1e1f
}
.banner-text-field:-moz-placeholder{
    color:#1e1e1f
}
.submit-btn{
    background:#0094b9;
    color:#fff;
    font-size:16px;
    padding:10px 25px;
    //-webkit-border-radius:25px;
    //-moz-border-radius:25px;
    //border-radius:25px;
    cursor:pointer;
    border:0px;

}
.submit-btn:hover{
    background:#0596ce;
    -webkit-transition:all .5s;
    transition:all .5s;
    color:#fff
}
.btn-submit {
    background:#0094b9 !important;
    color:#fff;
    &:hover {
        background:#0596ce;
        -webkit-transition:all .5s;
        transition:all .5s;
        color:#fff
    }
}
@media only screen and (min-width: 768px){
    .submit-btn.gobtn{
        margin: 124px 0 0;
        float: right;
        position: absolute;
        top: 90px;
        right: 2px;
        width: 107px;
        padding: 9px 25px 8px;
        font-size: 15px;
    }
}
.playstore-btns{
    padding:15px 20px;
    text-align: center;
}
.download-btns{
    padding:0 10px 20px;
    max-width:200px;
    display: inline-block;
}
.download-btns span{
    display:block;
    font-size:16px;
/*    color:#fff;*/
    text-decoration: underline;
    font-weight:500;
    text-align:center;
    padding:0 0 5px;
    cursor:pointer
}
.download-btns span img{
    max-width:100%;
    display:inline-block
}
.why-choose-lorryz{
    padding:75px 20px 75px;
    text-align:center;
    max-width:1175px;
    margin:0 auto
}
.why-choose-lorryz h2{
    font-size:36px;
    color:#252525;
    text-transform:uppercase;
    padding:0 0 25px
}
.why-choose-lorryz h3{
    font-size:24px;
    color:#252525;
    padding:0 0 25px
}
.why-choose-lorryz p{
    font-size:17px;
    color:#252525;
    padding:0 0 50px;
    line-height:36px;
    font-weight:400
}
.why-choose-lorryz .submit-btn{
    padding:13px 65px
}
.why-choose-lorryz .submit-btn:hover{
    background:#0596ce;
    -webkit-transition:all .5s;
    transition:all .5s;
    color:#fff
}
@media only screen and (min-width: 768px){
   .playstore-btns{
    text-align: right;
   } 
}
@media only screen and (min-width: 576px){
    .why-choose-lorryz{
        padding:125px 20px 55px
    }
}
.success-stories-holder{
    background:#069fbb;
    padding:35px 0px 17px
}
.counter{
    padding:0 0 20px;
    text-align:center
}
.counter span{
    color:#fff;
    padding:0 0 5px;
    display:block;
    font-size:18px
}
.counter span.count{
    font-size:36px;
    font-weight:500
}

.about-us-holder{
    background:image_url('about-lorryz-truck.jpg') 50% 50% no-repeat #f4f3f3;
    position:relative;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}
@media only screen and (min-width: 768px){
    .about-us-holder{
        background:image_url('about-lorryz-truck.jpg') right bottom no-repeat #f4f3f3;
        background-size:50% 100%
    }
}
@media only screen and (min-width: 1040px){
    .about-us-holder{
        background:image_url('about-lorryz-truck.jpg') right bottom no-repeat #f4f3f3;
        background-size:50% 100%
    }
}
.about-us-holder:before{
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.35);
    z-index:0
}
@media only screen and (min-width: 768px){
    .about-us-holder:before{
        display:none
    }
}
.about-copy{
    padding:120px 0px 120px;
    position:relative
}
.about-copy h2{
    color:#fff;
    padding:0 0 20px;
    margin:0px;
    font-size:36px;
    position:relative;
    z-index:10;
    font-weight:500;
    text-transform:uppercase
}
.about-copy p{
    color:#fff;
    padding:0 0 5px;
    line-height:30px;
    font-size:18px;
    position:relative;
    z-index:10;
    text-align: justify;

}
.about-copy p .submit-btn{
    margin-top:60px;
    display:inline-block;
    font-size:18px;
    padding:12px 35px
}
@media only screen and (min-width: 768px){
    .about-copy h2{
        color:#393939
    }
    .about-copy p{
        color:#393939
    }
}
.our-vision-holder{
    max-width:990px;
    padding:0 15px;
    margin:-30px auto 0px;
    position:relative;
    z-index:9
}
.our-vision{
    background:#0a1e34;
    padding:50px 0px 10px
}
.vision-row{
    padding:0 0px 40px;
    max-width:765px;
    margin:0 auto
}
.vision-row h2{
    color:white;
    padding:0 0 20px;
    margin:0px;
    font-size:36px;
    position:relative;
    z-index:10;
    text-align:center;
    text-transform:uppercase
}
.vision-row p{
    color:#fff;
    padding:0 0 5px;
    line-height:30px;
    font-size:17px;
    position:relative;
    text-align:center
}
ul.priorities{
    display:block;
    margin:0px;
    padding:0px
}
ul.priorities li{
    display:block;
    padding:0 0 20px;
    position:relative;
    font-size:18px;
    padding:0 0 20px;
    color:#fff;
    text-align:center
}
ul.priorities li:before{
    content:"\f00c";
    font-size:18px;
    color:#fff;
    padding:0 0 0;
    font-family:'Font Awesome\ 5 Free'
}
.testimonial-holder{
    max-width:760px;
    margin:0 auto
}
.hide-btn{
    display:none !important
}
.strategy-holder{
    margin:0px 0 30px;
    padding:60px 20px 25px;
    background:#0094b9
}
.strategy-holder .vision-row{
    padding:0 0px 40px;
    max-width:765px;
    margin:0 auto
}
.strategy-holder .vision-row h2{
    color:#fff;
    padding:0 0 20px;
    margin:0px;
    font-size:36px;
    position:relative;
    z-index:10;
    text-align:center;
    text-transform:uppercase
}
.strategy-holder .vision-row p{
    color:#fff;
    padding:0 0 5px;
    line-height:30px;
    font-size:17px;
    position:relative;
    text-align:center
}
.strategy-holder ul.priorities{
    display:block;
    margin:0px;
    padding:0px
}
.strategy-holder ul.priorities li{
    display:block;
    position:relative;
    font-size:17px;
    padding:0 0 20px 30px;
    color:#fff;
    text-align:left
}
.strategy-holder ul.priorities li:before{
    content:"\f00c";
    font-size:18px;
    color:#fff;
    padding:0 0 0;
    font-family:'FontAwesome';
    position:absolute;
    top:4px;
    left:0px
}
.testimonial-caution{
    text-align:center;
    padding:0 0 30px
}
.testimonial-caution img{
    max-width:45px;
    display:inline-block
}
.support-section{
    padding:50px 0px 30px;
    background:#f4f3f3
}
.support-section .support-logo{
    padding:0 0 20px
}
.support-section .support-logo span{
    display:block;
    padding:0 0 10px;
    text-align:center;
    font-size:25px;
    font-weight:400;
    color:#0094b9
}
.support-section .support-logo span.image-holder{
    min-height:100px
}
.how-it-works-holder{
    padding:35px 0px
}
.how-it-works-holder h2{
    font-size:27px;
    padding:0 0 30px;
    color:#444343;
    text-align:center;
    text-transform:uppercase;
    font-weight:600
}
@media only screen and (min-width: 1010px){
    .how-it-works-holder{
        padding:40px 0px
    }
    .how-it-works-holder h2{
        font-size:36px;
        padding:0 0 70px
    }
}
.clients-holder{
    border-top:2px solid #6d6d6d;
    padding:15px 0px
}
.clients-holder .slick-slide{
    margin:0px 25px
}
.clients-holder .slick-slide img{
    width:100%
}
.clients-holder .slick-slider{
    position:relative;
    display:block;
    box-sizing:border-box;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    -khtml-user-select:none;
    -ms-touch-action:pan-y;
    touch-action:pan-y;
    -webkit-tap-highlight-color:transparent
}
.clients-holder .slick-list{
    position:relative;
    display:block;
    overflow:hidden;
    margin:0;
    padding:0
}
.clients-holder .slick-list:focus{
    outline:none
}
.clients-holder .slick-list.dragging{
    cursor:pointer;
    cursor:hand
}
.clients-holder .slick-slider .slick-track,.clients-holder .slick-slider .slick-list{
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
}
.clients-holder .slick-track{
    position:relative;
    top:0;
    left:0;
    display:block
}
.clients-holder .slick-track:before,.clients-holder .slick-track:after{
    display:table;
    content:''
}
.clients-holder .slick-track:after{
    clear:both
}
.clients-holder .slick-loading .slick-track{
    visibility:hidden
}
.clients-holder .slick-slide{
    display:none;
    float:left;
    height:100%;
    min-height:100px;
    position:relative
}
.clients-holder .slick-slide img{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:table;
    overflow:auto;
    margin:auto
}
.clients-holder [dir='rtl'] .slick-slide{
    float:right
}
.clients-holder .slick-slide img{
    display:block
}
.clients-holder .slick-slide.slick-loading img{
    display:none
}
.clients-holder .slick-slide.dragging img{
    pointer-events:none
}
.clients-holder .slick-initialized .slick-slide{
    display:block
}
.clients-holder .slick-loading .slick-slide{
    visibility:hidden
}
.clients-holder .slick-vertical .slick-slide{
    display:block;
    height:auto;
    border:1px solid transparent
}
.clients-holder .slick-arrow.slick-hidden{
    display:none
}
.track-header{
    background:#17283d;
    padding:40px 20px
}
.track-header .track-form{
    margin:0 auto;
    max-width:930px
}
.track-header .track-form h2{
    font-size:24px;
    color:#fff;
    padding:0 0 5px
}
.track-header .track-form .form-row{
    padding:0px
}
.track-header .track-form .form-row .input-field{
    box-sizing:border-box;
    width:100%;
    float:none;
    font-size:20px;
    padding:12px 15px;
    background:#fff;
    border:1px solid #959595;
    margin-bottom:20px;
    -webkit-transition:all .5s;
    transition:all .5s
}
@media only screen and (min-width: 768px){
    .track-header .track-form .form-row .input-field{
        width:84%;
        float:left;
        margin-bottom:0px
    }
}
.track-header .track-form .form-row .submit-btn{
    padding:15px 35px;
    font-weight:600
}
@media only screen and (min-width: 768px){
    .track-header .track-form .form-row .submit-btn{
    	margin-top: 0!important;
    	width: inherit;
        float:right
    }
}
.map-holder{
    padding:0px;
    margin:0px
}
.map-holder .shipment-details{
    padding:40px 0px
}
@media only screen and (min-width: 576px){
    .map-holder .shipment-details{
        padding:40px 20px
    }
}
.map-holder .shipment-details h1{
    font-size:24px;
    color:#212529;
    font-weight:500;
    padding:0 0 15px;
    margin:0px
}
.map-holder .shipment-details h2{
    font-size:18px;
    color:#212529;
    font-weight:400;
    padding:0 0 40px;
    margin:0px
}
.map-holder .shipment-details h2 span{
    color:#0091b7
}
.map-holder .shipment-details .truck-row{
    padding:0 0 50px;
    font-size:16px;
    font-weight:400
}
.map-holder .shipment-details .truck-row span{
    display:inline-block;
    float:left;
    margin:-9px 15px 0 0
}
.map-holder .shipment-details .truck-row span img{
    max-width:60px
}
.map-holder .map-visual img{
    width:100%
}
.track-bg{
    min-height:800px;
    background:image_url('track-your-shipment.jpg') 50% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding:70px 20px;
    text-align:center
}
.track-bg h2{
    font-size:35px;
    text-transform:uppercase;
    color:#069fbb;
    font-weight:500;
    text-align:center;
    padding:0 0 20px;
    margin:0px
}
@media only screen and (min-width: 768px){
    .track-bg h2{
        font-size:47px
    }
}
.track-bg h3{
    text-shadow:0px 0px 2px #969696;
    text-align:center;
    padding:0 0 43px;
    margin:0px;
    font-size:20px
}
@media only screen and (min-width: 768px){
    .track-bg h3{
        font-size:24px
    }
}
.international-tracking{
    padding:60px 0 60px
}
.international-tracking h2{
    font-size:35px;
    color:#252525;
    padding:0 15px 30px;
    text-align:center
}
.international-tracking h3{
    font-size:22px;
    color:#252525;
    padding:0 15px 74px;
    text-align:center
}
.international-tracking h3 span{
    color:#069fbb;
    font-weight:500;
    font-size:30px
}
.support-section .support-logo p{
    padding:0 20px 15px;
    font-size:18px;
    text-align:center;
    font-weight:300
}
.address-holder{
    padding:0 0 65px
}
.address-holder .address-one{
    padding:5px 0 60px 30px;
    margin-bottom:5px;
    font-size:16px;
    font-weight:400;
    position:relative;
    background:image_url("map-address-dotted-border.png") 4px 0px repeat-y
}
.address-holder .address-one:before{
    content:"";
    width:24px;
    height:24px;
    position:absolute;
    top:0px;
    left:-7px;
    background:image_url('pickup-address.png') 0px 0px no-repeat
}
.address-holder .address-two{
    padding:2px 0 0px 30px;
    font-size:16px;
    font-weight:400;
    position:relative
}
.address-holder .address-two span{
    display:block;
    font-size:14px;
    font-weight:400
}
.address-holder .address-two:before{
    content:"";
    width:28px;
    height:38px;
    position:absolute;
    top:-4px;
    left:-7px;
    background:image_url('dropoff-address.png') 0px 0px no-repeat
}
.driver-detail{
    padding:0 0 25px
}
.driver-detail h3{
    font-size:20px;
    color:#252525;
    font-weight:500;
    padding:0 0px 20px
}
.driver-detail h3 span{
    display:inline-block;
    border:1px solid #565656;
    padding:5px 10px;
    margin-left:7px;
    font-size:16px
}
.driver-detail h4{
    font-size:16px;
    color:#252525;
    padding:0 0px 10px
}
.driver-detail h4 span{
    color:#069fbb;
    font-weight:500
}
.driver-slider-holder ol.carousel-indicators{
    display:block;
    margin:0px;
    padding:0px;
    text-align:center
}
.driver-slider-holder ol.carousel-indicators li{
    width:20px;
    height:20px;
    border:1px solid #575757;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:inline-block
}
.driver-slider-holder ol.carousel-indicators li.active{
    background:#0593cc;
    border:1px solid #0593cc
}
.driver-slider-holder .arrow-btn{
    background:#0094b9;
    height:32px;
    opacity:1;
    width:20px;
    display:inline-block;
    box-sizing:border-box;
    padding:8px 0 0;
    text-align:center;
    position:absolute;
    top:0;
    right:0px;
    z-index:10;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px
}
.driver-slider-holder .arrow-btn.prev{
    right:30px
}
.driver-slider-holder .arrow-btn:hover{
    background:#17283d;
    -webkit-transition:all .5s;
    transition:all .5s
}
.driver-slider-holder .arrow-btn img{
    width:10px
}
.driver-slider-holder .carousel-inner{
    margin:0px;
    padding:0 0 100px;
    max-width:590px
}
@media only screen and (min-width: 576px){
    .driver-slider-holder .carousel-inner{
        margin:0 0px
    }
}
.range-border{
    background:#dcf1fa;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    padding:10px 5px;
    border:1px solid #e0e0e0;
    position:relative
}
.range-border .range-base{
    background:image_url('range-base.jpg') 0px 0px repeat-x;
    height:9px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    position:absolute;
    top:6px;
    left:7px;
    width:97%
}
.range-border .range-progress{
    background:image_url('range-progress.jpg') 0px 0px repeat-x;
    height:9px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    position:absolute;
    top:6px;
    left:7px
}
.range-border .handle{
    position:absolute;
    top:-10px;
    left:0px;
    width:40px
}
.range-border .handle img{
    width:100%
}
.range-border .options-row{
    position:absolute;
    bottom:-15px;
    left:0px;
    width:100%
}
.range-border .options-row span{
    position:absolute;
    top:0px;
    font-size:10px;
    color:#353535
}
@media only screen and (min-width: 576px){
    .range-border .options-row span{
        font-size:11px
    }
}
.range-border .options-row span:before{
    content:"";
    width:5px;
    height:5px;
    background:#969c9d;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    position:absolute;
    top:-7px;
    left:40%
}
.range-border .options-row span.done{
    color:#328f00
}
.range-border .options-row span.active{
    color:#0593cc;
    font-weight:600
}
.range-border .options-row span.booked{
    left:0px
}
.range-border .options-row span.start{
    left:20%
}
.range-border .options-row span.loading{
    left:35%
}
.range-border .options-row span.enroute{
    left:55%
}
.range-border .options-row span.unloading{
    right:15%
}
.range-border .options-row span.finished{
    right:0%
}
.map-form-bg{
    background:image_url('lorryz-registration-map.jpg') 50% 50% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding:0px 0 109px
}
.waiting-trucks{
    max-width:auto;
    margin:0 15px 50px;
    background:#067fd6;
    padding:15px 30px;
    box-sizing:border-box;
    color:#fff;
    font-size:24px;
    font-weight:400;
    text-align:center
}
@media only screen and (min-width: 576px){
    .waiting-trucks{
        padding:15px 80px;
        margin:0 auto 50px;
        max-width:667px
    }
}
.waiting-trucks span{
    font-size:48px;
    font-weight:600;
    padding-right:10px
}
.map-form{
    max-width:auto;
    margin:0 20px 0;
    background:#fff;
    border:1px solid #dde0e2;
    padding:25px 15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px
}
@media only screen and (min-width: 576px){
    .map-form{
        margin:0 auto 0;
        max-width:400px
    }
}
.map-form h2{
    font-size:20px;
    text-align:center;
    font-weight:500;
    padding:0 0 20px
}
.map-form .form-row{
    padding:0 0 15px
}
.map-form .form-row span{
    display:block;
    font-size:16px;
    width:100%;
    font-weight:500;
    padding: 0 0 10px;
}
.map-form .form-row .submit-btn{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width:100%;
    border-box:box-sizing;
    background:#3e99cf
}
.map-form .form-row .input-field{
    box-sizing:border-box;
    width:100%;
    padding:10px 15px;
    font-size:16px;
    border:1px solid #d0d6db;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
.map-form .form-row .selectCity{
    padding:0;
    font-size:16px;
    border:1px solid #d0d6db;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background:image_url('down-arrow.png') 96% center no-repeat #fff
}
.map-form .form-row .selectCity select{
    font-size:16px;
    padding:10px 15px;
    color:#757575;
    font-weight:400
}
.map-form .radio-btns{
    padding:0 15px 0px
}
.radio label{
    color:#303331;
    font-size:14px
}
.form-row .checkbox label{
    color:#303331;
    font-size:14px;
    padding:0 0 4px 15px
}
.form-row .checkbox label span{
    display:inline-block;
    width:auto
}
.form-row .checkbox label span a{
    display:inline-block;
    color:#3e99cf;
    font-size:14px;
    font-weight:400
}
.form-row .checkbox label span a:hover{
    text-decoration:underline
}
.lorryz-steps-row{
    padding:0px 0px 25px;
    text-align:center
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row{
        text-align:inherit;
        padding:50px 0px
    }
}
.lorryz-steps-row .image-holder{
    padding:0 0 20px;
    position:relative;
    margin:0px
}
.lorryz-steps-row .image-holder.left{
    text-align:left
}
.lorryz-steps-row .image-holder.right{
    text-align:right
}
.lorryz-steps-row .image-holder.center{
    text-align:center
}
.lorryz-steps-row .image-holder img{
    max-width:200px;
    margin:0 0 20px
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .image-holder img{
        max-width:100%;
        margin:0px
    }
}
.lorryz-steps-row .image-holder .circle{
    width:68px;
    height:68px;
    background:#0094b9;
    color:#fff;
    position:absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-size:36px;
    text-align:center;
    box-sizing:border-box;
    padding:13px 0 0;
    z-index:10;
    display:none
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .image-holder .circle{
        display:block
    }
}
.lorryz-steps-row .image-holder:after{
    display:none
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .image-holder:after{
        display:block
    }
}
.lorryz-steps-row .image-holder.create-shipment{
    padding:0 0 0 0px
}
.lorryz-steps-row .image-holder.confirm-booking{
    margin:0px 0 0;
    padding:0px
}
.lorryz-steps-row .image-holder.visibility{
    margin:0px 0 0px
}
.lorryz-steps-row .image-holder.delivery-notice{
    margin:0px
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .image-holder.create-shipment{
        padding:0 0 0 40px
    }
    .lorryz-steps-row .image-holder.create-shipment .circle{
        top:-81px;
        right:81px
    }
    .lorryz-steps-row .image-holder.create-shipment:after{
        content:"";
        width:245px;
        height:373px;
        position:absolute;
        top:-72px;
        right:-104px;
        background:image_url('how-lorryz-works-01.png') 0px 0px no-repeat;
        z-index:9
    }
    .lorryz-steps-row .image-holder.confirm-booking{
        margin:-126px 0 0;
        padding:0 0 0 116px
    }
    .lorryz-steps-row .image-holder.confirm-booking .circle{
        top:4px;
        left:32px
    }
    .lorryz-steps-row .image-holder.confirm-booking:after{
        content:"";
        width:241px;
        height:378px;
        position:absolute;
        top:4px;
        left:-168px;
        background:image_url('how-lorryz-works-02.png') 0px 0px no-repeat;
        z-index:9
    }
    .lorryz-steps-row .image-holder.visibility{
        margin:-31px 0 0 68px
    }
    .lorryz-steps-row .image-holder.visibility .circle{
        top:-21px;
        right:107px
    }
    .lorryz-steps-row .image-holder.visibility:after{
        content:"";
        width:241px;
        height:378px;
        position:absolute;
        top:47px;
        right:-75px;
        background:image_url('how-lorryz-works-03.png') 0px 0px no-repeat;
        z-index:9
    }
    .lorryz-steps-row .image-holder.delivery-notice{
        margin:-97px 0 0 178px
    }
    .lorryz-steps-row .image-holder.delivery-notice .circle{
        top:-49px;
        right:474px
    }
}
.lorryz-steps-row .lorryz-copy{
    padding:0 0px;
    margin:0px;
    max-width:auto
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .lorryz-copy{
        max-width:530px
    }
}
.lorryz-steps-row .lorryz-copy h3{
    color:#2d2c2c;
    font-size:22px;
    text-transform:uppercase;
    padding:0 0 10px;
    margin:0px
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .lorryz-copy h3{
        font-size:30px
    }
}
.lorryz-steps-row .lorryz-copy p{
    font-size:16px;
    line-height:30px;
    color:#424141;
    padding:0 0 0
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .lorryz-copy p{
        font-size:18px;
        line-height:36px
    }
}
.lorryz-steps-row .lorryz-copy.create-shipment{
    padding:0
}
.lorryz-steps-row .lorryz-copy.confirm-booking{
    padding:0px;
    margin:0px
}
.lorryz-steps-row .lorryz-copy.visibility{
    padding:0px
}
.lorryz-steps-row .lorryz-copy.delivery-notice{
    padding:0px;
    text-align:center
}
@media only screen and (min-width: 1010px){
    .lorryz-steps-row .lorryz-copy.create-shipment{
        padding:20px 0 0 51px
    }
    .lorryz-steps-row .lorryz-copy.confirm-booking{
        padding:0 0 0 94px;
        margin:-11px 0 0
    }
    .lorryz-steps-row .lorryz-copy.visibility{
        padding:30px 0 0 15px
    }
    .lorryz-steps-row .lorryz-copy.delivery-notice{
        padding:80px 0 0 15px;
        text-align:right
    }
}
.mission-holder{
    padding:60px 0px 25px
}
.mission-holder .vision-row{
    padding:0 0px 40px;
    max-width:765px;
    margin:0 auto
}
.mission-holder .vision-row h2{
    color:#393939;
    padding:0 0 20px;
    margin:0px;
    font-size:36px;
    position:relative;
    z-index:10;
    text-align:center;
    text-transform:uppercase
}
.mission-holder .vision-row p{
    color:#393939;
    padding:0 0 5px;
    line-height:36px;
    font-size:18px;
    position:relative;
    text-align:center
}
.lorryz-expertise-holder{
    background:image_url('lorryz-expertise.jpg') 25% 25% no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    padding:60px 25px
}
@media only screen and (min-width: 768px){
    .lorryz-expertise-holder{
        background:image_url('lorryz-expertise.jpg') 25% 25% no-repeat fixed;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover
    }
}
.lorryz-expertise-holder .vision-row p{
    padding-bottom:50px
}
.lorryz-expertise-holder ul.priorities li{
    text-align:left;
    line-height:28px
}
.lorryz-expertise-holder ul.priorities li:before{
    display:none
}
.strategic-priorities{
    background:#fff;
    padding:30px 0 60px
}
.strategic-priorities h2{
    color:#444343;
    font-size:36px;
    text-align:center;
    padding:0 0 110px;
    text-transform:uppercase
}
.strategic-priorities .support-logo span{
    color:#444343
}
.strategic-priorities .support-logo span.image-holder{
    min-height:164px
}
.strategic-priorities .support-logo span.image-holder img{
    max-width:110px
}
 .form-row{
     label{
         font-weight: 500;
    }
     .radio{
         margin-left: 28px;
         width: 100%;
    }
}

/*** privacy policy ***/
.static-content-page {
    padding: 30px 0 0;
}
.static-content-page h1 {
    font-size: 27px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page h2 {
    font-size: 24px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page h3 {
    font-size: 20px;
    padding: 0 0 30px;
    color: #444343;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}
.static-content-page p {
    font-size: 15px;
    padding: 0 0 25px;
    line-height: 21px;
}
ul.without-bullets {
    display: block;
    margin: 0px;
    padding: 0px;
}
ul.without-bullets li {
    display: block;
    padding: 0 0 20px;
    position: relative;
    font-size: 15px;
    padding: 0 0 20px;
    color: #444343;
    text-align: left;
}
ul.without-bullets li:before {
    content: "\f00c";
    font-size: 15px;
    color: #444343;
    padding: 0 0 0;
    font-family: 'Font Awesome\ 5 Free';
}
.static-content-page a {
        color: #0094b9;
}
select.disabled{
    background: darkgrey;
}
.form-row.radio-btns {
    position: relative;
    .form-check-input {
        position: initial;
        display: inline-block;
        float: left;
        margin-top: 1px;
    }
}
.form-row {
    .checkbox {
        position: relative;
        padding: 0 0 0 10px;
        .styled {
            position: absolute;
            top: 1px;
            left: 5px;
        }
    }
}
.input-textarea {
    min-height: 120px;
    resize: none;
}
.modal-holder {
    .buttons-holder {
        .submit-btn {
            text-transform: none;
            padding: 6px 30px;
            &.cancel-btn-rating {
                float: left;
                background: white;
                color: #313131;
                border: 1px solid #ced4da;
            }
        }
    }
}
.payment-cols-outer {
    float: right;
    width: 50%;
    @media only screen and(max-width: 992px){
        width: 100%;
        float: none;
    }
}
.payment-columns {
    h3 {
        color: #313131;
        font-size: 17px;
        font-weight: 500;
        padding: 0px 0 5px;
        margin: 0px;
    }
}
.submit-btn.form-submit {
    margin-top: 0px !important;
}
.careers {
    padding: 20px 0px;
    font-size: 18px;
    a {
        &:hover {
            color: #313131;
        }
    }
}

.blog-view{
    flex: 1 1 auto;
    padding: 20px;
    margin: 200px;
}



.blog-index-view{

  margin-top: 2%;
  background: #ffffff;
  width: 100%;
  height: 50%;
  text-align: justify;

  ul{
    list-style-type: none;
    width: auto;
    margin-right: 5%;
  }
  h3 {
    font: bold 110%/1.5 Helvetica, Verdana, sans-serif;
    text-align: justify;
  }
  h3:hover {
    color: rgb(26, 69, 122);
  }
  li img {
    float: left;
    margin: 0 15px 0 0;
    display: block;
    overflow: hidden;
    outline: #313131;
    height: 50%;
    width: 32%
  }
  li p {
    font: 200 90%/1.5 Georgia, Times New Roman, serif;
    text-align: justify;
  }
  li {
    // padding: 10px;
    overflow: auto;
  }

  // li:hover {
  //     background: #eee;
  //     cursor: pointer;
  // }

}
.testimonial{
  background: #f4f3f3;
  padding: 10px 10px 10px 10px;
  margin-left: 3px;
  margin-right: 3px;
  //position: relative;
  border-radius: 3%;
}
.testimonial .title{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
}
.testimonial .description{
  font-size: 12px;
  color: #555;
  line-height: 20px;
  padding: 5px 5px 5px 5px;
  justify-content: center;
}
.testimonial .testimonial-content{
  position: relative;
}
.testimonial .pic{
  display: inline-block;
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .content{
  display: inline-block;
  margin: 10px 0;
}
.testimonial .name{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}
.testimonial .post{
  font-size: 12px;
  color: #555;
  line-height: 12px;
}
.testimonial .rating{
  padding: 0;
  margin: 0;
  list-style: none;
}
.testimonial .rating li{
  display: inline-block;
  color: #ffc207;
}
.owl-theme .owl-controls{
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
  background: #0d8a63;
}
@media only screen and (max-width: 479px){
  .testimonial .testimonial-content:after{
    content: "";
  }
}