<%= form_for @user, url: admin_user_path(@user) do |f|%>

    <div class="modal-dialog assing-vehicles-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
    <div class="assing-vehicles-modal-inner" id="<%#@shipment.id%>">
      <div class="close-modal" data-dismiss="modal">
        <%= image_tag 'close-modal.png' %>
      </div>

      <h1>
        Change password</h1>
      </div>
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
                <%=f.text_field :password , placeholder: "Updated Password *", class: "form-control", required: false%>
            </div>
          </div>
        </div>

        <div class="buttons-holder clearfix">
          <%= f.submit "Save" , class: "submit-btn"%>
        </div>
    </div>
        </div>

      </div>
    </div>
<%end%>