<div class="track-header" id="shipment">
  <div class="track-form">
    <h2>Track Your Shipment</h2>
    <%= form_tag("/track", method: :get ) do %>
	    <div class="form-row clearfix">
	      <%= text_field_tag :code, params[:code] , class: "input-field"%>
	      <input type="submit" name="" value="Track" class="submit-btn">
	    </div>
	  <% end %>  
  </div>
</div>
<div class="track-bg">
	<h2>Track your shipment</h2>
<h3>Real-Time Shipment Tracking.</h3>
</div>
<div class="international-tracking">
	<h2>INTERNATIONAL TRACK & TRACE</h2>
	<!-- <h3>there are currently <span>{218}</span> trucks on the road!</h3> -->

	<div class="support-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="support-logo">
						<span class="image-holder"><%= image_tag '24-hours-support-lorryz.png' , alt: ""%></span>
						<span>24 hours support</span>
						<!-- <p>Need custom logistic service? We got it covered. From overland, air, rail and sea transportation.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="support-logo">
						<span class="image-holder"><%= image_tag 'lorryz-fast-and-reliable.png' , alt: ""%></span>
						<span>Fast and reliable</span>
						<!-- <p>Need custom logistic service? We got it covered. From overland, air, rail and sea transportation.</p> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="support-logo">
						<span class="image-holder"><%= image_tag 'lorryz-tracking-services.png' , alt: ""%></span>
						<span>Tracking Service</span>
						<!-- <p>Need custom logistic service? We got it covered. From overland, air, rail and sea transportation.</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>

</div>