
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "Conpany" %>
  <%= f.text_field "company" , class: "form-control", value:Company.find_by_id( @company ).try(:company_information).try(:name) ,disabled: :true, required: :true%>
</div>

                <%=f.hidden_field :company_id ,value: @company  %>


<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "Pickup Point" %>
  <%= f.text_field :pickup_location,class: "banner-text-field google_auto_complete from-location",value:@automated_email.pickup_city,placeholder: "Enter a location", onFocus: call_geolocate, required: true if @automated_email.pickup_city.present? %>
  <%= f.text_field :pickup_location,class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate, required: true if @automated_email.pickup_city.blank?%>

  <%= f.text_field :pickup_city , class: "pickup_city" , id:"pickup_city", placeholder: "Pickup City" ,:readonly => true %>
  <%= f.text_field :pickup_country , class: "pickup_country", id:"pickup_country", placeholder: "Pickup Country",:readonly => true %>

</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label "Drop off Point" %>
  <%= f.text_field :dropoff_location,class: "banner-text-field google_auto_complete from-location",value:@automated_email.drop_city,placeholder: "Enter a location", onFocus: call_geolocate, required: true if @automated_email.drop_city.present?%>
   <%= f.text_field :dropoff_location,class: "banner-text-field google_auto_complete from-location",placeholder: "Enter a location", onFocus: call_geolocate, required: true if @automated_email.drop_city.blank?%>

  <%= f.text_field :drop_city , class: "drop_city", placeholder: "Drop City",:readonly => true%>
  <%= f.text_field :drop_country , class: "drop_country", placeholder: "Drop Country",:readonly => true%>

</div>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :email %>
  <%= f.text_field :email , class: "form-control", placeholder: "* Email" , required: :true%>
</div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>
<script>
  function populatePickupLocation(){
    console.log("dasdasdasdada");
  }
  $(".do_it_link").click(function() {
    $(this).attr("href", function() {
      return "/dashboard/email/?pickup_building_name=" + $('.pickup_building_name').val()+"&pickup_lat=" + $('.pickup_lat').val()+"&pickup_lng=" + $('.pickup_lng').val()+"&pickup_city=" + $('.pickup_city').val() +"&pickup_country=" + $('.pickup_country').val()  +"&drop_building_name=" + $('.drop_building_name').val() +"&drop_lat=" + $('.drop_lat').val()+"&drop_lng=" + $('.drop_lng').val()+"&drop_city=" + $('.drop_city').val()+"&drop_country=" + $('.drop_country').val()+"&vehicle_type=" + $('.vehicle_type').val();
    });
  });
</script>
