<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Automated Email Configuration</h3>
              <br>
              <%= link_to "Add New Configuration" , new_moderator_automated_email_configuration_path(company_id: @company_id) , class: "btn btn-flat btn-success pull-right add_new_blog"%>
            </div>
            <div class = "card-body">
              <table class="table table-bordered table-striped admin_listings" data-page-length='100'>
                <thead>
                <tr>
                  <% columns = ["Company" ,"Pickup City", "Drop City","Email", "Actions"]
                     columns.each do |col|
                  %>
                    <th><%= col %></th>
                  <%end%>
                </tr>
                </thead>
                <tbody>
                <% @automated_email.sort_by {|b| b.id}.each do |automated_email|%>
                  <tr>
                         <td><%= Company.find_by_id( automated_email.try(:company_id)).try(:company_information).try(:name)%></td>
                    <td><%= automated_email.try(:pickup_city) %>, <%= automated_email.try(:pickup_country) %></td>
                    <td><%= automated_email.try(:drop_city) %>, <%= automated_email.try(:to_country) %></td>
                    <td><%= automated_email.try(:email) %></td>
                    <td>
                      <%= link_to "Edit", edit_moderator_automated_email_configuration_path(automated_email), class: "btn btn-info btn-flat block-btn" %>
                    </td>
                  </tr>
                <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>