<%= render 'layouts/error_messages', object: @pvehicles %>

<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :name %>
  <%= f.text_field :name , class: "form-control", placeholder: "* Name" , required: :true%>
</div>
<div class="form-group has-feedback">
  <%= f.label "*" , class: "label_required"%>
  <%= f.label :country, 'countries' %>
  <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form-control"} )%>
  <%# f.select :country_id ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } ,class: "form-control" , required: :true, disabled: :true%>
</div>



 <div class="form-group has-feedback">
                <div class = "form-group has-feedback attachment" >
                  <%= f.hidden_field :image_url, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload"  multiple data-presign-url="<%=  presign_upload_moderator_fleet_individual_index_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if @pvehicles.image_url.present? %>
                        <ul class = "documents_list">
                          <%@pvehicles.image_url.each do |doc| %>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="PDF document" class = "document_thumbnail"> <p class="remove_thumbnail" style="text-decoration : none" >delete</p>    
                              </a>
                            </li>
                          <%end %>
                        </ul>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>




<div>
  <%= f.submit action  , class: "btn btn-primary btn-block btn-flat"%>
</div>

<script>
    $(".remove_thumbnail").click(function (e) {
        e.preventDefault()
        value = $(this).parents(".form-group").find(".js-signed-upload-value").val()
        value = value.split(" ")
        remove_url = $(this).parents("a").attr("href")
        index = value.indexOf(remove_url)
        value.splice(index, 1)
        $(this).parents(".form-group").find(".js-signed-upload-value").val(value.join(" "))
        $(this).parents("a").addClass("hide")
    })
</script>