<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row1">
        <div class="card-body">
          <div class = "card">
            <div class = "card-header">
              <h3 class="card-title">Enquiries</h3>
              <%#= render partial: "/shared/download_excel" %>
              <br>
              <%# <%= link_to "Download in Excel", url_for(format: :xlsx), class: "btn btn-flat btn-success pull-right" %> 
            </div>
            <div class = "card-body">

              <div class="search shipment_form">
                <a href="clear()" class="clear_filter hide"> Clear</a>
                <%= form_for "query", url:moderator_enquiries_path, method: :get do |f|%>
                <div class="row ship">
                  
               <div class="col-md-4 col-sm-4 ">
                   <%= f.label :Combinations %>
                   <div class="selectHolder">
                 
                   <%= f.select :category ,options_for_select(["Unique","Existing"] ,:selected => params[:query][:category]), {:prompt => "Combinations" } , class: "form-control" if params[:query].present? %>
                   <%= f.select :category ,options_for_select(["Unique","Existing"]), {:prompt => "Combinations" } , class: "form-control" if params[:query].blank? %>

                   </div>

                  </div>
                  <div class="col-md-4 col-sm-4">
                    <%= f.submit "Search" , class: "btn btn-primary submit-btn" %>
                  </div>
                </div>
                <% end %>
              </div>
            <div class = "card-body">

            <table class="table table-bordered table-striped admin_listings" data-page-length='50'>
              <thead>
              <tr>



                <% columns = ["ID","Date", "Requestor Name", "Dropoff Point","Pickup Point","Requestor Phone","Vehicle Type","Country","Estimated Amount"]
                   columns.each do |col|
                %>
                  <th><%= col.humanize %></th>
                <%end%>
              </tr>
              </thead>
              <tbody>
             <% @enquiries.each do |enquiry|%>
                  <tr>
                     <td><%= enquiry.try(:id) %></td>
                <td><%=  convert_to_shipment_country_timezone( Country.find_by_id(enquiry.try(:country)),enquiry.try(:created_at)).strftime(excel_datetime_format)  %></td>

                    <td><%= enquiry.try(:name) %></td>
                      <td><%= enquiry.try(:destination) %></td>
                    <td><%= enquiry.try(:origin) %></td>
                     <td><%= enquiry.try(:contact_no) %></td>
                      <td><%= VehicleType.find_by_id(enquiry.try(:vehicle_type)).try(:name) %></td>
                      <td><%= Country.find_by_id(enquiry.try(:country)).try(:name) %></td>
                       <td><%= enquiry.try(:amount) %></td>
                  </tr>
              <%end%>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>