
<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= @user.try(:role).try(:humanize)%> Details</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <%= form_for @user , url: moderator_update_user_path(user_id: @user.id) do |f| %>
                <div class="form-group has-feedback">
                  <%= f.label :first_name, "First name" %>
                  <%= f.text_field :first_name, autofocus: true,required: true, autocomplete: "First name",class: "form-control", placeholder: "First name"  %>
                  <!--<span class="fa fa-user form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :last_name%>
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "last name",class: "form-control", placeholder: "Last name" %>
                  <!--<span class="fa fa-user form-control-feedback"></span>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :email%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" ,placeholder:  "Email"%>
                  <!--<span class="fa fa-envelope form-control-feedback"></span>-->
                </div>
                <div class="form-group">
                  <%= f.label :country_id, 'Country'%>
                  <%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "Country"}, { class: "form-control"} )%>
                  <!--<i class="fa fa-address-card"></i>-->
                </div>
                <div class="form-group has-feedback">
                  <%= f.label :mobile %>
                  <%= f.text_field :mobile , type: :tel,class: "form-control" ,placeholder:  "Phone number" ,readonly:true%>
                </div>
                  <%= f.fields_for "company" do |f| %>
                    <% if @user.cargo_owner? %>
                      <div class="form-group has-feedback">
                        <%= f.label :credit_period, "Credit period (Days)" %>
                        <%= f.text_field :credit_period, class: "form-control", placeholder: "Credit Period (Days)" ,readonly:true%>
                      </div>
                      <div class="form-group has-feedback">
                        <%= f.label :credit_amount%>
                        <%= f.text_field :credit_amount, class: "form-control", placeholder: "Credit Amount",readonly:true %>
                      </div>
                      <div class = "form-group">
                        <label>
                          <%= f.check_box :is_contractual, class: "", value: @user.try(:company).try(:is_contractual) %>
                          Contractual
                        </label>
                      </div>
                        <div class = "form-group">
                        <label>
                          <%= f.check_box :is_active, class: "", value: @user.try(:company).try(:is_active) %>
                          Valid Cargo 
                        </label>
                      </div>
                  <% if @company_information.present? && @user.cargo_owner?%>

                         <div class = "form-group">
                        <label>
                          <%= f.check_box :send_automated_emails, class: "", value: @user.try(:company).try(:send_automated_emails) %>
                          Send Automated Completed Email to Customer 
                        </label>
                      </div>
                         <%end%>
                 
                    <% elsif @user.fleet_owner? %>
                    
                    <%end%>
                  <%end%>
                  <% if @company_information.present? && @user.cargo_owner?%>
                    <%= f.fields_for "company[company_information]" do |f| %>
           
                      <div class="form-group clearfix">
                  <%= f.label "Company Name", "Company Name"%>
                  <%= f.text_field :name, autofocus: true,value: @company_information.name, autocomplete: "Company name",class: "input-field", placeholder: "*Company name" %>

                </div>

                            <div class="form-group clearfix">
                    <%= f.label "Address", "Address"%>
                    <%= f.text_field :address, autofocus: true ,value: @company_information.address , autocomplete: "Address",class: "input-field", placeholder: "*Address" %>

                  </div>

                            <div class="form-group clearfix">
                    <%= f.label "Website", "Website"%>
                    <%= f.text_field :website_address ,value: @company_information.website_address, autofocus: true, autocomplete: "Website",class: "input-field", placeholder: "*Website" %>

                  </div>
                            <div class="form-group clearfix">
                    <%= f.label "Industry", "Industry"%>
                      <%= f.select(:industry,options_for_select( ["FMCG", "Oil & Gas","Automotive","Plastic","Metal","Construction","Freigh and Shipping","Others"]),  {:prompt => "*Industry" } ,{class: "form-control"}  )%>

                  </div>
                      <div class="form-group clearfix">
                    <%= f.label "Company's Trade License Number", "Company's Trade License No."%>
                    <%= f.text_field :license_number ,value: @company_information.license_number , autocomplete: "license_number", class: "input-field" ,placeholder:  "*Company's Trade license Number"  %>
                  </div>

                            <div class="form-group clearfix">
                    <%= f.label "License Expiry Date" , "License Expiry Date"%>
                    <%= f.text_field :license_expiry_date ,value: @company_information.license_expiry_date, autocomplete: "Registration_expiry_date", class: "input-field datepicker" ,placeholder:  "*License Expiry Date"%>
                  </div>

                     <div class="form-group clearfix">


      <%= f.label "Company's TRN", "Company's TRN."%>

      <%= f.text_field :trade_registration_no ,value: @company_information.trade_registration_no  , autocomplete: "license_number", class: "input-field" ,placeholder:  "*Company's registration Number"  %>

    </div>



             

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 1 Designatio", "Contact Person 1 Designation"  %>
                    <%= f.text_field :contact1_designation  ,value: @company_information.contact1_designation, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 1 Designation" %>

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 1 Office No", "Contact Person 1 Office No"  %>
                    <%= f.text_field :contact1_office_no  ,value: @company_information.contact1_office_no, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 1 Office No"  %>

                  </div>

              <br><br>

                      <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 First Name" , "Contact Person 2 First Name"%>
                    <%= f.text_field :contact2_first_name   ,value: @company_information.contact2_first_name, autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 2 First Name"  %>
                  </div>
                          <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 Last Name" , "Contact Person 2 Last Name"%>
                    <%= f.text_field :contact2_last_name  ,value: @company_information.contact2_last_name, autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 1 Last Name"  %>
                  </div>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 Mobile Number", "Contact Person 2 Mobile No."  %>
                    <%= f.text_field :contact2_mobile ,value: @company_information.contact2_mobile, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Mobile No"  %>
                  </div>


                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 Email", "Contact Person 2 Email"  %>
                    <%= f.text_field :contact2_email ,value: @company_information.contact2_email, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Email" %>

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 Designatio", "Contact Person 2 Designation"  %>
                    <%= f.text_field :contact2_designation ,value: @company_information.contact2_designation, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Designation" %>

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 2 Office No", "Contact Person 2 Office No"  %>
                    <%= f.text_field :contact2_office_no ,value: @company_information.contact2_office_no, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 2 Office No" %>

                  </div>

              <br><br>



                      <div class="form-group clearfix">
                    <%= f.label "Contact Person 3 First Name" , "Contact Person 3 First Name"%>
                    <%= f.text_field :contact3_first_name ,value: @company_information.contact3_first_name, autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 3 First Name"  %>
                  </div>
                          <div class="form-group clearfix">
                    <%= f.label "Contact Person 3 Last Name" , "Contact Person 3 Last Name"%>
                    <%= f.text_field :contact3_last_name ,value: @company_information.contact3_last_name, autocomplete: "secondary_contact_name", class: "input-field" ,placeholder:  "*Contact Person 3 Last Name"  %>
                  </div>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 3 Mobile Number", "Contact Person 3 Mobile No."  %>
                    <%= f.text_field :contact3_mobile ,value: @company_information.contact3_mobile, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Mobile No"  %>
                  </div>


                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 3 Email", "Contact Person 3 Email"  %>
                    <%= f.text_field :contact3_email ,value: @company_information.contact3_email, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Email"  %>

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 3 Designatio", "Contact Person 3 Designation"  %>
                    <%= f.text_field :contact3_designation ,value: @company_information.contact3_designation, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Designation" %>

              <br><br>

                            <div class="form-group clearfix">
                    <%= f.label "Contact Person 1 Office No", "Contact Person 3 Office No"  %>
                    <%= f.text_field :contact3_office_no  ,value: @company_information.contact3_office_no, autocomplete: "secondary_mobile_no", class: "input-field" ,placeholder:  "*Contact Person 3 Office No"%>

                  </div>   <br>
                        <div class="form-group clearfix">
                        <li class="list-group-item">
                <label>Upload All Documents together</label>

                      <%= render partial: "moderator/fleet_individual/attachments" , locals: {f: f , info: @company_information }%>
                    </div>
                  <%end%> <%end%>



                    <% if @individual_information.present? && @user.cargo_owner?%>
                                  <%= f.fields_for "company[individual_information]" do |f| %>

                    <div class="form-row">
                          <%= f.label "Secondary Mobile No", "Secondary Mobile No."%>
                    
                          <%= f.text_field :secondary_mobile_no ,value: @individual_information.secondary_mobile_no, autofocus: true , autocomplete: "secondary_mobile_no",class: "input-field", placeholder: "Secondary Mobile No",readonly:true %>
                        </div>
                  <br>
                        <div class="form-row">
                          <%= f.label "Landline No.", "Landline No."%>
                                  

                          <%= f.text_field :landline_no  ,value: @individual_information.landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "Landline No.",readonly:true %>
                        </div> <br>
                        <div class="form-row">
                          <label> National ID.</label>
                                
                          <%= f.text_field :national_id, autocomplete: "national_id",value: @individual_information.national_id, class: "input-field" ,placeholder:  "*National ID  ",readonly:true  if  @individual_information.national_id.present? %>
                          <%= f.text_field :national_id, autocomplete: "national_id",value: @individual_information.national_id, class: "input-field" ,placeholder:  "*National ID  "  if  @individual_information.national_id.blank? %>

                        </div>   <br>
                        <div class="form-row">
                          <%= f.label "Expiry Date", "Expiry Date"%>
                                
                          <%= f.text_field :expiry_date  ,value: @individual_information.expiry_date, autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Expiry Date" %>            
                        </div>
                        <br>
                        <div class="form-group clearfix">
                        <li class="list-group-item">
                <label>Upload All Documents together</label>

                      <%= render partial: "moderator/fleet_individual/attachments" , locals: {f: f , info: @individual_information }%>
                    </div>
              <%end%> <%end%>

                              

                  <%if @individual_information.present? && @user.fleet_owner?%>
                    <%= f.fields_for "company[individual_information]" do |f| %>
                         <div class="form-group clearfix">
              <%= label_tag "company[tax_registration_no]", "Tax Registration No." %>
              <%= text_field_tag "company[tax_registration_no]", @user.company.tax_registration_no, autocomplete: "tax_registration_no", class: "input-field", placeholder: "Tax Registration No." %>
              </div>
        
        
        
               <div class="form-group clearfix">
                    <%= f.label "Secondary Mobile No 1", "Secondary Mobile No.1"%>
                    <%= f.text_field :secondary_mobile_no ,value: @individual_information.secondary_mobile_no, autofocus: true, autocomplete: "secondary_mobile_no_1",class: "input-field", placeholder: "Secondary Mobile No 1" %>
                </div>
               <div class="form-group clearfix">
                    <%= f.label "Secondary Mobile No 2", "Secondary Mobile No.2"%>
                    <%= f.text_field :secondary_mobile_no_1,value: @individual_information.secondary_mobile_no_1, autofocus: true, autocomplete: "secondary_mobile_no_2",class: "input-field", placeholder: "Secondary Mobile No 2" %>
                </div>
               <div class="form-group clearfix">
                  <%= f.label :nationality, "Nationality"%>
                  <div class="selectCity">
                    <%= f.select :nationality ,options_for_select(ISO3166::Country.all_translated),  {:prompt => "* Name" } , { class: "form-control"} %>
                  </div>
                </div>
               <div class="form-group clearfix">
                 <label> Passport #</label>
                <%= f.text_field :passport_no,value: @individual_information.passport_no, autocomplete: "Passport", class: "input-field" ,placeholder:  "*Passport #" %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "Passport Expiry Date", "Passport Expiry Date"%>
                 <%= f.text_field :passport_no_expiry ,value: @individual_information.passport_no_expiry, autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Passport Expiry Date"%>            
                <br><br>
               <div class="form-group clearfix">
                 <label> Visa #</label>
                <%= f.text_field :visa_no, autocomplete: "Visa" ,value: @individual_information.visa_no, class: "input-field" ,placeholder:  "*Visa #"%>
                </div>

               <div class="form-group clearfix">
                <%= f.label "Visa Expiry Date", "Visa Expiry Date"%>
                 <%= f.text_field :visa_no_expiry  ,value: @individual_information.visa_no_expiry , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*Visa Expiry Date" %>            
                <br><br>


               <div class="form-group clearfix">
                     <%= f.label "Landline No.", "Landline No."%>
                    <%= f.text_field :landline_no ,value: @individual_information.landline_no, autofocus: true, autocomplete: "landline_no",class: "input-field" ,placeholder:  "Landline No." %>
                </div>

               <div class="form-group clearfix">
                 <label> National ID No.</label>
 <%= f.text_field :national_id, autocomplete: "national_id",value: @individual_information.national_id, class: "input-field" ,placeholder:  "*National ID  ",readonly:true  if  @individual_information.national_id.present? %>
                          <%= f.text_field :national_id, autocomplete: "national_id",value: @individual_information.national_id, class: "input-field" ,placeholder:  "*National ID  "  if  @individual_information.national_id.blank? %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "National ID Expiry Date", "National ID Expiry Date"%>
                 <%= f.text_field :expiry_date ,value: @individual_information.expiry_date , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*National ID Expiry Date"%>            
                    <br><br> 

               <div class="form-group clearfix">
                 <label> License No.</label>
                <%= f.text_field :license_no ,value: @individual_information.license_no, autocomplete: "License", class: "input-field" ,placeholder:  "*License No. " %>
                </div>

               <div class="form-group clearfix">
                <%= f.label "License Expiry Date", "License Expiry Date"%>
                 <%= f.text_field :license_no_expiry ,value: @individual_information.license_no_expiry , autocomplete: "datepicker expiry_date", class: "datepicker input-field" ,placeholder:  "*License Expiry Date" %>            
                    <br><br> 
                      <div class="form-group clearfix">
                  <%= f.label :country_id, "Preferred Location"%>
                  <div class="selectCity">
                    <%= f.collection_select(:preferred_location, PreferredLocation.all, :id, :display_name,{:prompt => "*Preferred Location"}, { class: "form-control"} )%>
                  </div>
                </div>
               <br>
                        <div class="form-group clearfix">
                        <li class="list-group-item">
                <label>Upload All Documents together</label>

                      <%= render partial: "moderator/fleet_individual/attachments" , locals: {f: f , info: @individual_information }%>
                    </div>       <%end%>
                  <%end%>


                  <%if @company_information.present? && @user.fleet_owner?%>
                    <%= f.fields_for "company[company_information]" do |f| %>
                      <div class = "form-group">
                        <%= f.label :secondary_mobile_no %>
                        <%= f.text_field :secondary_mobile_no ,value: @company_information.secondary_mobile_no ,class: "form-control",placeholder: "secondary_mobile_no".humanize , value: @company_information.secondary_mobile_no %>
                      </div>
                      <div class = "form-group">
                        <%= f.label :landline_no %>
                        <%= f.text_field :landline_no,value: @company_information.landline_no ,class: "form-control",placeholder: "landline_no".humanize , value: @company_information.landline_no %>
                      </div>
                   
                        <br>
                        <div class="form-group clearfix">
                        <li class="list-group-item">
                <label>Upload All Documents together</label>

                      <%= render partial: "moderator/fleet_individual/attachments" , locals: {f: f , info: @company_information }%>
                    </div>   <%end%>
                  <%end%>

                  
<br><br>




   <%vehicles = @user.try(:company).try(:vehicles) %>
              <%if vehicles.present? %>
                <li class="list-group-item">
                  <h3> Vehicles </h3>
                </li>

              
                  <% vehicles.each do |vehicle| 
                  
%>
                    <tr>
                    
                  <%= f.fields_for "vehicle" do |f| %>

                      <div class="form-group">
                <%= f.label :vehicle_type_id, 'vehicle type' %>
                  <%= f.collection_select(:vehicle_type_id, VehicleType.all.order(code: :desc).where(:country_id => @user.country.try(:id)) , :id , :name,{:selected => vehicle.vehicle_type.id}, { class: "form-control"} )%>

              </div>
            </div>
                     
                         <div class = "form-group">
                        <%= f.label :registration_number %>
                        <%= f.text_field :registration_number ,class: "form-control",placeholder: "registration_number".humanize  , value: vehicle.registration_number %>
                      </div>
                       <div class="form-group has-feedback">
                <%= f.label :expiry_date, "Expiry Date" %>
                <%= f.text_field :expiry_date , class: "datepicker form-control" ,placeholder:  "*Expiry Date" , value: vehicle.expiry_date %>
              </div>
                         <div class = "form-group">
                        <%= f.label :insurance_number %>
                        <%= f.text_field :insurance_number ,class: "form-control",placeholder: "insurance_number".humanize , value: vehicle.insurance_number  %>
                      </div>
                     
                         <div class="form-group ">
                <%= f.label :insurance_expiry_date, "Insurance Expiry Date" %>
                <%= f.text_field :insurance_expiry_date  , class: "datepicker form-control" ,placeholder:  "*Insurance Expiry Date" , value: vehicle.insurance_expiry_date %>
              </div>
                      <td >
                     
                     
                    
 <div class="form-group has-feedback">
                <label>Attach Images of Registration/Insurance</label>
                <div class = "form-group has-feedback attachment">
                  <%= f.hidden_field :documents, multiple: true, class: "js-signed-upload-value"  %>
                  <input type="file" class="js-signed-upload" multiple data-presign-url="<%=presign_upload_companies_path %>" />
                  <div class = "attached_files container">
                    <p class="js-signed-upload-status">
                      <% if vehicle.documents.present? %>
                        <ul class = "documents_list">
                          <%vehicle.documents.each do |doc|%>
                            <li>
                              <a target="_blank" href="<%= doc %>">
                                <img src="<%= doc %>" alt="document" class = "document_thumbnail">
                              </a>
                            </li>
                          <%end%>
                        </ul>
                      <br><br><br><br>
                    <% end %>
                    </p>
                  </div>
                </div>
              </div>









                      </td>
                    </tr>
                  <% end %>
                      <% end %>
                                <%else%>
                                    <%= link_to "Add New Vehicle" , moderator_add_dashboard_vehicle_path(:id =>@user.try(:id)) , class: "btn btn-flat btn-success pull-right add_new_blog" if @individual_information.present? && @user.fleet_owner?%>

                     
             
                             <% end %>





                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                  </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
