<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
    <h2 class="login-box-msg"><%= t 'devise.invitations.edit.header' %></h2>
    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
      <%#= devise_error_messages! %>
      <%= render 'layouts/error_messages', object: resource %>
        <%= f.hidden_field :invitation_token, readonly: true %>
        <%= render partial: "users/shared/registration_form" , locals: {f: f}%>
      <% end %>
  </div>
</div>






<!--<div class="form-group has-feedback">-->
  <!--<%#= f.text_field :first_name, autofocus: true,required: true, autocomplete: "First name",class: "form-control", placeholder: "*First name" %>-->
  <!--&lt;!&ndash;<span class="fa fa-user form-control-feedback"></span>&ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group has-feedback">-->
  <!--<#%= f.text_field :last_name, autofocus: true,required: true, autocomplete: "last name",class: "form-control", placeholder: "*Last name" %>-->
  <!--&lt;!&ndash;<span class="fa fa-user form-control-feedback"></span>&ndash;&gt;-->
<!--</div>-->
<!--<#% resource.class.invite_key_fields.each do |field| -%>-->
    <%#= f.text_field field ,class: "form-control" ,placeholder:  "*Email" , require: :true %></p>
<!--<#% end -%>-->
<!--<div class="form-group">-->
  <!--<#%= f.collection_select(:country_id, Country.all, :id, :display_name,{:prompt => "*Country"}, { class: "form-control"} )%>-->
  <!--&lt;!&ndash;<i class="fa fa-address-card"></i>&ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group has-feedback">-->
  <!--<#%= f.text_field :mobile , type: :tel,class: "form-control" ,placeholder:  "*Phone number" , required: true%>-->
  <!--&lt;!&ndash;<span class="fa fa-phone form-control-feedback"></span>&ndash;&gt;-->
<!--</div>-->
<!--<div class="form-group has-feedback">-->
  <!--<#% if f.object.class.require_password_on_accepting %>-->
      <!--<div class="form-group">-->
        <!--<#%= f.password_field :password, autocomplete: "current-password",class: "form-control", placeholder: "*Password" %>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<#%= f.password_field :password_confirmation ,class: "form-control", placeholder: "*Confirm Password" %>-->
      <!--</div>-->
  <!--<#%end%>-->
<!--</div>-->
<!--<div class="form-group">-->
  <!--<label class="form-check-label">Join as </label>-->
  <!--<div class="form-check row">-->
    <!--<div class = "col-md-12">-->
          <!--<span class="col-md-5">-->
            <!--<#%= f.radio_button :role , "3",class: "form-check-input" , value: "3"%>-->
            <!--<label class="form-check-label" for= "user_role_3">Cargo Owner</label>-->
          <!--</span>-->
      <!--<span class ="col-md-2"></span>-->
      <!--<span class="col-md-5">-->
            <!--<#%= f.radio_button :role ,"4", class: "form-check-input" , value: "4"%>-->
        <!--<label class="form-check-label" for= "user_role_4">Fleet Owner</label>-->
          <!--</span>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
  <!--<label class="form-check-label">I am  a/an</label>-->
  <!--<div class="form-check row">-->
    <!--<#%= f.fields_for :company do |f| %>-->
        <!--<div class = "col-md-12">-->
              <!--<span class="col-md-5">-->
                 <!--<#%= f.radio_button :company_type,:Individual, class: "form-check-input"%>-->
                <!--<#%= f.label :Individual ,class: "form-check-label", for: "user_company_attributes_company_type_individual"%>-->
              <!--</span>-->
          <!--<span class ="col-md-2"></span>-->
          <!--<span class="col-md-5">-->
                <!--<#%= f.radio_button :company_type,:Company, class: "form-check-input"%>-->
            <!--<#%= f.label :company_type,:Company, class: "form-check-label" , for: "user_company_attributes_company_type_company"%>-->
              <!--</span>-->
        <!--</div>-->
    <!--<#%end%>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-8 sign_up_terms">-->
    <!--<div class="checkbox icheck">-->
      <!--<label>-->
        <!--<input type="checkbox" required> New User agree to the <a href="#">TERMS and CONDITIONS</a> and <a href="#">PRIVACY POLICY</a>-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-6">-->
    <!--<#%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary btn-block btn-flat"%>-->
  <!--</div>-->
<!--</div>-->