<div class="content-wrapper" style="min-height: 539px;">
  <section class = "content">
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-2"></div>
        <div class = "card-body col-md-7">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Cargo Individual</h3>
              <h2></h2>
            </div>
            <div class="card-body register-card-body">
              <%= form_for @admin_cargo, url:admin_cargo_individual_index_path do |f|%>
                  <%= render partial: "form", locals: {f: f, action: "Create"}%>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>