<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="/" class="brand-link logo">
    <span><%= image_tag 'lorryz.png' , alt: "AdminLTE Logo", class: "brand-image img-circle elevation-3" , style: "opacity: .8" %></span>
    <span class="brand-text font-weight-light"><%= current_user.role.humanize.split(" ").first rescue "" %></span>
  </a>

  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <% klass = "menu-open" if @title.present?%>
      <li class="nav-item">
            <%= link_to cargo_root_path, class: "nav-link #{@driver_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Dashboard</p>
            <%end%>
          </li>

            <li class="nav-item"> 
            <%= link_to shipment_stats_cargo_shipments_path(:end_date => Date.today() ,:start_date=> Date.today() - 7.day), class: "nav-link #{@driver_link}" do %>
                <i class="fa fa-bar-chart nav-icon"></i>
                <p>Stats Board</p>
            <%end %>
          </li> 
    <li class="nav-item has-treeview <%= klass%>">
      <a href="#" class="nav-link <%= klass == 'menu-open' ? 'active' : ''  %>">
        <i class="nav-icon fa fa-dashboard"></i>
        <p>
          Shipments
          <i class="right fa fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
            <%= link_to new_cargo_shipment_path , class: "nav-link #{@new}" do%>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>New</p>
            <%end%>
        </li>
        <li class="nav-item">
          <%= link_to posted_cargo_shipments_path, class: "nav-link #{@posted}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Posted</p> (<%=Shipment.where(company_id: current_user.company_id).posted.count%>)
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to upcoming_cargo_shipments_path , class: "nav-link #{@upcoming} #{@accepted} #{@vehicle_assigned}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Upcoming</p> (<%= Shipment.where(company_id: current_user.company_id, state: ["accepted", "vehicle_assigned"]).count%>)
          <%end%>
        </li>
        <li class="nav-item">
            <%= link_to ongoing_cargo_shipments_path , class: "nav-link #{@ongoing}" do%>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>Ongoing</p> (<%=Shipment.where(company_id: current_user.company_id).ongoing.count%>)
            <%end%>
        </li>

        <li class="nav-item">
          <%= link_to completed_cargo_shipments_path , class: "nav-link #{@completed} #{@cancel}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Completed</p> (<%=Shipment.where(company_id: current_user.company_id).where('state =? OR (state=? AND cancel_by=?)', "completed",'cancel','cargo_owner').count%>)
          <%end%>
        </li>
      </ul>
    </li>
    
    <%# <li class="nav-item"> %>
      <%# <%= link_to cargo_payments_path , class: "nav-link #{@payment}" do%> 
        <%# <i class="fa fa-money  nav-icon"></i> %>
        <%# <p>Payments</p> %>
      <%# <%end%> 
    <%# </li> %>
  </ul>

</aside>