<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">We’re Here to Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag(contact_dashboard_index_path,remote: true) do %>
        <div class="modal-body">
          <div class="container">
            <div class="form-group">
              <%= text_field_tag "user[name]" ,nil,class: "form-control",placeholder: "Name",:required => true%>
            </div>
            <div class="form-group">
              <%= email_field_tag "user[email]" ,nil,class: "form-control",placeholder: "Email",:required => true%>
            </div>
            <div class="form-group">
              <%= telephone_field_tag "user[phone_no]" ,nil,class: "form-control",placeholder: "Phone Number",:required => true%>
            </div>

            <div class="form-group">
              <%= text_area_tag "user[message]" ,nil,class: "form-control",placeholder: "Message",:required => true%>
            </div>

            <div class="form-group">
              <%= recaptcha_tags(display: {theme: 'clean'}, ajax: true) %>
            </div>
            
              
          </div>
        </div>
          

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>
