<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="/" class="brand-link logo">
    <span><%= image_tag 'lorryz.png' , alt: "AdminLTE Logo", class: "brand-image img-circle elevation-3" , style: "opacity: .8" %></span>
    <span class="brand-text font-weight-light"><%= current_user.role.humanize.split(" ").first rescue "" %></span>
  </a>

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <% klass = "menu-open" if @title.present?%>
  <li class="nav-item has-treeview <%= klass%>">
    <a href="#" class="nav-link <%= klass == 'menu-open' ? 'active' : ''  %>">
      <i class="nav-icon fa fa-dashboard"></i>
      <p>
        Shipments
        <i class="right fa fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <%= link_to posted_fleet_shipments_path , class: "nav-link #{@new} #{@posted}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>New</p>
        <%end%>
      </li>

      <li class="nav-item">
        <%= link_to active_fleet_shipments_path , class: "nav-link #{@active} " do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Active</p>
        <%end%>
      </li>

      <li class="nav-item">
        <%= link_to won_fleet_shipments_path , class: "nav-link #{@won} #{@accepted}" do%>
          <i class="fa fa-circle-o nav-icon"></i>
          <p>Won</p>
        <%end%>
      </li>

      <li class="nav-item">
        <%= link_to ongoing_fleet_shipments_path , class: "nav-link #{@ongoing} #{@vehicle_assigned}  #{@ongoing}  #{@loading}  #{@en_route}  #{@unloading} " do%>
          <i class="fa fa-circle-o nav-icon"></i>
          <p>Ongoing</p>
        <%end%>
      </li>

      <li class="nav-item">
        <%= link_to completed_fleet_shipments_path , class: "nav-link #{@completed} #{@cancel}" do%>
          <i class="fa fa-circle-o nav-icon"></i>
          <p>Completed</p>
        <%end%>
      </li>
    </ul>
  </li>
  <li class="nav-item has-treeview <%= @vehicles_title.present? ? 'menu-open' : ''%> ">
    <a href="#" class="nav-link <%= @vehicles_title.present? ? 'active' : ''  %>">
      <i class="nav-icon fa fa-truck"></i>
      <p>
        Vehicles
        <i class="right fa fa-angle-left"></i>
      </p>
    </a>
    <% @vehicles_title.present? ? (display =  "block") : (display =   "none" ) %>
    <ul class="nav nav-treeview" style="display: <%= display %>;">
      <%unless current_user.company.individual? and current_user.company.vehicles.present? %>
        <li class="nav-item">
          <%= link_to new_fleet_vehicle_path, class: "nav-link #{@vehicles_title.present? ?  @new : ''}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>Add vehicle</p>
          <%end%>
        </li>
      <%end%>
      <li class="nav-item">
        <%= link_to fleet_vehicles_path, class: "nav-link #{@vehicles_title.present? ?  @index : ''}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>All Vehicle</p>
        <%end%>
      </li>
    </ul>
  </li>
  <%unless current_user.company.individual? %>
    <li class="nav-item has-treeview <%= @drivers_title.present? ? 'menu-open' : ''%>">
      <a href="#" class="nav-link <%= @drivers_title.present? ? 'active' : ''%>">
        <i class="nav-icon fa fa-user-circle"></i>
        <p>
          Drivers
          <i class="right fa fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview" style="display: <%= @drivers_title.present? ? 'block' : 'none' %>;">
        <li class="nav-item">
          <%= link_to new_fleet_driver_path, class: "nav-link #{@drivers_title.present? ?  @new : ''}" do%>
              <i class="fa fa-circle-o nav-icon"></i>
              <p>Add Driver</p>
          <%end%>
        </li>
        <li class="nav-item">
          <%= link_to fleet_drivers_path, class: "nav-link #{@drivers_title.present? ? @index : ""}" do%>
            <i class="fa fa-circle-o nav-icon"></i>
            <p>All Drivers</p>
          <%end%>
        </li>
      </ul>
    </li>
  <%end%>
  <li class="nav-item">
    <%= link_to fleet_payments_path , class: "nav-link #{@payment}" do%>
      <i class="fa fa-money  nav-icon"></i>
      <p>Payments</p>
    <%end%>
  </li>
</ul>

</aside>