<div class="header-holder">
  <div class="header-container">
    <div class="row">
      <div class="col-8 col-sm col-md-3">
        <div class="logo">
          <a  class="page-scroll" href="<%= root_path %>"><%= image_tag 'lorryz-logo.png' , alt: ""%></a>
        </div>
      </div>
      <div class="col-4 col-sm col-md-9">
      	<div class="menu-btn">
            <div class="navi-icon right-menu">
             <span></span>
             <span></span>
             <span></span>
             <span></span>
           </div>
        </div>
        <div class="navigation-holder">
          <ul class="navigation">
            <% if user_signed_in? %>
             <% if current_user.superadmin?  || current_user.admin? %>
                        <li> <a  class="page-scroll" href="<%= dashboard_index_path %>">Home</a> </li>
            <%elsif  current_user.moderator?  %>
                        <li> <a  class="page-scroll" href="<%= dashboard_index_path %>">Home</a> </li>
            <% else %>

                        <li> <a  class="page-scroll" href="<%= dashboard_index_path %>">Home</a> </li>
            <%end%> 
            <% else %>
            <li> <a  class="page-scroll" href="<%= params[:action] == 'home' ? '/#home': request.base_url+'#home'%>">Home</a> </li>
            <% end %>
            <li> <a  class="page-scroll" href="/#how-it-works" class="page-scroll">How it works</a> </li>
            <li> <a  class="page-scroll" href="<%= params[:action] == 'home' ? '/#about-us': request.base_url+'#about-us'%>" class="page-scroll">About us</a> </li>
            <!-- <li> <a  class="page-scroll" href="#">Testimonials</a> </li> -->
            <li> <a  class="page-scroll" href="<%= track_index_path %>">Track</a> </li>
            <li> <a  class="page-scroll" href="" data-toggle="modal" data-target="#contact_us">Contact us</a> </li>
            <li> <a  class="page-scroll" href="<%= blogs_path %>">Blog</a> </li>
                     
             <li>  
             
    
                <div class="btn-group">
          
              

                <form name="cityselect">
    <select name="menu" onChange="window.document.location.href=this.options[this.selectedIndex].value;"  class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="GO">
                         <div class="dropdown-menu">
        <option class="dropdown-item" id = "UAE"  selected="selected" value='/dashboard/home?country=1'>UAE</option>
        <option class="dropdown-item" id ="PK" value='/dashboard/home_pk?country=2'>Pakistan</option>
        </div>
    </select>
</form>
   </div> 
                </li>
               
                
                          <%if current_user.present? %>
                         <% if current_user.superadmin?  || current_user.admin?   %>
                     <li> <a  class="page-scroll" href="/admin/onlinedrivers">Dashboard</a> </li>         
  <%elsif  current_user.moderator?  %>
                     <li> <a  class="page-scroll" href="/moderator/onlinedrivers">Dashboard</a> </li>         
           <%else%>
              <li><a  class="page-scroll" href="<%= dashboard_index_path %>" class="">Dashboard</a></li>

              <%end%> 
            
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete%></li>
            <%else%>
              <%#debugger %>
              <li><a  class="page-scroll <%= request.path == "/users/sign_in" ? "active" : "" %>" href="<%= user_session_path %>">login</a></li>
              <li><a  class="page-scroll <%= request.path == "/users/sign_up" ? "active" : "" %>" href="<%= new_user_registration_path %>" >signup</a></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var url=document.location.href;

const substring = "home_pk";
  if (url.includes(substring))
  {
    document.getElementById("PK").selected="selected";
  }
</script>