<ul class="navbar-nav notifications">
  <li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
      <i class="fa fa-bell-o fa-2x"></i>
      <%unread_notifications= notifications.where(viewed_flag: false)
      if unread_notifications.present?%>
        <span class="badge badge-warning navbar-badge notifications_count"><%= unread_notifications.count %></span>
      <%end %>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <% notifications.each do |notif| %>
        <a href="#" class="dropdown-item">
          <div class="media">
            <%= image_tag "truck.png" , style: "height: 25px;width: 30px;"%>
            <div class="media-body">
              <p class="text-sm" style='color:black'>
                <%=notif.body %>
              </p>
              <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i>
                <%= time_ago_in_words notif.created_at %>
              </p>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
    <%end %>
    </div>
  </li>
</ul>