<div class="user-info-holder">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown"  href="#">
        <span class="image">
          <% @info = current_user.try(:company).try(:company_type) == "company" ? current_user.company.company_information : current_user.company.individual_information%>
          <% if @info.present?%>
            <%avatar = @info.try(:avatar).to_s rescue ""%>
            <%avatar = avatar.present?  ? avatar : "avatar.jpeg" %>
            <%= image_tag(avatar,class: "img-circle elevation-2" )%>
            <%#= image_tag(@info.avatar,class: "img-circle elevation-2" )%>
          <%end%>
          <span class="verified">
            <%if current_user.company.featured?%>
              <i class="fa fa-check-circle" style="color: #3193CD"></i>
            <%elsif current_user.company.verified?%>
              <i class="fa fa-check-circle" style="color: #28a745"></i>
            <%end%>
          </span>
        </span>
        <span class="info">
          <%=current_user.first_name%>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <%  company_type = current_user.company.company_type.capitalize rescue "" %>
        <%=link_to "Edit #{company_type} Information" , edit_companies_path , class: "dropdown-item"%>
        <div class="dropdown-divider"></div>
        <%= link_to "Edit Profile" ,edit_user_registration_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
</div>