<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t 'title' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'admin_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="turbolinks-cache-control" content="no-cache">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1HWmKW_bjT7fYjh1wzVHmZ9C5JQFEaLw&libraries=places&callback=initMap"></script>
  <%= favicon_link_tag('favicon-32x32.png') %>
</head>
<%= render partial: "layouts/google_analytics"%>
<%link_to  "Logout",destroy_user_session_path  , method: :delete%>
<!--<br>-->
<%link_to  "Log in",new_user_session_path %>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand border-bottom navbar-dark bg-info navbar-fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link openmenu" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to "Home", root_path , class: "nav-link"%>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <%= link_to "Logout", destroy_user_session_path,:method => :delete , class: "nav-link"%>
      </li>
       
    </ul>
     <ul class="navbar-nav"  style ="float:right"2>
   
<li class="nav-item d-none d-sm-inline-block" style ="float:right">
                        <%= link_to "Change Password", change_password_admin_users_path(:id => current_user.id) , class: "nav-link" , remote: true  %>
                </li>     

    </ul>

     <ul class="navbar-nav"  style ="float:right"2>

      <li class="nav-item d-none d-sm-inline-block">

    <%= render partial: "/layouts/notifications" , locals: {notifications: Notification.from_last_week(current_user) }%>
 </li>

    </ul>
 
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link bg-white">
      <span><%= image_tag 'lorryz.png' , alt: "AdminLTE Logo ", class: "brand-image" , style: "opacity: .8" %></span>
      <span class="brand-text font-weight-light"><%= current_user.role.humanize.split(" ").first rescue "" %></span>
    </a>
    <div class="sidebar">
       <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <a href = "#">
            <%= image_tag "user8-128x128.jpg", class: "img-circle elevation-2" ,alt: "User Image" %>
          </a>
        </div>
        <div class="info">
          <a href="#"><span><%=current_user.try(:full_name)%></span></a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
               
                <li class="nav-item">
            <%= link_to '/moderator/onlinedrivers' , 'data-no-turbolink' => true , class: "nav-link #{@driver_link}" do%>
                <i class="fa fa-file nav-icon"></i>
                <p>Dashboard</p>
            <%end%>
          </li>
              
               <li class="nav-item">
            <%= link_to moderator_gps_vehicle_index_path , class: "nav-link #{@gps_link}" do%>
                <i class="fa fa-bookmark nav-icon"></i>
                <p>GPS</p>
            <%end%>
            </a>
          </li>
            <li class="nav-item">
            <%= link_to moderator_shipment_posted_path , class: "nav-link #{@shipment_dashboard_link}" do%>
                <i class="fa fa-user-circle-o nav-icon"></i>
                <p>Shipments Dashboard</p>
            <%end%>
          </li>
         
          <li class="nav-item">
            <%= link_to moderator_cargo_owners_path , class: "nav-link #{@cargo_owners_link}" do%>
                <i class="fa fa-user-circle-o nav-icon"></i>
                <p>Cargo Owners</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to moderator_fleet_owners_path, class: "nav-link #{@fleet_owners_link}" do%>
                <i class="fa fa-truck nav-icon"></i>
                <p>Fleet Owners</p>
            <%end%>
          </li>
  <li class="nav-item">
            <%= link_to moderator_vendor_index_path, class: "nav-link #{@vendors_link}" do%>
                <i class="fa fa-briefcase nav-icon"></i>
                <p>Vendors</p>
            <%end%>
          </li>
          
            <li class="nav-item">
            <%= link_to moderator_soa_index_path , class: "nav-link #{@soa_link}" do%>
                <i class="fa fa fa-sticky-note-o nav-icon"></i>
                <p>SOA</p>
            <%end%>
            </a>
          </li>

           <li class="nav-item">
            <%= link_to moderator_instant_rates_path , class: "nav-link #{@instant_rates_link}" do%>
                <i class="fa fa-user-circle-o nav-icon"></i>
                <p>Instant Rates Tab</p>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to moderator_shipments_path , class: "nav-link #{@shipment_link}" do%>
                <i class="fa fa-dashboard nav-icon"></i>
                <p>Shipments</p>
            <%end%>
          </li>
               <li class="nav-item">
            <%= link_to moderator_enquiries_path , class: "nav-link #{@enquries_link}" do%>
                <i class="fa fa-question-circle-o nav-icon"></i>
                <p>Enquiries</p>
            <%end%>
            </a>
          </li>

      <li class="nav-item">
            <%= link_to moderator_admin_notification_index_path , class: "nav-link #{@moderator_notification_link}" do%>
                <i class="fa fa-bell nav-icon"></i>
                <p>Notifications</p>
            <%end%>
          </li>

             <li class="nav-item">
            <%= link_to moderator_preferred_location_index_path , class: "nav-link #{@preferred_location_link}" do%>
                <i class="fa fa-building nav-icon"></i>
                <p>Preferred Location</p>
            <%end%>
            </a>
          </li>

          <li class="nav-item">
            <%= link_to moderator_payments_path , class: "nav-link #{@payments_link}" do%>
                <i class="fa fa-money  nav-icon"></i>
                <p>Payments</p>
            <%end%>
          </li>
       
          
        </ul>
      
      </nav>
     
    </div>
    
  </aside>
  <%= render partial: "layouts/flash" %>
  <%= yield %>
  <div class=" modal fade" id = "rate_shipment_modal" role="" ></div>
  <div class=" modal fade" id = "shipment_invoice_modal" role="" ></div>
  <div class= "modal fade"  id="assign_vehicle_modal" role=""  ></div>
  <div class= "modal fade"  id="assign_cost_modal" role=""  ></div>
</div>
</body>
</html>
