<div class="map-form-bg">
  <%=render partial: "users/shared/waiting_trucks"%>
  <div class="map-form">
    <h2>Verify Your Mobile Number</h2>

    <%= form_tag users_mobile_verification_path  do %>
      <%=hidden_field_tag :unverified_user_id , @unverified_user.id%>
      <div class = "notification"> </div>
      <%# render 'layouts/error_messages', object: resource %>
      <div class="form-row">
        <%= text_field_tag :verification_code, "",autofocus: true,required: true, 'data-inputmask': "'mask': '9999'", autocomplete: "Enter code",class: "input-field", placeholder: "Enter code" %>
        <!--<span class="fa fa-user form-control-feedback"></span>-->
      </div>
      
      <div class="form-row">
        <div class = "pull-right">
          <%=link_to "Resend Code" ,send_verification_code_path(@unverified_user.id) ,remote: :true, class: "submit-btn"%>
          <button type="submit" class="submit-btn">Activate</button>
        </div>
      </div>
      <!--<div class="form-row">-->
      <!--</div>-->
    <% end %>

  </div>
</div>


